
<div class="container">
    <div class="row mt-4"> <h3>Subsecuente</h3></div>
    <div class="row">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
        </mat-form-field>
    </div>

    <div class="row">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Poliza Column -->
            <ng-container matColumnDef="poliza">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Póliza </th>
                <td mat-cell *matCellDef="let row"> {{row.poliza}} </td>
            </ng-container>

            <!-- Ramo Column -->
            <ng-container matColumnDef="ramo">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Ramo </th>
                <td mat-cell *matCellDef="let row"> Auto </td>
            </ng-container>

            <!-- Aseguradora Column -->
            <ng-container matColumnDef="compañia">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Aseguradora </th>
                <td mat-cell *matCellDef="let row"> {{row.nombreComercial}}</td>
            </ng-container>

            <!-- Prima total Column -->
            <ng-container matColumnDef="primaTotal">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Prima total </th>
                <td mat-cell *matCellDef="let row"> {{row.primaTotal | currency:'USD':'symbol':'1.0-0'}} </td>
            </ng-container>

            <!-- Prima neta Column -->
            <ng-container matColumnDef="primaNeta">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Prima Neta </th>
                <td mat-cell *matCellDef="let row"> {{row.primaNeta | currency:'USD':'symbol':'1.0-0'}} </td>
            </ng-container>

            <!--  Marca Column -->
            <ng-container matColumnDef="marca">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
                <td mat-cell *matCellDef="let row"> {{row.datosProductoCliente.marca}} </td>
            </ng-container>

            <!--  SubMarca Column -->
            <ng-container matColumnDef="submarca">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Submarca </th>
                <td mat-cell *matCellDef="let row"> {{row.datosProductoCliente.descripcion}} </td>
            </ng-container>

            <!--  Modelo Column -->
            <ng-container matColumnDef="modelo">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
                <td mat-cell *matCellDef="let row"> {{row.datosProductoCliente.modelo}} </td>
            </ng-container>

            <!--  Inicio vigencia Column -->
            <ng-container matColumnDef="inicioVigencia">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Inicio vigencia </th>
                <td mat-cell *matCellDef="let row"> {{row.fechaInicio | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <!--  Fecha limite Column -->
            <ng-container matColumnDef="fechaLimite">
                <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> Fecha limite </th>
                <td mat-cell *matCellDef="let row">{{row.fechaVencimiento | date: 'dd/MM/yyyy'}}  </td>
            </ng-container>
            <!--  Numero de recibo -->
            <ng-container matColumnDef="numRecibo">
               <th class="tableFormat" mat-header-cell *matHeaderCellDef mat-sort-header> N° Recibo </th>
               <td mat-cell *matCellDef="let row"> {{row.numRecibo}} de {{row.cantidadPagos}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[20]" aria-label="Select page of cobranza"></mat-paginator>
    </div>
</div>