<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>

<div class="container-fluid">
    <div class="row page-titles mx-0" [hidden]="">
        <div class="col-12 p-md-0 mt-4">
            <h3 class="col-auto font-weight-bold p-0">
                <strong>Ingresa los datos para cotizar:</strong>
            </h3>
        </div>
    </div>
    <div class="row" [hidden]="" style="margin-bottom: 300px;">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4"  style="margin-top: 50px;">
                    <img src="assets/images/otrosRamosGo/gastos-medicos.png" class="mt-1 img-fluid" alt="logos" style="width:100%;display:block;height:auto;margin:auto;" />
                </div>
                <div class="col-12 col-md-8">
                    <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="margin-top: 20px;">
                        <div class="card-body">
                            <form [formGroup] = "cotizarGastos" (ngSubmit)="btnCotizar()">
                                <div class="row">

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="nivelHospitalarioMedicosGas" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Nivel Hospitalario</option>
                                            <option value="Bajo">Bajo</option>
                                            <option value="Medio">Medio</option>
                                            <option value="Premium">Prémium</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.nivelHospitalarioMedicosGas.touched && erroresDeFormGmm.nivelHospitalarioMedicosGas.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="coverturasAddMedicosGas" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Coberturas Adicionales</option>
                                            <option value="Si">Si</option>
                                            <option value="No">No</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.coverturasAddMedicosGas.touched && erroresDeFormGmm.coverturasAddMedicosGas.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="generoMedicosGas" class="form-control form-control-lg" (blur)="updateData()" (change)="changeNameValidators()">
                                            <option value="">Género</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                            <option value="MORAL">Persona Moral</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.generoMedicosGas.touched && erroresDeFormGmm.generoMedicosGas.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="edadMedicosGas" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Edad</option>
                                            <option *ngFor="let edadGeneradaVista of edadGenerada" value="{{edadGeneradaVista}}">{{edadGeneradaVista}}</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.edadMedicosGas.touched && erroresDeFormGmm.edadMedicosGas.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <input type="text" formControlName="codigoPMedicosGas" placeholder="Código Postal" class="form-control form-control-lg"
                                               value="" maxlength="5" minlength="5" (blur)="updateData()" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.codigoPMedicosGas.touched && erroresDeFormGmm.codigoPMedicosGas.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar CP
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.codigoPMedicosGas.touched && erroresDeFormGmm.codigoPMedicosGas.errors?.pattern">
                                            <div class="ml-3">
                                                Campo inválido formato incorrecto
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <input type="text" formControlName="telefonoMedicosGas" placeholder="Teléfono" class="form-control form-control-lg"
                                               value="" maxlength="10" minlength="10" (blur)="updateData()" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.telefonoMedicosGas.touched && erroresDeFormGmm.telefonoMedicosGas.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar teléfono.
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.telefonoMedicosGas.touched && erroresDeFormGmm.telefonoMedicosGas.errors?.pattern">
                                            <div class="ml-3">
                                                Campo inválido, revisa que el teléfono solo contenga números y sea a 10 dígitos.
                                            </div>
                                        </div>
                                        <!--                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="submitted && erroresDeFormGmm.telefonoMedicosGas.errors?.pattern">-->
                                        <!--                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>-->
                                        <!--                                            <div class="ml-3">-->
                                        <!--                                                Campo inválido formato incorrecto no debe llevar espacios ni caracteres raros-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <!--                                        <mat-error *ngIf="submitted && erroresDeFormGmm.telefonoMedicosGas.errors">Ingresa tu numero telefonico</mat-error>-->
                                    </div>

                                    
                                    <div class="col-12 form-group" >
                                        <!--se ponen 86 caracteres tomando en cuenta el nombre y apellido mas largos del mundo que es-->
                                        <!--nombre: Brhadaranyakopanishadvivekachudamani, apellido:OTTOVORDEMGENTSCHENFELDE-->
                                        <input type="text" formControlName="nombreAsegMedicosGas" placeholder="Nombre Completo" class="form-control form-control-lg"
                                               value="" maxlength="86" (blur)="updateData()" >
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.nombreAsegMedicosGas.touched && erroresDeFormGmm.nombreAsegMedicosGas.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar nombre
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.nombreAsegMedicosGas.touched && erroresDeFormGmm.nombreAsegMedicosGas.errors?.pattern && erroresDeFormGmm.generoMedicosGas.value === 'MORAL' ">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Campo inválido, formato incorrecto, el nombre no debe llevar espacios ni caracteres especiales.
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.nombreAsegMedicosGas.touched && erroresDeFormGmm.nombreAsegMedicosGas.errors?.pattern && erroresDeFormGmm.generoMedicosGas.value !== 'MORAL' ">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Campo inválido, formato incorrecto, el nombre no debe llevar espacios, números, ni caracteres especiales.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <input type="text" formControlName="emailAsegMedicosGas" placeholder="Email" class="form-control form-control-lg"
                                               value="" (blur)="updateData()">
                                        <!--                                        <mat-error *ngIf="submitted && erroresDeFormGmm.emailAsegMedicosGas.errors">El email es requerido</mat-error>-->
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.emailAsegMedicosGas.touched && erroresDeFormGmm.emailAsegMedicosGas.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar correo
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.emailAsegMedicosGas.touched && erroresDeFormGmm.emailAsegMedicosGas.errors?.pattern">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                ejemplo : test@test.com
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="numeroAsegMedicosGas" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Número de asegurados</option>
                                            <option *ngFor="let asegurados of aseguradosGenera" value="{{asegurados}}">{{asegurados}}</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresDeFormGmm.numeroAsegMedicosGas.touched && erroresDeFormGmm.numeroAsegMedicosGas.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button id="btnCotizarAuto" type="submit" class="btn btn-success btn-block" [disabled]="cotizarGastos.invalid">
                                            <p class="lead font-weight-bold my-3 text-white">Cotizar Ahora<img
                                                    src="assets/images/chevron-right-bn.svg" alt=">" width="25"
                                                    height="25" /></p>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

