<div class="container-fluid my-md-5">
    <div class="row page-titles mx-0">
        <div class="col-sm-12 p-md-0">
            <h3 class="col-auto font-weight-bold p-0">
                <strong>Cotiza y emite fácilmente con:</strong>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="slider" class="hovericons">
<!--                <div class="row">-->
<!--                    <div class="col-6 col-sm-12 col-md-2" *ngFor="let insruance of rutasEntrada">-->
<!--                        <div class="card shadow-lg p-3 mb-5 bg-body rounded-top" style="margin: 20px">-->
<!--                            &lt;!&ndash;                        <div class="card text-dark bg-light mb-3 shadow-lg p-3 mb-5 bg-body rounded-top" style="">&ndash;&gt;-->

<!--                            <div class="card-body " >-->
<!--                                <a rel="preconnect" (click)="sendCotizacionAseguradora(insruance.insurance_carrier)" title="{{ insruance.insurance_carrier }}"  >-->
<!--                                    <img class="rounded mx-auto d-block" src="assets/images/logosgo/go-color.svg" alt="log" style="width: 75px; height: 50px;">-->
<!--                                    <p>{{ insruance.nombreClave }}</p>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                <div class="row">
                    <div class="col-12">
                        <div id="gastosMedicosMayores" class="hovericons">
                            <div class="row">
                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="GASTOS MEDICOS MAYORES">
                                            <a rel="preconnect" (click)="sendCotizacionAseguradora('gastos-medicos')" title="GASTOS MEDICOS MAYORES">
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/1.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">GASTOS MEDICOS MAYORES</strong>
                                    </div>
                                </div>

                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="SEGURO DE VIDA">
                                            <a rel="preconnect" (click)="sendCotizacionAseguradora('seguro-vida')" title="SEGURO DE VIDA"  >
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/seguro-de-vida.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">SEGURO DE VIDA</strong>
                                    </div>
                                </div>

                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="SEGURO GRUPAL">
                                            <a rel="preconnect" (click)="sendCotizacionAseguradora('seguro-grupal')" title="SEGURO GRUPAL"  >
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/2.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">SEGURO GRUPAL</strong>
                                    </div>
                                </div>

                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="SEGURO DE HOGAR">
                                            <a rel="preconnect" (click)="sendCotizacionAseguradora('seguro-hogar')" title="SEGURO DE HOGAR"  >
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/4.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">SEGURO DE HOGAR</strong>
                                    </div>
                                </div>

                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="SEGURO DE VIAJE">
                                            <a rel="preconnect" (click)="sendCotizacionAseguradora('seguro-viaje')" title="SEGURO DE VIAJE"  >
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/5.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">SEGURO DE VIAJE</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

