<!--<div *ngIf="loaderGo" class="overlayLeo">-->
<!--    <small class="text-muted text-center m-auto" style="position:absolute;top:53%;left:50%">Conectando con-->
<!--        {{this.aseguradoraSelected}}</small>-->
<!--    <div class="sk-three-bounce">-->
<!--        <div class="sk-child sk-bounce1"></div>-->
<!--        <div class="sk-child sk-bounce2"></div>-->
<!--        <div class="sk-child sk-bounce3"></div>-->
<!--    </div>-->
<!--</div>-->
<!--  -->
<div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="card rounded">
            <!-- <div *ngIf="loadExternalTerminal">
                <iframe width="100%" height="300" [src]="externalTerminalURL | safe"></iframe>
            </div> -->
            <!-- <div *ngIf="!loadExternalTerminal"> -->
            <mat-horizontal-stepper [linear]="true" #stepper>



                <!--                datos personales-->
                <mat-step [stepControl]="datosPersonales" [editable]="true">
                    <ng-template matStepLabel>Personales</ng-template>
                    <form [formGroup]="datosPersonales">
                        <div id="test-l-1" class="content">
                            <hr class="separador">
                            <div class="form-group">
                                <div id="datosConductor" class="form-row mt-0 mt-lg-2">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pb-1 pb-lg-3">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Nombre(s)</label></mat-label>
                                            <input (focusout)="updateData(2)" name="Nombre" id="Nombre" aria-label="Nombre del cliente" maxlength="25" type="text" placeholder="Nombres" matInput formControlName="nombre" (focusout)="calcularRfc()" [ngClass]="{'is-valid-d': (!datos_personales.nombre.errors && datos_personales.nombre.dirty), 'is-invalid': datos_personales.nombre.errors && submitted || datos_personales.nombre.errors && datos_personales.nombre.dirty}"
                                                   class="form-control inputlleno input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.nombre.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El nombre es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Apellido Paterno</label></mat-label>
                                            <input (focusout)="updateData(2)" placeholder="Apellido paterno" matInput formControlName="aPaterno" name="ApellidoPat" id="ApellidoPat" aria-label="Apellido paterno" maxlength="25" type="text" (focusout)="calcularRfc();testCurp()" [ngClass]="{'is-valid-d': (!datos_personales.aPaterno.errors && datos_personales.aPaterno.dirty), 'is-invalid': datos_personales.aPaterno.errors && submitted || datos_personales.aPaterno.errors && datos_personales.aPaterno.dirty}"
                                                   class="form-control inputlleno input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.aPaterno.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Apellido Paterno es obligatorio
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Apellido Materno</label></mat-label>
                                            <input (focusout)="updateData(2)" placeholder="Apellido materno" name="ApellidoMat" matInput formControlName="aMaterno" id="ApellidoMat" (focusout)="calcularRfc();testCurp()" aria-label="Apellido materno" maxlength="25" type="text" [ngClass]="{'is-valid-d': (!datos_personales.aMaterno.errors && datos_personales.aMaterno.dirty), 'is-invalid': datos_personales.aMaterno.errors && submitted || datos_personales.aMaterno.errors && datos_personales.aMaterno.dirty}"
                                                   class="form-control inputlleno input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.aMaterno.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Apellido Materno es obligatorio
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Fecha de nacimiento</label></mat-label>
                                            <input (focusout)="updateData(2)" type="date" class="form-control" [maxLength]="10" [ngClass]="{'is-valid-d': (!datos_personales.fechaNacimiento.errors && datos_personales.fechaNacimiento.dirty), 'is-invalid': datos_personales.fechaNacimiento.errors && submitted || datos_personales.fechaNacimiento.errors && datos_personales.fechaNacimiento.dirty}"
                                                   maxlength="10" name="trip-start" placeholder="MM.dd.yyyy" matInput formControlName="fechaNacimiento" (focusout)="calcularRfc();testCurp()" />
                                            <mat-error *ngIf="datos_personales.fechaNacimiento.errors">
                                                <small class="form-text text-danger ml-2">
                                                    La Fecha de Nacimiento es obligatorio
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Entidad de Nacimiento</label>
                                            </mat-label>
                                            <mat-select id="estado" name="estado" (selectionChange)="calcularRfc(); updateData(2)" required="required" formControlName="nacimientoEstado" class="selected-g">
                                                <mat-option value="AS">AGUASCALIENTES</mat-option>
                                                <mat-option value="BC">BAJA CALIFORNIA</mat-option>
                                                <mat-option value="BS">BAJA CALIFORNIA SUR</mat-option>
                                                <mat-option value="CC">CAMPECHE</mat-option>
                                                <mat-option value="CL">COAHUILA DE ZARAGOZA</mat-option>
                                                <mat-option value="CM">COLIMA</mat-option>
                                                <mat-option value="CS">CHIAPAS</mat-option>
                                                <mat-option value="CH">CHIHUAHUA</mat-option>
                                                <mat-option value="DF">CDMX</mat-option>
                                                <mat-option value="DG">DURANGO</mat-option>
                                                <mat-option value="GT">GUANAJUATO</mat-option>
                                                <mat-option value="GR">GUERRERO</mat-option>
                                                <mat-option value="HG">HIDALGO</mat-option>
                                                <mat-option value="JC">JALISCO</mat-option>
                                                <mat-option value="MC">MEXICO</mat-option>
                                                <mat-option value="MN">MICHOACAN DE OCAMPO</mat-option>
                                                <mat-option value="MS">MORELOS</mat-option>
                                                <mat-option value="NT">NAYARIT</mat-option>
                                                <mat-option value="NL">NUEVO LEON</mat-option>
                                                <mat-option value="OC">OAXACA</mat-option>
                                                <mat-option value="PL">PUEBLA</mat-option>
                                                <mat-option value="QT">QUERETARO DE ARTEAGA</mat-option>
                                                <mat-option value="QR">QUINTANA ROO</mat-option>
                                                <mat-option value="SP">SAN LUIS POTOSI</mat-option>
                                                <mat-option value="SL">SINALOA</mat-option>
                                                <mat-option value="SR">SONORA</mat-option>
                                                <mat-option value="TC">TABASCO</mat-option>
                                                <mat-option value="TS">TAMAULIPAS</mat-option>
                                                <mat-option value="TL">TLAXCALA</mat-option>
                                                <mat-option value="VZ">VERACRUZ</mat-option>
                                                <mat-option value="YN">YUCATAN</mat-option>
                                                <mat-option value="ZS">ZACATECAS</mat-option>
                                                <mat-option value="NE">EXTRANJERO</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="datos_personales.nacimientoEstado.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Estado es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Teléfono</label></mat-label>
                                            <input (focusout)="updateData(2)" name="telefono" id="telefono" maxlength="10" formControlName="telefono" aria-label="(55-55-55-55-55)" type="text" placeholder="(55-55-55-55-55)" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.telefono.errors && datos_personales.telefono.dirty), 'is-invalid': datos_personales.telefono.errors && submitted || datos_personales.telefono.errors && datos_personales.telefono.dirty}"
                                                   class="form-control input" aria-required="true" aria-invalid="false" (keypress)="numberOnly($event)">
                                            <mat-error *ngIf="datos_personales.telefono.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El teléfono es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Email</label></mat-label>
                                            <input (focusout)="updateData(2)" name="email" aria-label="Numero interior" maxlength="50" type="text" formControlName="correo" placeholder="Email" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.correo.errors && datos_personales.correo.dirty), 'is-invalid': datos_personales.correo.errors && submitted || datos_personales.correo.errors && datos_personales.correo.dirty}"
                                                   class="form-control input">
                                            <mat-error *ngIf="datos_personales.correo.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Email es requerido en formato correcto.
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">RFC</label></mat-label>
                                            <input (focusout)="updateData(2)" (click)="calcularRfc()" formControlName="rfc" name="RFC" id="RFC" maxlength="13" aria-label="RFC" type="text" placeholder="RFC" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.rfc.errors && datos_personales.rfc.dirty), 'is-invalid': datos_personales.rfc.errors && submitted || datos_personales.rfc.errors && datos_personales.rfc.dirty}"
                                                   class="form-control input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.rfc.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El RFC es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">CURP</label></mat-label>
                                            <input (focusout)="updateData(2)" name="curp" id="curp" aria-label="curp" maxlength="50" type="text" formControlName="curp" placeholder="CURP" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.curp.errors && datos_personales.curp.dirty), 'is-invalid': (datos_personales.curp.errors && datos_personales.curp.dirty)}"
                                                   class="form-control input">
                                            <!--(click)="testCurp()"-->
                                            <mat-error *ngIf="datos_personales.curp.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El curp es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <button mat-button matStepperNext (click)="changeStatusEmisionNext('clientData')" class="btn btn-lg btn-primary float-right btn-blocky font-weight-bold btn-sig">
                                    Siguiente
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-step>





                <!--                datos direccion-->
                <mat-step [stepControl]="datosDireccion" [editable]="true">
                    <ng-template matStepLabel>Dirección</ng-template>
                    <form [formGroup]="datosDireccion">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Estado | Ciudad</label></mat-label>
                                    <input (focusout)="updateData(3)" type="text" matInput formControlName="estadoMun" readonly="readonly" class="form-control" aria-required="true" aria-invalid="false">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Selecciona tu colonia</label></mat-label>
                                    <mat-select  *ngIf="emisionRequest.aseguradora != 'AFIRME'" id="estado" name="estado" required="required" formControlName="colonia" class="selected-g" (selectionChange)="updateData(3)">
                                        <mat-option *ngFor="let colonia of colonias" [value]="(colonia.asenta)?colonia.asenta:colonia.descripcion">
                                            {{(colonia.asenta)?colonia.asenta:colonia.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-select  *ngIf="emisionRequest.aseguradora === 'AFIRME'" id="estado2" name="estado" required="required" formControlName="colonia" class="selected-g" (selectionChange)="updateData(3)">
                                        <mat-option *ngFor="let colonia of cAfirme" [value]="(colonia.nombreColonia)?colonia.nombreColonia +'-'+ colonia.idColonia:''">
                                            {{(colonia.nombreColonia)?colonia.nombreColonia:'hola'}}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error *ngIf="datos_direccion.colonia.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Estado es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Calle</label></mat-label>
                                    <input (focusout)="updateData(3)" formControlName="calleNum" matInput name="Calle" id="Calle" aria-label="Calle" maxlength="150" type="text" placeholder="Calle" required="required" class="form-control input" aria-required="true" aria-invalid="false" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Calle es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número Exterior</label></mat-label>
                                    <input (focusout)="updateData(3)" name="NoExt" id="NoExt" matInput aria-label="No. Exterior" maxlength="5" type="text" formControlName="numero" placeholder="No. Exterior" required="required" class="form-control input" aria-required="true" aria-invalid="false">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número Exterior es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número Interior</label></mat-label>
                                    <input (focusout)="updateData(3)" name="NoInt" id="NoInt" matInput aria-label="Numero interior" formControlName="numInterior" maxlength="5" type="text" placeholder="No. interior" class="form-control input">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <button mat-button matStepperPrevious (click)="changeStatusEmisionBack('addressData')" class="btn btn-secondary float-left btn-blocky font-weight-bold btn-sig">
                                Anterior
                            </button>
                            <button mat-button matStepperNext (click)="changeStatusEmisionNext('addressData')" class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig">
                                Siguiente
                            </button>
                        </div>
                    </form>
                </mat-step>

                <!--              Forma de pago-->
                <mat-step [stepControl]="datosVehiculo" [editable]="true">
                    <ng-template matStepLabel>Vehiculo</ng-template>
                    <form [formGroup]="datosVehiculo">
                        <div class="row">
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número de Serie</label></mat-label>
                                    <input (focusout)="validDataVehiculo(); updateData(4);" name="NoSerie" id="NoSerie" matInput aria-label="No. Serie" maxlength="20" formControlName="niv" type="text" value="" placeholder="No. Serie" class="form-control input" aria-required="true" aria-invalid="false">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Serie es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número de Motor</label></mat-label>
                                    <input (focusout)="validDataVehiculo(); updateData(4);" name="NoMotor" id="NoMotor" matInput aria-label="No. motor" maxlength="20" type="text" formControlName="motor" value="" placeholder="No. motor" required="required" class="form-control input" aria-required="true" aria-invalid="false">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Motor es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número de Placas</label></mat-label>
                                    <input (focusout)="validDataVehiculo(); updateData(4);" name="NoPlacas" id="NoPlacas" matInput aria-label="Placas" maxlength="10" formControlName="placa" type="text" value="" placeholder="Placas" required="required" class="form-control input" aria-required="true" value="" aria-invalid="false"
                                           style="text-transform: uppercase">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Placas es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <button mat-button matStepperPrevious (click)="changeStatusEmisionBack('vehiculoData')" class="btn btn-secondary float-left btn-blocky font-weight-bold btn-sig" *ngIf="actionEmiterDataVehiculo === 'false'">
                                Anterior
                            </button>
                            <button mat-button matStepperNext (click)="showMessage(); changeStatusEmisionNext('vehiculoData')" *ngIf="!useTerminalVirtual" [disabled]="actionEmiterDataVehiculo==='true'?'false':'true'" class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig">
                                Formas de pago
                            </button>
                            <button mat-button matStepperNext (click)="emitir(0)" class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig" *ngIf="useTerminalVirtual">
                                Emitir
                            </button>
                        </div>
                    </form>
                </mat-step> <mat-step [editable]="true">
                <ng-template matStepLabel>Forma de pago</ng-template>
                <div class="formas-pago">
                    <div class="otros-medios">
                        <button id="show-btn"  (click)="emitir(2); actionMethod($event)" class="btn btn-lg btn-outline-info font-weight-bold">
                            Otros medios de pago
                        </button>
                    </div>
                    <div class="text-pago">
                        <p class="font-weight-bolder" >ó</p>
                    </div>
                    <div class="cobro-pago">
                        <!--                           &nbsp;&nbsp;&nbsp;&ndash;&gt;-->
                        <button  matStepperNext (click)=" changeStatusEmisionNext('paymentMethods')" [disabled]="buttonEmisionInteraccion" class="btn btn-lg btn-primary float-right font-weight-bold btn-sig">
                            Cobro con TDD y TDC
                        </button>
                    </div>
                </div>
                <!--                    <div class="col-12 pb-2 mt-2">-->
                <!--                        <button mat-button matStepperPrevious (click)="changeStatusEmisionBack('paymentMethods')" class="btn btn-secondary float-left btn-blocky font-weight-bold btn-sig">-->
                <!--                            Anterior-->
                <!--                        </button>-->
                <!--                    </div>-->


            </mat-step>






                <mat-step [stepControl]="datosPago" [editable]="true" *ngIf="!useTerminalVirtual">
                    <ng-template matStepLabel>Pago</ng-template>

                    <div *ngIf="emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'QUALITAS'">
                        <label>Detalles de la poliza:</label>
                        <p>Número de póliza {{poliza?poliza:'Dato no Disponible'}}</p>
                        <a href="{{documentos[0]}}" target="_blank">Aviso de cobro</a>
                        <br>
                        <a href="{{documentos[1]}}" target="_blank">Recibo</a>
                        <br>
                        <a href="{{documentos[2]}}" target="_blank">Poliza</a>

                    </div>
                    <div *ngIf="emisionWithoutPaidAFIRME && aseguradoraSelected.toUpperCase() === 'AFIRME'">
                        <label>Detalles de la poliza:</label>
                        <p>Número de póliza {{poliza?poliza:'Dato no Disponible'}}</p>
                        <a href="{{documentos[0]}}" target="_blank">Aviso de cobro</a>
                        <br>
                        <a href="{{documentos[1]}}" target="_blank">Recibo</a>
                        <br>
                        <a href="{{documentos[2]}}" target="_blank">Poliza</a>

                    </div>
                    <div *ngIf="emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'QUALITAS'">
                        <label>Detalles del pago:</label>
                        <p>{{emisionResponse?.CodigoError === '' ?'Pago exitoso!':emisionResponse.CodigoError}}</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        <div *ngIf="emisionWithoutPaidGNP && aseguradoraSelected.toUpperCase() === 'GNP'">
                            <label>Detalles de la poliza:</label>
                            <div><p>Número de póliza :{{poliza.length > 0?poliza:'Dato no Disponible'}}</p></div>
                            <a type="button" class="btn btn-outline-secondary" href="{{documentos}}" target="_blank"> Descargar Poliza</a>
                        </div>
                        <div *ngIf="(emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'AFIRME')|| (emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'ABA') || (emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'GENERAL_DE_SEGUROS')">
                            <label>Detalles de la poliza:</label>
                            <div><p>Número de póliza :{{poliza.length > 0?poliza:'Dato no Disponible'}}</p></div>
                            <a type="button" class="btn btn-outline-secondary mr-4" href="{{documentos}}" target="_blank"> Descargar Poliza</a>
                            <a type="button" class="btn btn-outline-secondary " href="{{terminalExterna}}" target="_blank"> Terminal Virtual</a>
                        </div>
                    </div>

                    <form [formGroup]="datosPago">
                        <div id="datosPago" class="form-row mt-0 mt-lg-2">
                            <!--                    <p *ngIf="emisionResponse['CodigoError']!= undefined">{{emisionResponse['CodigoError']}}</p>-->
                            <div class="col-12 col-sm-12 pb-1 pb-lg-3">
                                <label class="txtlab">Seleccione el tipo de tarjeta
                                    <div name="Carrier" id="Carrier" aria-label="Carrier" required="required"
                                         class="input" aria-required="true" aria-invalid="false">
                                        <label>
                                            <input type="radio" name="Carrier" value="1" aria-required="true" formControlName="tipoTarjeta"
                                                   aria-invalid="false" (change)="setCardType($event); updateData(5)">
                                            <img src="assets/images/tarjetas_img/card_visa.png" class="creditimg">
                                        </label>
                                        <label>
                                            <input type="radio" name="Carrier" value="2" aria-required="true" formControlName="tipoTarjeta"
                                                   aria-invalid="false" (change)="setCardType($event); updateData(5)">
                                            <img src="assets/images/tarjetas_img/card_master.png" class="creditimg">
                                        </label>
                                        <label>
                                            <input type="radio" active name="Carrier" value="3" aria-required="true" formControlName="tipoTarjeta"
                                                   aria-invalid="false" (change)="setCardType($event); updateData(5)">
                                            <img src="assets/images/tarjetas_img/card_american.png"
                                                 class="creditimg">
                                        </label>
                                    </div>
                                </label>
                                <mat-error *ngIf="datos_card.tipoTarjeta.errors">
                                    <small class="form-text text-danger ml-2">
                                        El Nómbre del Tarjetahabiente es requerido
                                    </small>
                                </mat-error>
                            </div>
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Nombre del Tarjetahabiente</label></mat-label>
                                    <input (focusout)="updateData(5)" name="NombreTarjeta" id="NombreTarjeta" matInput aria-label="Titular de Tarjeta" maxlength="50" formControlName="nombreTarjeta" type="text" placeholder="Titular de Tarjeta" class="form-control input"
                                           aria-required="true" aria-invalid="false">
                                    <mat-error *ngIf="datos_card.nombreTarjeta.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Nómbre del Tarjetahabiente es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Seleccione su banco</label></mat-label>
                                    <mat-select *ngIf="aseguradoraSelected.toUpperCase() === 'GNP'" id="Banco" name="Banco" formControlName="banco" class="selected-g" (selectionChange)="updateData(5)">
                                        <mat-option value="">Seleccionar un banco</mat-option>
                                        <mat-option *ngFor="let banco of bancos" [value]="banco.NOMBRE" >{{banco.NOMBRE}}</mat-option>
                                    </mat-select>
                                    <mat-select *ngIf="aseguradoraSelected.toUpperCase() !== 'GNP'" id="Banco" name="Banco" formControlName="banco" class="selected-g" (selectionChange)="updateData(5)">
                                        <mat-option value="BANAMEX">BANAMEX</mat-option>
                                        <mat-option value="BANCOMEXT">BANCOMEXT</mat-option>
                                        <mat-option value="BBVA BANCOMER">BBVA BANCOMER</mat-option>
                                        <mat-option value="BANCO INDUSTRIAL">BANCO INDUSTRIAL</mat-option>
                                        <mat-option value="SANTANDER">SANTANDER</mat-option>
                                        <mat-option value="BANJERCITO">BANJERCITO</mat-option>
                                        <mat-option value="HSBC">HSBC</mat-option>
                                        <mat-option value="GE MONEY">GE MONEY</mat-option>
                                        <mat-option value="BANCOSURESTE">BANCOSURESTE</mat-option>
                                        <mat-option value="BAJIO">BAJIO</mat-option>
                                        <mat-option value="IXE">IXE</mat-option>
                                        <mat-option value="INBURSA">INBURSA</mat-option>
                                        <mat-option value="INTERACCIONES">INTERACCIONES</mat-option>
                                        <mat-option value="MIFEL">MIFEL</mat-option>
                                        <mat-option value="SCOTIABANK">SCOTIABANK</mat-option>
                                        <mat-option value="QUADRUM">QUADRUM</mat-option>
                                        <mat-option value="BANREGIO">BANREGIO</mat-option>
                                        <mat-option value="INVEX">INVEX</mat-option>
                                        <mat-option value="BANSI">BANSI</mat-option>
                                        <mat-option value="AFIRME">AFIRME</mat-option>
                                        <mat-option value="PROMEX">PROMEX</mat-option>
                                        <mat-option value="BANORTE">BANORTE</mat-option>
                                        <mat-option value="AMERICAN EXPRESS">AMERICAN EXPRESS</mat-option>
                                        <mat-option value="VE POR MAS">VE POR MAS</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.banco.errors">
                                        <small class="form-text text-danger ml-2"> El Banco es requerido </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="w-100"></div>


                            <div class="col-12 col-sm-12 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número de Tarjeta</label></mat-label>

                                    <input *ngIf="aseguradoraSelected.toUpperCase() === 'GNP'" (focusout)="updateData(5); getPlanPay(); validateCard(0);" name="NoTarjeta" id="NoTarjeta" matInput aria-label="Numero tarjeta" maxlength="20" type="text" placeholder="Número de tarjeta" class="form-control input|password" aria-required="true" aria-invalid="false"
                                           (keypress)="numberOnly($event)" data-mask="####-####-####-####" data-previous-value="" formControlName="numTarjeta">

                                    <input *ngIf="aseguradoraSelected.toUpperCase() !== 'GNP'" (focusout)="updateData(5);" name="NoTarjeta" id="NoTarjeta" matInput aria-label="Numero tarjeta" maxlength="20" type="text" placeholder="Número de tarjeta" class="form-control input|password" aria-required="true" aria-invalid="false"
                                           (keypress)="numberOnly($event)" data-mask="####-####-####-####" data-previous-value="" formControlName="numTarjeta">


                                    <mat-error *ngIf="datos_card.numTarjeta.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Tarjeta es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>



                            <div class="col-12 col-sm-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Método de Pago</label></mat-label>
                                    <mat-select *ngIf="aseguradoraSelected.toUpperCase() === 'GNP'" id="MedioPago" name="MedioPago" (selectionChange)="setOptPay($event); updateData(5)" formControlName="metodoPago" class="selected-g">
                                        <mat-option value="">Seleccione su método de Pago</mat-option>
                                        <mat-option *ngFor="let tipotarjeta of tarjetasGnp" [value]="tipotarjeta.CLAVE"> {{tipotarjeta.NOMBRE}}</mat-option>
                                    </mat-select>
                                    <mat-select *ngIf="aseguradoraSelected.toUpperCase() !== 'GNP'" id="MedioPago" name="MedioPago" (selectionChange)="setOptPay($event); updateData(5)" formControlName="metodoPago" class="selected-g">
                                        <mat-option value="DEBITO">DÉBITO</mat-option>
                                        <mat-option value="CREDITO">CRÉDITO</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.metodoPago.errors">
                                        <small class="form-text text-danger ml-2"> El Método de Págo es requerido </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Forma de Pago</label></mat-label>
                                    <mat-select *ngIf="aseguradoraSelected.toUpperCase() === 'GNP'" id="FormaPago" name="FormaPago" formControlName="formaPago" class="selected-g" (focusout)="updateData(5); validateCard(0);">
                                        <mat-option *ngFor="let opt of optPay" [value]="opt.value"> {{opt.label}} </mat-option>
                                        <!--                                        <mat-option value="CL"> Contado </mat-option>-->
                                    </mat-select>
                                    <mat-select *ngIf="aseguradoraSelected.toUpperCase() !== 'GNP'" id="FormaPago" name="FormaPago" formControlName="formaPago" class="selected-g" (focusout)="updateData(5); validateCard(0);">
                                        <mat-option *ngFor="let opt of optPay" [value]="opt.value"> {{opt.label}} </mat-option>
                                        <!--                                        <mat-option value="CL"> Contado </mat-option>-->
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.formaPago.errors">
                                        <small class="form-text text-danger ml-2"> La Forma de Págo es requerido </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="w-100"></div>
                            <div class="col-6 col-sm-4 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Mes de Vencimiento</label></mat-label>
                                    <mat-select id="MesExp" name="MesExp" formControlName="mesVencimiento" class="selected-g" (selectionChange)="updateData(5)">
                                        <mat-option value="01">01</mat-option>
                                        <mat-option value="02">02</mat-option>
                                        <mat-option value="03">03</mat-option>
                                        <mat-option value="04">04</mat-option>
                                        <mat-option value="05">05</mat-option>
                                        <mat-option value="06">06</mat-option>
                                        <mat-option value="07">07</mat-option>
                                        <mat-option value="08">08</mat-option>
                                        <mat-option value="09">09</mat-option>
                                        <mat-option value="10">10</mat-option>
                                        <mat-option value="11">11</mat-option>
                                        <mat-option value="12">12</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.mesVencimiento.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Mes de Vencimiento es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 col-sm-4 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Año de vencimiento</label></mat-label>
                                    <mat-select id="AnioExp" name="AnioExp" formControlName="anioVencimiento" class="selected-g" (selectionChange)="updateData(5)">
                                        <mat-option value="2021">2021</mat-option>
                                        <mat-option value="2022">2022</mat-option>
                                        <mat-option value="2023">2023</mat-option>
                                        <mat-option value="2024">2024</mat-option>
                                        <mat-option value="2025">2025</mat-option>
                                        <mat-option value="2026">2026</mat-option>
                                        <mat-option value="2027">2027</mat-option>
                                        <mat-option value="2028">2028</mat-option>
                                        <mat-option value="2029">2029</mat-option>
                                        <mat-option value="2030">2030</mat-option>
                                        <mat-option value="2031">2031</mat-option>
                                        <mat-option value="2032">2032</mat-option>
                                        <mat-option value="2033">2033</mat-option>
                                        <mat-option value="2034">2034</mat-option>
                                        <mat-option value="2035">2035</mat-option>
                                        <mat-option value="2036">2036</mat-option>
                                        <mat-option value="2037">2037</mat-option>
                                        <mat-option value="2038">2038</mat-option>
                                        <mat-option value="2039">2039</mat-option>
                                        <mat-option value="2040">2040</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.anioVencimiento.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Año de Vencimiento es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-4 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Código de seguridad</label></mat-label>
                                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" name="CodigoSeguridad" id="CodigoSeguridad" matInput aria-label="CCV" maxlength="5" type="password" placeholder="CCV" class="form-control input|password" formControlName="cvv" aria-required="true" aria-invalid="false" (keypress)="numberOnly($event)" (focusout)="updateData(5);">
                                    <mat-error *ngIf="datos_card.cvv.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Código de Seguridad es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 pb-2 mt-2">
                                <!--                            <button type="button" class="btn btn-secondary float-left btn-blocky btn-sig font-weight-bold">-->
                                <!--                                        Anterior-->
                                <!--                                    </button>-->

                                <button mat-button matStepperNext (click)="emitir(1);" [disabled]="buttonEmisionInteraccion" class="btn btn-secondary float-left btn-blocky btn-sig font-weight-bold">
                                    Cobro y Emision
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>
            <!-- </div> -->
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <button *ngIf="fromMulty" (click)="back()" class="btn btn-rounded btn-danger text-right" style="position:absolute;right:5%;top:-2%;z-index:1;">Regresar
        </button>
        <resume-pay *ngIf="aseguradoraSelected && commonRequest" [commonRequest]="commonRequest" [aseguradoraSelected]="aseguradoraSelected"></resume-pay>
    </div>
</div>
