<div class="container-fluid mt-4" >
    <div class="">
        <div class="container-fluid">
            <div class="row page-titles mx-0 go-margin-top">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <h4 class="font-weight-bold" style="color: #3C606D;">Descargar formatos por aseguradora</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- row -->
        <form [formGroup]="aseguradora">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Elige una aseguradora:</label>
                            </div> 
                            <select formControlName="aseguradoraSelect" class="select" (change)="optionSelected()">
                            <option value="" selected>Elige...</option>
                            <option *ngFor="let dato of datos" [value]="dato">{{dato}}</option>
                        </select>
                        </div>
                        <table class="table table-hover" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descarga</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let formato of filtroArchivos; let i = index">
                                    <th scope="row" >{{i +1}}</th>
                                    <td>{{formato.nombre | uppercase}}</td>
                                    <td>
                                        <a download href="{{formato.ruta}}" class="badge badge-info text-center" style="color: #ffff; background: #00DFAB; font-size: 15px; ">
                                            <i class="flaticon-381-download"></i>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16" class="mr-2">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                            </svg>
                                            Descargar
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>