<div class="card">
 <div class="card-body">
    <h3 class="font-weight-bold px-md-3 py-3 mb-0 afiliados-go" style="color: #00DFAB;">Nuestra Visión</h3>
    <div class="row">
      <div class="col-md-12">
       <p class="px-md-3 mb-0 afiliados-go" style="float:left;">Facilitar la venta de seguros a distribuidores sin distinción en México y Latinoamérica.</p>
       <!-- <p class="px-md-3 mb-0 afiliados-go" style="float:left;">Ser la empresa digital con el mejor servicio a agentes y asesores de productos financieros a nivel nacional.</p>  -->
      </div>
    </div>
 </div>
</div>