<!-- Button trigger modal -->

<article >

  <div class="row" style="text-align:left">
      
      <div class="col-12 container-fluid">
  
          <div class="form-check">
              <div>
                  <div class="col-12 text-center">
                      <div class="cursor mb-2" data-toggle="modal" data-target=".bd-example-modal-lg">
                          Leer el 
                          <strong class="subrayado cursor">Aviso de privacidad</strong>
                      </div>
                  </div>
              </div>
        
            
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Aviso de privacidad</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
  
                      <h4 class="text-center">AVISO DE PRIVACIDAD</h4>
                      <p>
                        GO AGENTES DIGITALES, S.R.L. DE C.V., mejor conocido como Go Agentes, con domicilio en
                        calle Calzada México Tacuba # 815, colonia Tacuba, Ciudad de México, municipio o delegación
                        Miguel Hidalgo, c.p. 11410, en la entidad de México, país México, y portal de
                        internet www.goagentesdigitales.mx, es el responsable del uso y protección de sus datos
                        personales, y al respecto le informamos lo siguiente:
                      </p>
                      <h5 class="text-center">
                          ¿Para qué fines utilizaremos sus datos personales?
                      </h5>
                      <p>
                        Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades que
                        son necesarias para el servicio que solicita:
                      </p>
            
                      <ul>
                        <li>Cotizador de precios</li>
                        <li>Contacto</li>
  
                        <li>Con fines de identificación y de verificación</li>
  
                        <li>
                          Promoción de productos financieros, esta información puede ser transferida a instituciones
                          de crédito o instituciones financieras
                        </li>
                        <li>
                          Para intermediar en la evaluación de su solicitud de seguro, cotizar seguros y fianzas,
                          brindarle la asesoría necesaria para la contratación de su seguro, en la renovación del
                          mismo y en caso de siniestro
                        </li>
                        <li>
                          Podrá tratar su información para fines publicitarios, promocionales y de investigaciones de mercado
                        </li>
                        <li>Intermediación de seguros y de fianzas</li>
                        <li>Ubicación de clientes</li>
                        <li>Ofrecer y prestar servicios de telemercadeo y servicios relacionados</li>
                        <li>Cobranza en cualquiera de sus fases</li>
                        <li>Encuestas</li>
                        <li>Enviar notificaciones de cambios a este aviso de privacidad</li>
                      </ul>
                      <p>
                        De manera adicional, utilizaremos su información personal para las siguientes finalidades
                        secundarias que <b>no son necesarias</b> para el servicio solicitado, pero que nos permiten y facilitan
                        brindarle una mejor atención:
                      </p>
                      <ul>
                        <li>Promocionar y comercializar servicios financieros adicionales</li>
                        <li>Documentar la relación con los Clientes a través de la celebración de contratos y/o convenios correspondientes</li>
                        <li>Atender cualquier queja, pregunta o comentario</li>
                        <li>Mercadotecnia o publicitaria</li>
                        <li>Prospección comercial</li>
                      </ul>
                      <p>
                        En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a continuación:
                      </p>
                      
                      <p>No consiento que mis datos personales se utilicen para los siguientes fines:</p>
  
                      <p>[ ] Promocionar y comercializar servicios financieros adicionales</p>
  
                      <p>[ ] Documentar la relación con los Clientes a través de la celebración de contratos y/o convenios correspondientes</p>
                      <p>[ ] Atender cualquier queja, pregunta o comentario</p>
                      <p>[ ] Mercadotecnia o publicitaria</p>
                      <p>[ ] Prospección comercial</p>
  
                      <p>La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo
                        para que le neguemos los servicios y productos que solicita o contrata con nosotros.</p>
  
            
                      <h5 class="text-center">¿Qué datos personales utilizaremos para estos fines?</h5>
  
                      <p>
                        Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los
                        siguientes datos personales:
                      </p>
                      <ul>
                        <li>Nombre</li>
                        <li>Estado Civil</li>
                        <li>Registro Federal de Contribuyentes(RFC)</li>
                        <li>Clave única de Registro de Población (CURP)</li>
                        <li>Fecha de nacimiento</li>
                        <li>Nacionalidad</li>
                        <li>Domicilio</li>
                        <li>Teléfono particular</li>
                        <li>Teléfono celular</li>
                        <li>Correo electrónico</li>
                        <li>Edad</li>
                        <li>Fotografía</li>
                        <li>Calidad migratoria</li>
                        <li>Derechos de residencia</li>
                        <li>Cuentas bancarias</li>
                        <li>Número de tarjetas de crédito</li>
                        <li>Seguros</li>
                      </ul>
                      <p>
                        Además de los datos personales mencionados anteriormente, para las finalidades informadas en el
                        presente aviso de privacidad utilizaremos los siguientes datos personales considerados como
                        sensibles, que requieren de especial protección:
                      </p>
                      <ul>
                        <li>Estado de salud físico presente, pasado o futuro</li>
                        <li>Estado de salud mental presente, pasado o futuro</li>
                      </ul>
                      <h5>
                        ¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso?
                      </h5>
  
                      <p>
                     Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y
                     las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de
                     su información personal en caso de que esté desactualizada, sea inexacta o incompleta
                     (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la
                     misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus
                     datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos
                     ARCO.
                      </p>
  
                      <p>derechosarco@goagentesdigitales.mx</p>
  
                      <p>
                        Para conocer el procedimiento y requisitos para el ejercicio de los derechos ARCO, ponemos a su
                        disposición el siguiente medio:
                      </p>
  
                      <p>derechosarco@goagentesdigitales.mx</p>
  
                      <p>Los datos de contacto de la persona o departamento de datos personales, que está a cargo de dar trámite a las solicitudes de derechos ARCO, son los siguientes:</p>
                      
                      <p>a) Nombre de la persona o departamento de datos personales: Departamento de It</p>
                      <p>b) Domicilio: calle Calzada México Tacuba 815, colonia Tacuba, ciudad Ciudad de México,</p>
                      <p>municipio o delegación Miguel Hidalgo, c.p. 11410, en la entidad de México, país México</p>
                      <p>c) Correo electrónico: derechosarco@goagentesdigitales.mx</p>
  
                      <h5>Usted puede revocar su consentimiento para el uso de sus datos personales</h5>
  
                      <p>Usted puede revocar el consentimiento que, en su caso, nos haya otorgado para el tratamiento de
                        sus datos personales. Sin embargo, es importante que tenga en cuenta que no en todos los casos
                        podremos atender su solicitud o concluir el uso de forma inmediata, ya que es posible que por
                        alguna obligación legal requiramos seguir tratando sus datos personales. Asimismo, usted deberá
                        considerar que para ciertos fines, la revocación de su consentimiento implicará que no le podamos
                        seguir prestando el servicio que nos solicitó, o la conclusión de su relación con nosotros.</p>
  
                      <p>Para revocar su consentimiento deberá presentar su solicitud a través del siguiente medio:</p>
  
                      <p>derechosarco@goagentesdigitales.mx</p>
  
                      <h5>¿Cómo puede limitar el uso o divulgación de su información personal?</h5>
  
                      <p>Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le
                        ofrecemos los siguientes medios:</p>
  
                      <p>derechosarco@goagentesdigitales.mx</p>
  
                      <h5>El uso de tecnologías de rastreo en nuestro portal de internet</h5>
  
                      <p>Le informamos que en nuestra página de internet utilizamos cookies, web beacons u otras
                        tecnologías, a través de las cuales es posible monitorear su comportamiento como usuario de
                        internet, así como brindarle un mejor servicio y experiencia al navegar en nuestra página. Los
                        datos personales que recabamos a través de estas tecnologías, los utilizaremos para los siguientes
                        fines:</p>
                      <p>Para la prospección de clientes</p>
  
                      <p>Los datos personales que obtenemos de estas tecnologías de rastreo son los siguientes:</p>
  
                      <p>Idioma preferido por el usuario</p>
                      <p>Tipo de navegador del usuario</p>
                      <p>Tipo de sistema operativo del usuario</p>
                      <p>Páginas web visitadas por un usuario</p>
                      <p>Búsquedas realizadas por un usuario</p>
                      <p>Publicidad revisada por un usuario</p>
  
                      <p>Para conocer la forma en que se pueden deshabilitar estas tecnologías, consulte el siguiente
                        medio:</p>
                      <p>derechosarco@goagentesdigitales.mx</p>
  
                      <h5>¿Cómo puede conocer los cambios en este aviso de privacidad?</h5>
  
                      <p>El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas
                         de nuevos requerimientos legales; de nuestras propias necesidades por los productos o servicios
                         que ofrecemos; de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o
                         por otras causas.</p>
                      
                      <p>Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso
                        de privacidad, a través de: Página de internet y correo electrónico.</p>
                      <p>El procedimiento a través del cual se llevarán a cabo las notificaciones sobre cambios o
                        actualizaciones al presente aviso de privacidad es el siguiente:</p>
                      <p>Anuncio en la página de internet indicando el cambio en el aviso privacidad</p>
                      <h5>Su consentimiento para el tratamiento de sus datos personales</h5>
                      <p>Consiento que mis datos personales sean tratados de conformidad con los términos y condiciones
                        informados en el presente aviso de privacidad.[ ]</p>
                      <p class="text-right">Última actualización: 16/04/2020</p>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
  </div>
</article>
