
.custom-row {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
    flex-direction: column !important;
    color: red;
}

.subrayado {
    text-decoration: underline;
}
.white-color {
  color: white;
}
.margen{
    margin-left: 80%;
}