<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>


<div class="row page-titles mx-0">
    <div class="col-12 p-md-0">
        <h3 class="col-12 font-weight-bold p-0">
            <strong>Mis Leads</strong>
        </h3>
    </div>
    <div class="col-12 p-md-0 justify-content mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </li>

            <li class="breadcrumb-item active"><a [routerLink]="['/admin/dashboard/principal']">Oficina Virtual</a></li>
            <li style="margin-left: 18px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </li>
            <li class="breadcrumb-item active"><a [routerLink]="['/admin/oficina-virtual/dasboard/mis-leads']">Mis Leads</a>
            </li>
        </ol>
    </div>
</div>
<!-- <h1 class="mt-5 mb-5">Mis leads</h1> -->

<form [formGroup]="misLedsVacios" (click)="cambioDeTabla()">
    <select formControlName="estado" class="form-control form-control-lg">
        <option value="" *ngIf="!hasEstadoValue">SELECCIONA LA TABLA A VISUALIZAR</option>
        <option value="landing">LANDING</option>
        <option value="portal">PORTAL</option>
    </select>
</form>
<br>
<br>
<br>
<div *ngIf="hasEstadoValue === true">
    <div class="container-fluid" *ngIf="mostrarTabla === true">
        <div class="row">
            <div class="col-12">
    <!--            <h1 class="mt-5 mb-5">Mis leads</h1>-->
            </div>
            <div class="col-12 mx-auto" >
                <table class="table table-responsive table-hover m-auto" style="font-size: 0.9rem; text-transform: uppercase"  >
                    <thead class="estilo-tabla" >
                    <tr>
                        <th scope="col" >Nombre</th>
                        <th scope="col" >Email</th>
                        <th scope="col" >Teléfono</th>
                        <th scope="col" >Precio</th>
                        <th scope="col" >Fecha</th>
                        <th scope="col" >Hora</th>
                        <th scope="col" >Status</th>
                        <th scope="col" >Detalles</th>
                        <th scope="col" >          </th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let lead of sortData | pagination:page:search ; let i = index;">
    <!--                <tbody *ngFor="let lead of sortData ; let i = index;">-->
                    <tr >
                        <td >{{lead.nombre | uppercase}}</td>
                        <td >{{lead.correo}}</td>
                        <td ><a style="color: black" href="tel:{{lead.telefono}}">{{lead.telefono}}</a></td>
                        <td >{{lead.primaNeta}}</td>
                        <td >{{lead.fechaCotizaciones | date: 'dd/M/yyyy'}}</td>
                        <td >{{lead.fechaCotizaciones | date:'h:mm a'}}</td>
                        <td >
                            <img src="assets/images/iconos/verde.png" title="Datos de cobro" *ngIf="lead.idEstadoEmision>=5">
                            <img src="assets/images/iconos/rojo.png" title="Datos de contacto"
                                *ngIf="lead.idEstadoEmision===null || lead.idEstadoEmision===2 || lead.idEstadoEmision===3">
                            <img src="assets/images/iconos/naranja.png" title="Datos de emisión" *ngIf="lead.idEstadoEmision===4">
                        </td>
                        <td >
                            <div class="d-flex justify-content-around">
                                <app-modal-detalle-leads [idEmision]="lead.idEmision" [idCotizacion]="lead.idCotizacion"></app-modal-detalle-leads>
                            </div>
                        </td>
                        <td>
                            <select class="form-select custom-select select" id='{{i}}' (change)="estatusVenta($event, lead.idEmision,lead.goId)" [disabled]="!lead.idEmision || lead.contadorStatus>=1">
                                <option selected>{{!lead.estadoventa?'SELECCIONA': lead.estadoventa }}</option>
                                <option *ngFor="let val of selectValue" value="{{val.id}}">{{ val.name }}</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" >
            <div class="col-12 col-md-4 text-center text-md-end ">
                <button class="btn btn-primary" (click)="prevPage()" [disabled]="(contador===1)">
                    Anterior
                </button>
            </div>
            <div class="col-12 col-md-4 text-center"> Pag. {{contador}} de {{ (tam - tam2) > 1 ? tam - tam2 : 1 }}</div>
            <div class="col-12 col-md-4 text-center text-md-start">
                <button class="btn btn-primary" (click)="nextPage()" [disabled]="(contador === (tam-tam2) || (tam - tam2) < 1)">
                    Siguiente
                </button>
            </div>

        </div>
    </div>

    <div class="container-fluid" *ngIf="mostrarTabla === false">
        <div class="row">
            <div class="col-12">
                <!--            <h1 class="mt-5 mb-5">Mis leads</h1>-->
            </div>
            <div class="col-12 mx-auto" >
                <table class="table table-responsive table-hover m-auto" style="font-size: 0.9rem; text-transform: uppercase"  >
                    <thead class="estilo-tabla" >
                    <tr>
                        <!-- <th scope="col" >Nombre</th> -->
                        <!-- <th scope="col" >Email</th> -->
                        <!-- <th scope="col" >Teléfono</th> -->
                        <!-- <th scope="col" >Precio</th> -->
                        <th scope="col" >Fecha</th>
                        <th scope="col" >Hora</th>
                        <th scope="col" >Status</th>
                        <th scope="col" >Detalles</th>
                        <th scope="col" >          </th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let lead of datosVacios | pagination:page2:search ; let i = index;">
                    <!--                <tbody *ngFor="let lead of sortData ; let i = index;">-->
                    <tr >
                        <!-- <td >{{lead.nombre | uppercase}}</td> -->
                        <!-- <td >{{lead.correo}}</td> -->
                        <!-- <td ><a style="color: black" href="tel:{{lead.telefono}}">{{lead.telefono}}</a></td> -->
                        <!-- <td >{{lead.primaNeta}}</td> -->
                        <td >{{lead.fechaCotizaciones | date: 'dd/M/yyyy'}}</td>
                        <td >{{lead.fechaCotizaciones | date:'shortTime':'GMT'}}</td>
                        <td >
                            <img src="assets/images/iconos/verde.png" title="Datos de cobro" *ngIf="lead.idEstadoEmision>=5">
                            <img src="assets/images/iconos/rojo.png" title="Datos de contacto"
                                *ngIf="lead.idEstadoEmision===null || lead.idEstadoEmision===2 || lead.idEstadoEmision===3">
                            <img src="assets/images/iconos/naranja.png" title="Datos de emisión" *ngIf="lead.idEstadoEmision===4">
                        </td>
                        <td >
                            <div class="d-flex justify-content-around">
                                <app-modal-detalle-leads [idEmision]="lead.idEmision" [idCotizacion]="lead.idCotizacion"></app-modal-detalle-leads>
                            </div>
                        </td>
                        <td>
                            <select class="form-select custom-select select" id='{{i}}' (change)="estatusVenta($event, lead.idEmision,lead.goId)" [disabled]="!lead.idEmision || lead.contadorStatus>=1">
                                <option selected>{{!lead.estadoventa?'SELECCIONA': lead.estadoventa }}</option>
                                <option *ngFor="let val of selectValue" value="{{val.id}}">{{ val.name }}</option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" >
            <div class="col-12 col-md-4 text-center text-md-end ">
                <button class="btn btn-primary" (click)="prevPage2()" [disabled]="(contador2===1)">
                    Anterior
                </button>
            </div>
            <div class="col-12 col-md-4 text-center"> Pag. {{contador2}} de {{tam2}}</div>
            <div class="col-12 col-md-4 text-center text-md-start">
                <button class="btn btn-primary" (click)="nextPage2()" [disabled]="(contador2 === tam2)">
                    Siguiente
                </button>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
