<div class="row">
 <div class="col-12">
   <div class="card">
    <div class="card-body">
       <h3 class="font-weight-bold px-md-3 py-3 mb-0 afiliados-go" style="color: #00DFAB;">¿Qué es GO Agentes?</h3>
       <div class="row">
         <div class="col-md-12">
          <p class="px-md-3 mb-0 afiliados-go" style="float: left;">Empresa digital que te ofrece una plataforma de venta con más de 20 aseguradoras y te facilita la administración para la conservación de tu base de datos.</p>
         <!--  <p class="px-md-3 mb-0 afiliados-go" style="float: left;">Somos la empresa que digitalizará a los vendedores de seguros, otorgándoles las herramientas necesarias que requieren para maximizar su crecimiento y administrar su cartera de forma remota, fácil y segura, otorgándoles una mayor independencia y la competitividad que tanto requieren.</p>  -->
         </div>
       </div>
    
         
        
        
 
    </div>
   </div>  
 </div>
</div>
<!--  -->