<div class="tamano-movil">
    <div class="row page-titles mx-0">
        <div class="col-12 p-md-0">
            <h3 class="col-auto font-weight-bold p-0 ml-0 ml-md-4" style="color: #3D4465;">
                <strong>Cotización Seguro de Auto</strong>
            </h3>
        </div>
    </div>
    <div class="row page-titles mx-0">
        <div class="col-12 col-md-12 p-md-0">
            <button (click)="recotizar(false)" class="btn btn-rounded btn-danger text-right ml-0 ml-md-4">Recotizar
            </button>
            <div class=" ">
                <div class="" style="font-weight: bold; color: #48545B;">
                    Cobertura Amplia: {{cotizacion.controls['selectMarca'].value}} {{cotizacion.controls['selectModelo'].value}} {{cotizacion.controls['selectSubDescripcion'].value}}
                </div>    
                <div class="">
                    <h5 *ngIf="aseguradoraSelected !== 'Qualitas'" class="text-warning text-center">El proceso de emisión esta en desarrollo para esta aseguradora.</h5>
                    <div class="row">
                        <div class="col-md-6 mt-5">
                            <div class="container" *ngIf="!messageError">
                                <div class="row">
                                      <div class="col-12 col-md-6 col-lg-6 offset-md-3 offset-lg-4 m-auto">
                                          <!-- <h2 class="textoTachado text-center text-muted">{{precioFin | discountInsurance:2:aseguradoraSelected | currency:'USD':'symbol':'1.0-0'}}
                                          </h2> -->
                                          <span class="btn btn-rounded font-weight-bold posicionDescuento">-{{ aseguradoraSelected |
                                              discountInsurance:1 }}%</span>
                                          <h1 class="text-center display-4 font-weight-bold descuentoporciento">
                                             {{precioFin | currency:'USD':'symbol':'1.0-0'}}</h1>
                                      </div>
                                  </div>
                              </div>
                              <h5 class="text-danger text-justify">{{messageError}}</h5>
                              <div class="" *ngIf="!messageError && validateButton()" style="margin-left: 40%; margin-top: -30px;">
                                  <br>
                                  <small class="" style="font-size:20px;">ID:{{ (cotizacionResponse?.Cotizacion?.IDCotizacion) ? cotizacionResponse?.Cotizacion?.IDCotizacion : cotizacionResponse?.cotizacion?.idCotizacion }}</small>
                              </div>
                        </div>    
                        <div class="col-md-6" style="margin-top: 60px;">
                            <a class="btn btn-lg  text-center m-auto col-lg-6 font-weight-bold" style="background: #00DFAB; color: #ffff;" data-toggle="modal" (click)="emitir(aseguradoraSelected)" >
                                <img src="assets/images/emitir.svg" alt="emitir" width="20" height="20" class="img-fluid"> &nbsp;EMITIR PÓLIZA AHORA&nbsp;<img src="assets/images/chevron-right-bn.svg" alt=">" width="25"
                                    height="25" />
                            </a>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="!messageError">
                        <div class="tabla">
                            <br>
                            <div class="table-responsive table-striped">
                                <table class="table">
                                    <thead>
                                        <th style="width:480px;">Cobertura</th>
                                        <th class="text-center" style="width:360px;">Suma asegurada</th>
                                        <th class="text-center" style="width:360px;">Deducible</th>
                                    </thead>
<!--                                    <tbody *ngIf="urlType === 'particular'">-->
<!--                                        <tr *ngFor="let itemCot of quotations ;let i= index">-->
<!--                                            <td>{{itemCot | showName}}</td>-->
<!--                                            <td class="text-center">{{itemCot | showSuma}}</td>-->
<!--                                            <td class="text-center">{{itemCot | showDeducible}}</td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
                                    <tbody *ngIf="urlType === 'particular'">
                                        <tr *ngFor="let itemCot of quotations ;let i= index">
                                            <td>{{itemCot.nombre}}</td>
                                            <td class="text-center" *ngIf="itemCot.sumaAsegurada !== 'NO APLICA'">{{itemCot.sumaAsegurada | currency}}</td>
                                            <td class="text-center" *ngIf="itemCot.deducible !== 'NO APLICA'">{{itemCot.deducible}} %</td>

                                            <td class="text-center" *ngIf="itemCot.sumaAsegurada === 'NO APLICA'">{{itemCot.sumaAsegurada}}</td>
                                            <td class="text-center" *ngIf="itemCot.deducible === 'NO APLICA'">{{itemCot.deducible}}</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="urlType === 'privado'">
                                        <tr *ngFor="let itemCot of quotations ;let i= index">
                                            <td>{{(itemCot.nombre)?itemCot.nombre:itemCot.Nombre}}</td>
                                            <td class="text-center">{{(itemCot.sumaAsegurada)?itemCot.sumaAsegurada:itemCot.SumaAsegurada}}</td>
                                            <td class="text-center">{{(itemCot.deducible)?itemCot.deducible:itemCot.Deducible}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
