.recotizar{
    position:absolute;
    right:5%;
    top:-2%;
    z-index:1;
}

.descuentoporciento{
    color: #274F5E; 
    margin-left: 10%;
}



@media(min-width:1080px) and (max-width:1450px){

    .descuentoporciento{
        color: #274F5E; 
        margin-left: -45%;
    }
}

@media(min-width:768px) and (max-width:1080px){

    .descuentoporciento{
        color: #274F5E; 
        margin-left: -76%;
    }
}

@media (min-width: 320px) and (max-width: 539px) {
 
    .tamano-movil{
        width: 340px;
    }

}


@media only screen and (max-width: 320px) {

    .tamano-movil{
        width: 300px;
    }
    .descuentoporciento{
        color: #274F5E; 
        margin-left: -16%;
    }

}
