<div class="container-fluid">
<!--     <div class="row page-titles mx-0 go-margin-top">
        
    </div> -->
    <div class="row">
        <div class="col-12 col-md-10 justify-content-center">
            <div class="card">
                <div class="card-body">
                    <div class="welcome-text my-3">
                        <h4 class="font-weight-bold">Cuaderno de incentivos</h4>
                    </div>
                    <!-- <iframe  src="assets/images/pdfs/Plan-incentivos.pdf#toolbar=0&scrollbar=0&navpanes=1" width="100%" height="335px" ></iframe> -->
                    <div class="overflowImages">
                        <img src="/assets/images/pdfs/plan-incentivos/planHoja1.jpg" alt="" class="img-fluid d-block float-none">
                        <img src="/assets/images/pdfs/plan-incentivos/planHoja2.png" alt="" class="img-fluid d-block float-none my-1">
                        <img src="/assets/images/pdfs/plan-incentivos/planHoja3.png" alt="" class="img-fluid d-block float-none">
                        <img src="/assets/images/pdfs/plan-incentivos/planHoja4.png" alt="" class="img-fluid d-block float-none my-1">
                        <img src="/assets/images/pdfs/plan-incentivos/planHoja5.png" alt="" class="img-fluid d-block float-none">
                    </div>
                </div>
<!--                <div class="col-12 col-md-2 mt-2">-->
<!--                    <a download href="assets/images/pdfs/plan-incentivos/plan-incentivos.pdf" class="btn btn-primary btn-block tamaño-letra">-->
<!--                        <img src="assets/images/pdfs/simbolo-de-formato-de-archivo-pdf.svg" alt="Los Tejos"  width="20" class="img-fluid" /> Descargar PDF</a>-->
<!--                </div>-->
            </div>
        </div>
        <div class="col-12 col-md-2 mt-2">
            <a download href="assets/images/pdfs/plan-incentivos/plan-incentivos.pdf" class="btn btn-primary btn-block tamaño-letra">
                <img src="assets/images/pdfs/simbolo-de-formato-de-archivo-pdf.svg" alt="Los Tejos"  width="20" class="img-fluid" /> Descargar PDF</a>
            </div>
        </div>
    </div>

