/*.tamano-pdf{
    width: 100%;
    height: 710px;
}
.margen-inferior{
    margin-bottom: 375px;
}
@media (min-width: 994px) and (max-width: 1134px){
    .tamano-pdf{
        width: 100%;
        height: 580px;
    }
    .margen-inferior{

        margin-bottom: 200px;
    }
    .tamaño-letra{
        font-size: 1vw;
    }
}
@media (min-width: 588px) and (max-width: 994px){
    .tamano-pdf{
        width: 100%;
        height: 580px;
    }
    .margen-inferior{

        margin-bottom: 200px;
    }


}
@media (min-width: 1px) and (max-width: 588px){
    .tamano-pdf{
        width: 90%;
        height: 400px;
    }
    .margen-inferior{

        margin-bottom: 0px;
    }
}*/
.overflowImages{overflow:scroll;float:left;height:417px;background:#e9e9e9;}
@media (min-width:280px) and (max-width: 620px){
    .overflowImages{height:560px;}
}
