.tamanodiv{
    width: 10px;
}
.margentop{
    margin-top: 250px;
}
ul#menu {
    margin-left: 0rem !important;
    padding-left: 0 !important;
}

ul#menu li {
    color: #687684;
    list-style: none;
    margin: 1rem auto;
    padding: 0px 10px;
}

ul#menu li a {
    color: #687684!important;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 0;
}

ul#menu li a:hover {
    cursor: pointer;
}

ul#menu li a i {
    font-size: 18px;
}

ul#menu li a .nav-text {
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 10px;
}

ul#menu li ul {
    padding-left: 10px;
}

/* ul#menu li ul>li {
    list-style: none;
} */

  ul#menu li {
    color: #0bdeac !important;
    background-size:none ;
}  


/* @media only screen and (max-width: 960px) { */

ul.go-sub-m {
    position: absolute !important;
    margin-top: -25px !important;
    float: left !important;
    left: 75px !important;
    z-index: 999 !important;
    background-color: #ffffff !important;
    min-width: 180px;
}
.mantenerlista{
    display:inline-block;
}
/* menu lateral */
 @media(min-width:550) and (max-width: 1031px){
    .escondercotizaciones{
        display: none;
    }
} 
@media (min-width: 1031px) {
  
    .margenheader{
        margin-left: 11%;  
    }
    .desaparecer{
      display: none;  
    }
    ul#menu li a .nav-text {
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 10px;
    }

    .sidenav {
        height: 100%; 
        width: 0; 
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #111; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
        overflow:hidden;
        width:100%;
    }

    body {
        overflow-x: hidden;
      }
    .topnav {
        background-color: #333;
        overflow: hidden;
    }

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #4CAF50;
        color: white;
    } 
}

.fix{       
        height: 88%;
        width: 280px;
        margin-top: 89px;
        position: fixed ;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: white;
        overflow-y: scroll;
        overflow-x: hidden;
       
}




@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
    
}

@media screen and (max-width: 768px) {
    .fondogris{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        /*display: none;*/
        
        
    }
}
a svg{
    transition:all .5s ease;
   
  }

  #ico{
    display: none;
  }
  
  /* .menu{
    background: #000;
    display: none;
    padding: 5px;
    width: 320px;
    @include border-radius(5px);
   
    #transition: all 0.5s ease;
   
    a{
      display: block;
      color: #fff;
      text-align: center;
      padding: 10px 2px;
      margin: 3px 0;
      text-decoration: none;
      background: #444;
   
 
    }
} */
  

