
<div class="container-fluid">
    <div class="row desaparecer tamanodiv" *ngIf="scrWidth > 1030 || !toggleMenu">
        <mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
            <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
                <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
            </mat-sidenav>

            <mat-sidenav-content>
                <p><button mat-button (click)="sidenav.open()">Open</button></p>
                <p>Closed due to: {{reason}}</p>
            </mat-sidenav-content>
        </mat-sidenav-container>
        <div class="fondogris"(click)="eventLocal(toggleMenu = !toggleMenu)"> </div>
        <div class="col-9 col-md-12 col-lg-12 p-0 pt-4 prueba fix" >
            <div class="container-fluid">
                <div class="row" style="cursor:pointer;">
                    <div class="col-12 px-5" (click)="eventLocal( !toggleMenu)" style="text-align: end; text-decoration:none; color: #C1C1C1;">
                        Cerrar
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill fa-2x" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-3">
                        <a class="btn-tel py-3 text-center d-block" href="tel:5588902564">
                            <img src="assets/images/go-btn.svg" alt="telefono" width="212" height="60">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul id="menu" class=" vistachica mantenerlista abs"  style="display:inline-block;">
                            <li>
                                <a><span >INICIO</span></a>
                                <ul >
                                    <li routerLinkActive="active"><a href="javascript:void(0)" (click)="toggle1 = true; routerRedirect('promociones-estacionales');">Promociones Vigentes</a></li>
                                    <li routerLinkActive="active"><a href="javascript:void(0)" (click)="toggle1 = true; routerRedirect('tabla-de-meses-sin-intereses');">Tabla de Meses sin intereses</a></li>
                                    <li routerLinkActive="active"><a href="javascript:void(0)" (click)="toggle1 = true; routerRedirect('cuaderno-de-incentivos');">Cuaderno de Incentivos</a></li>
                                    <li routerLinkActive="active"><a href="javascript:void(0)" (click)="toggle1 = true; routerRedirect('calendario');">Calendario</a></li>
                                    <li routerLinkActive="active"><a href="javascript:void(0)" (click)="toggle1 = true; routerRedirect('directorio');" >Directorio Telefónico</a></li>
                                </ul>
                            </li>
                            <li>
                                <!--  -->
                                <a class="" href="javascript:void(0)" routerLinkActive="active" (click)="routerRedirect('quienes-somos'); toggle1 = false; toggle2 = false; toggle3  = false; toggle4 = false; toggle5 = false;">
                                    <i class="flaticon-381-id-card-5"></i>
                                    <!-- [ngClass]="{'d-inline-block':!toggleMenu, 'd-none':toggleMenu}" class="nav-text" -->
                                    <span >¿Quiénes somos?</span>
                                </a>
                            </li>
                            <li>
                                <a class="has-arrow ai-icon" aria-expanded="false" (click)="toggle2 = !toggle2; toggle1 = false; toggle3 = false; toggle4 = false; toggle5 = false;">
                                    <i class="flaticon-381-controls-9"></i>
                                    <!-- [ngClass]="{'d-inline-block':!toggleMenu, 'd-none':toggleMenu}" class="nav-text" -->
                                    <span >COTIZAR GO</span>
                                    <!-- <div [ngClass]="{ 'icon-arrow-right': !toggle2, 'icon-arrow-down': toggle2 }" class="fz10 ">
                                    </div> -->
                                </a>
                                <!-- [ngClass]="{ 'd-none': !toggle2, 'd-block': toggle2, 'go-sub-m': toggleMenu }" -->
                                <ul aria-expanded="false" >
                                    <li>
                                        <!-- class="has-arrow ai-icon" aria-expanded="false" (click)="toggle2_1 = !toggle2_1" -->
                                        <a >
                                            <!-- <span class="material-icons">directions_car</span> -->
                                            <span class="nav-text">Auto Particular</span>
                                            <i style="font-size: 13px;">></i>
                                            <!-- <div [ngClass]="{ 'icon-arrow-right': !toggle2_1, 'icon-arrow-down': toggle2_1 }" class="fz10">
                                            </div> -->
                                        </a>
                                        <!--  aria-expanded="false" [ngClass]="{ 'd-none': !toggle2_1, 'd-block': toggle2_1 }"-->
                                        <ul >
                                            <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle2_1 = false; routerRedirect('particular');">Cotizar por aseguradora</a></li>
                                            <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle2_1 = false; routerRedirect('multicotizador');">Multicotizador</a></li>
                                            <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle2_1 = false; routerRedirect('valor-factura');">
                                                    Cotizador por Valor Factura
                                                </a>
                                            </li>
                                            <!-- <li><a>Cotización especial</a></li> -->
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="has-arrow ai-icon" aria-expanded="false" (click)="toggle2_2 = !toggle2_2">
                                            <!-- <span class="material-icons">local_taxi</span> -->
                                            <span class="nav-text">Chofer</span>
                                            <i style="font-size: 13px;">></i>
                                            <!-- <div [ngClass]="{ 'icon-arrow-right': !toggle2_2, 'icon-arrow-down': toggle2_2 }" class="fz10">
                                            </div> -->
                                        </a>
                                        <ul aria-expanded="false" [ngClass]="{ 'd-none': !toggle2_2, 'd-block': toggle2_2 }">
                                            <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle2_2 = false; routerRedirect('privado');">Cotizar por aseguradora</a></li>
                                        </ul>
                                    </li>
                                    <!-- *ngIf="(goId === 'rruiz@ahorra.io') || (goId === 'bguadarrama@nexosmedia.com') || (goId === 'lvazquez@ahorra.io') || (goId === '2201574')" -->
                                    <li>
                                        <a class="has-arrow ai-icon" aria-expanded="false">
                                            <span class="nav-text" (click)=" routerRedirect('otrosRamos');">Otros Ramos <span class="  badgenew rounded-pill text-white">¡Nuevo! </span></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    <i class="flaticon-381-home-2 " [ngClass]="{ 'd-none': !toggle2_2, 'd-block': toggle2_2 }"></i>
                                    <span class="inicio" >OFICINA VIRTUAL</span>
                                </a>
                                <div  class="menu2">

                                    <ul aria-expanded="false">
                                        <li *ngIf="(goId === 'rruiz@ahorra.io') || (goId === 'bguadarrama@nexosmedia.com') || (goId === 'lvazquez@ahorra.io') || (goId === '2201574') || (goId === 'ERNESTO VELAZQUEZ')">
                                            <div>
                                                <ul class="menu3">
                                                    <li routerLinkActive="active" (click)="routerRedirect('desactivarAseg/Go');"><a >Aseguradoras GO</a></li>
                                                    <li routerLinkActive="active" (click)="routerRedirect('desactivarAseg/Baz');"><a >Aseguradoras BAZ</a></li>
                                                </ul>
                                            </div>

                                        </li>
                                        <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle6 = false; routerRedirect('oficina-virtual');"><a>Mis Resultados</a></li>
                                       <li> <a><span class="nav-text">Mis pólizas</span> <i style="font-size: 13px;"></i></a>
                                        <ul>
                                            <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle6 = false; routerRedirect('emisiones-cobrar');"><a>Cobranza</a></li>
                                            <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle6 = false; routerRedirect('subsecuente');"><a >Subsecuente</a></li>

                                        </ul></li>
                                        <li href="javascript:void(0)"  routerLinkActive="active" (click)="toggle6 = false; routerRedirect('virtual-card');"><a>Tarjeta de presentación
                                            <span class="position-absolute start-100 translate-middle badgenew rounded-pill text-white">¡Nuevo!</span></a>
                                        </li>
                                        <li href="javascript:void(0)"  routerLinkActive="active" (click)="toggle6 = false; routerRedirect('mis-leads');" >
                                            <a> Mis Leads <span class="  badgenew rounded-pill text-white">¡Nuevo! </span></a>
                                        </li>



                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a > <i class="flaticon-381-reading"></i><span >CAPACITACIÓN</span> </a>
                                <ul >
                                    <li>
                                        <a ><span class="nav-text">Publicidad GO</span> <i style="font-size: 13px;">></i></a>
                                        <ul><li>
                                                <a class="" href="javascript:void(0)" routerLinkActive="active" aria-expanded="false" (click)="toggle4 = false; routerRedirect('go');">
                                                    <span class="nav-text">Materiales para Redes</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a><span class="nav-text">Asegadoras</span>
                                        <i style="font-size: 13px;">></i></a></li>
                                    <ul>
                                        <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle4 = false; routerRedirect('autos');">Autos</a></li>
                                        <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle4 = false; routerRedirect('aseguradoras');">Formatos y Condiciones</a></li>
                                        <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle4 = false; routerRedirect('producto');"><a>Producto</a></li>
                                        <li><a href="https://sitio.soyagenteactualizado.com/#/GoAgentes/" target="_blank" rel="noopener noreferrer">Soy GO Agente Actualizado</a></li>
                                    </ul>
                                    <li>
                                        <a class="has-arrow ai-icon" aria-expanded="false" (click)="toggle5 = !toggle5; toggle1 = false; toggle2 = false; toggle3  = false; toggle4 = false;">
                                            <span >Presentaciones e instructivos</span>
                                            <i style="font-size: 13px;">></i>
                                        </a>
                                        <ul >
                                            <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle5 = false; routerRedirect('argumentos-ventas');">Argumentos de Venta</a></li>
                                            <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle5 = false; routerRedirect('cobranza-go');">Cobranza GO</a></li>
                                            <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle5 = false; routerRedirect('prospectar');">Comó captar clientes</a></li>
                                            <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle5 = false; routerRedirect('metodo-de-pago');">Método de Pago</a></li>
                                            <li><a href="javascript:void(0)" routerLinkActive="active" (click)="toggle5 = false; routerRedirect('portal-go');">Portal GO</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>




                            <hr>


                            <li class="nav-item dropdown header-profile pt-2 d-md-none" >
                                <p style="font-weight:bold;" *ngIf="user" >Hola <strong>{{user.nombre}} </strong></p>
                                <div class="">
                                    <ul>
                                        <li>
                                            <a (click)="linkLocal('/admin/usuario/perfil')" class="dropdown-item ai-icon">
                                                <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                    <circle cx="12" cy="7" r="4"></circle>
                                                </svg>
                                                <span class="ml-2">Perfil </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>

                                <a (click)="linkLocal('/logOut')" class="dropdown-item ai-icon">
                                    <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                        <polyline points="16 17 21 12 16 7"></polyline>
                                        <line x1="21" y1="12" x2="9" y2="12"></line>
                                    </svg>
                                    <span class="ml-2">Salir </span>
                                </a>
                            </li>
                        </ul>
                    </div>




                </div>
            </div>
        </div>
    </div>
