<div class="row" >
    <div class="col">
        <div class="col-6 mx-auto">
            <div class="col rounded d-block mx-auto">
                <div class="card shadow-lg p-3 mb-5 bg-body nuevaFormaCaja" (click)="emisionesSelect()" style="cursor: pointer">
                    <div class="card-body" title="Emisiones">
                        <a rel="preconnect" title="emisiones">
                            <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white nuevaFormaNuevo">¡Nuevo! </span>
                            <img class="rounded mx-auto d-block nuevaFormaImagen" src="assets/images/iconos/01.png" alt="log">
                        </a>
                    </div>
                    <!--                                    <strong style="text-align: center;">ASEGURADORAS GO</strong>-->
                </div>
            </div>
        </div>
    </div>
</div>
