<ng-template #content let-modal>

    <div class="fondoAzul">
    
        <div class="modal-header modalHeader" style="background:white;">
            <div class="d-flex align-items-center justify-content-center w-100">
                <h4 class="modal-title text-center m-0" id="exampleModalLabel">Detalles <span *ngIf="idEmision !== null">Landing - Cotizacion</span> <span *ngIf="idEmision === null">Portal - Multicotizador</span></h4>
            </div>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    

        <div *ngIf="idEmision !== null" class="row text-uppercase">

            <div class="col-12 mb-4">

                <div class="row mx-0 mt-4 fondoBlanco">
                    <div class="col-12 m-1">
                        <h3 class="font-weight-bolder mt-3 coloGris text-center"> <strong>DATOS PERSONALES</strong></h3>
                    </div>
                    <div class="col-6 my-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span>Nombre:</span>  {{!detalles[0].nombre ? 'SIN DATO' :
                                detalles[0].nombre +' ' + detalles[0].apellidoPat +' '+ detalles[0].apellidoMat }}
                            </li>
                            <li class="list-group-item">
                                <span>Edad:</span>  {{!detalles[0].edad ? 'SIN DATO' : detalles[0].edad}}
                            </li>
                            <li class="list-group-item"><span>Fecha de Nacimiento:</span>
                                {{!detalles[0].fechaNacimiento ? 'SIN DATO' : detalles[0].fechaNacimiento === 'Invalid date' ? 'SIN DATO' : detalles[0].fechaNacimiento}}
                            </li>
                            <li class="list-group-item">
                                <span>Genero:</span>  {{!detalles[0].genero ? 'SIN DATO' : detalles[0].genero}}</li>
                            <li class="list-group-item"><span>RFC:</span>  {{!detalles[0].rfc ? 'SIN DATO' : detalles[0].rfc}}
                            </li>
                            <li class="list-group-item">
                                <span>CURP:</span>  {{!detalles[0].curp ? 'SIN DATO' : detalles[0].curp}}</li>
                            <li class="list-group-item">
                                <span>Email:</span>  {{!detalles[0].email ? 'SIN DATO' : detalles[0].email}}</li>
                            <li class="list-group-item">
                                <span>Telefono:</span>  {{!detalles[0].telefono ? 'SIN DATO' : detalles[0].telefono}}</li>
                        </ul>
                    </div>
                    <div class="col-6 my-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span>Ocupación:</span>  {{!detalles[0].ocupacio ? 'SIN DATO' : detalles[0].ocupacion}}</li>
                            <li class="list-group-item">
                                <span>País:</span>  {{!detalles[0].pais ? 'SIN DATO' : detalles[0].pais | uppercase}}</li>
                            <li class="list-group-item">
                                <span>Calle:</span>  {{!detalles[0].calle ? 'SIN DATO' : detalles[0].calle }}
                                <span>N° Ext:</span>  {{!detalles[0].noExt ? 'SIN DATO' : detalles[0].noExt}}
                                <span>N° Int:</span>  {{!detalles[0].noInt ? 'SIN DATO' : detalles[0].noInt}}
                            </li>
                            <li class="list-group-item">
                                <span>Ciudad:</span>  {{!detalles[0].ciudad ? 'SIN DATO' : detalles[0].ciudad | uppercase}}</li>
                            <li class="list-group-item">
                                <span>Colonia:</span>  {{!detalles[0].colonia ? 'SIN DATO' : detalles[0].colonia }}</li>
                            <li class="list-group-item">
                                <span>Codigo Postal:</span>  {{!detalles[0].codPostal ? 'SIN DATO' : detalles[0].codPostal}}
                            </li>
                            <li class="list-group-item">
                                <span>Poblacion:</span>  {{!detalles[0].poblacion ? 'SIN DATO' : detalles[0].poblacion}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row mx-4 mt-4 fondoBlanco">
                    <div class="col-12 m-3">
                        <h3 class="font-weight-bolder mt-3 coloGris text-center"><strong>DATOS EMISIÓN</strong></h3>
                    </div>
                    <div class="col-6 my-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span>ID Cotizacion:</span>  {{!idCotizacion ? 'SIN DATO' : idCotizacion }}</li>
                            <li class="list-group-item">
                                <span>ID Emisión</span>  {{!detalles[0].id ? 'SIN DATO' : detalles[0].id}}</li>
                            <li class="list-group-item">
                                <span>Aseguradora:</span>  {{!detalles[0].aseguradora ? 'SIN DATO' : detalles[0].aseguradora | uppercase}}
                            </li>
                            <li class="list-group-item">
                                <span>Poliza:</span>  {{!detalles[0].poliza ? 'SIN DATO' : detalles[0].poliza}}</li>
                            <li class="list-group-item">
                                <span>Paquete:</span>  {{!detalles[0].paquete ? 'SIN DATO' : detalles[0].paquete}}</li>
                            <li class="list-group-item"><span>Uso:</span>  {{!detalles[0].uso ? 'SIN DATO' : detalles[0].uso}}
                            </li>
                            <li class="list-group-item">
                                <span>Marca:</span>  {{!detalles[0].marca ? 'SIN DATO' : detalles[0].marca}}</li>
                            <li class="list-group-item">
                                <span>SubMarca:</span>  {{!detalles[0].subMarca ? 'SIN DATO' : detalles[0].submarca}}</li>
                            <li class="list-group-item">
                                <span>Modelo:</span>  {{!detalles[0].modelo ? 'SIN DATO' : detalles[0].modelo}}</li>
                            <li class="list-group-item">
                                <span>Descripcion:</span>  {{!detalles[0].descripcion ? 'SIN DATO' : detalles[0].descripcion}}
                            </li>
                            <li class="list-group-item">
                                <span>N° Motor:</span>  {{!detalles[0].noMotor ? 'SIN DATO' : detalles[0].noMotor}}</li>
                        </ul>
                    </div>
                    <div class="col-6 my-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span>N° Serie:</span>  {{!detalles[0].noSerie ? 'SIN DATO' : detalles[0].noSerie}}</li>
                            <li class="list-group-item">
                                <span>N° Placas:</span>  {{!detalles[0].noPlacas ? 'SIN DATO' : detalles[0].noPlacas}}</li>
                            <li class="list-group-item">
                                <span>Derechos:</span>  {{!detalles[0].derechos ? 'SIN DATO' : detalles[0].derechos | currency}}
                            </li>
                            <li class="list-group-item">
                                <span>Impuesto:</span>  {{!detalles[0].impuesto ? 'SIN DATO' : detalles[0].impuesto | currency }}
                            </li>
                            <li class="list-group-item">
                                <span>Descuento:</span>  {{!detalles[0].descuento ? 'SIN DATO' : detalles[0].descuento | currency}}
                            </li>
                            <li class="list-group-item">
                                <span>Recargos:</span>  {{!detalles[0].recargos ? 'SIN DATO' : detalles[0].recargos | currency}}
                            </li>
                            <li class="list-group-item">
                                <span>Prima Neta:</span>  {{!detalles[0].primaNeta ? 'SIN DATO' : detalles[0].primaNeta | currency}}
                            </li>
                            <li class="list-group-item">
                                <span>Prima Total:</span>  {{!detalles[0].primaTotal ? 'SIN DATO' : detalles[0].primaTotal | currency}}
                            </li>
                            <li class="list-group-item">
                                <span>Primer Pago:</span>  {{!detalles[0].primerPago ? 'SIN DATO' : detalles[0].primerPago | currency}}
                            </li>
                            <li class="list-group-item">
                                <span>Pagos Subsecuentes:</span>  {{!detalles[0].pagosSubsecuentes ? 'SIN DATO' : detalles[0].pagosSubsecuentes}}
                            </li>
                            <li class="list-group-item">
                                <span>PeriodicidadDePago:</span>  {{!detalles[0].periodicidadDePago ? 'SIN DATO' : detalles[0].periodicidadDePago}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mx-4 mt-4 fondoBlanco">
                    <div class="col-12 m-3">
                        <h3 class="font-weight-bolder mt-3 coloGris text-center"><strong>DATOS TARJETA</strong></h3>
                    </div>
                    <div class="col-12 my-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span>Nombre de tarjetahabiente:</span> {{!detalles[0].nombreTarjeta ? 'SIN DATO' : detalles[0].nombreTarjeta}}</li>
                            <li class="list-group-item">
                                <span>Número de tarjeta</span>  {{!detalles[0].noTarjeta ? 'SIN DATO' : detalles[0].noTarjeta}}</li>
                            <li class="list-group-item">
                                <span>Banco:</span>  {{!detalles[0].banco ? 'SIN DATO' : detalles[0].banco}}
                            </li>
                            <li class="list-group-item">
                                <span>Expiración:</span>
                                {{!detalles[0].mesExp ? '0' : detalles[0].mesExp}}/{{!detalles[0].anioExp? '0' : detalles[0].anioExp}}

                                <span>CVV:</span>  {{!detalles[0].codigoSeguridad ? 'SIN DATO' : detalles[0].codigoSeguridad}}</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
        <div *ngIf="idEmision === null" class="mt-3">
            <div class="" style="width: 100%;">

            <div class="py-5 fondoBlanco">

                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-sm-12 col-md-4" >
                                <ul class="list-group text-uppercase">
                                    <li class="list-group-item">
                                        <span>Id cotización:</span>  {{!detallesCotizacion.id ? 'SIN DATO' : detallesCotizacion.id}}
                                    </li>
                                    <li class="list-group-item">
                                        <span>Marca:</span>  {{!detallesCotizacion.marca ? 'SIN DATO' : detallesCotizacion.marca }}
                                    </li>
                                    <li class="list-group-item">
                                        <span>Código Postal:</span>  {{!detallesCotizacion.cp ? 'SIN DATO' : detallesCotizacion.cp }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <ul class="list-group text-uppercase">
                                    <li class="list-group-item">
                                        <span>Movimiento:</span>  {{!detallesCotizacion.movimiento ? 'SIN DATO' : detallesCotizacion.movimiento}}
                                    </li>
                                    <li class="list-group-item">
                                        <span>Modelo:</span>  {{!detallesCotizacion.modelo ? 'SIN DATO' : detallesCotizacion.modelo }}
                                    </li>
                                    <li class="list-group-item">
                                        <span>Género:</span>  {{!detallesCotizacion.genero ? 'SIN DATO' : detallesCotizacion.genero }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <ul class="list-group text-uppercase">
                                    <li class="list-group-item">
                                        <span>Paquete:</span>  {{!detallesCotizacion.paquete ? 'SIN DATO' : detallesCotizacion.paquete}}
                                    </li>
                                    <li class="list-group-item">
                                        <span>Descripción:</span> {{!detallesCotizacion.aseguradoras[0] ? 'SIN DATO' : detallesCotizacion.aseguradoras[0].vehiculo.descripcion}}
                                    </li>
                                    <li class="list-group-item">
                                        <span>Edad:</span> {{!detallesCotizacion.edad ? 'SIN DATO' : detallesCotizacion.edad}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>


            <div class="container-fluid">
       
                <div class="row m-4 fondoBlanco"*ngFor="let aseg of detallesCotizacion.aseguradoras;">
                        <div class="col-12 pt-4" >
                        <h2>
                            <strong class="coloGris">COTIZACIÓN {{aseg.aseguradora}}</strong>
                        </h2>
                        <br>
                        </div>

                        <div class="col-sm-12 col-md-4 mb-4">
                            <ul class="list-group  text-uppercase">
                                <li class="list-group-item"><span>Prima neta:</span>{{!aseg.cotizacion.primaNeta? 'SIN DATO' :aseg.cotizacion.primaNeta|currency}}</li>
                                <li class="list-group-item"> <span>Prima total:</span>{{!aseg.cotizacion.primaTotal ? 'SIN DATO' :aseg.cotizacion.primaTotal|currency}}</li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-4">
                            <ul class="list-group text-uppercase">
                                <li class="list-group-item">
                                    <span>Derechos:</span>  {{!aseg.cotizacion.derechos ? 'SIN DATO' : aseg.cotizacion.derechos|currency}}
                                </li>
                                <li class="list-group-item mb-4">
                                    <span>Impuestos:</span>  {{!aseg.cotizacion.impuesto ? 'SIN DATO' : aseg.cotizacion.impuesto|currency}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-4">
                            <ul class="list-group text-uppercase">
                                <li class="list-group-item">
                                    <span>Descuento:</span>  {{!aseg.descuento? 'SIN DATO' :  aseg.descuento +'%' }}
                                </li>
                            </ul>
                        </div>
                        
                </div>
            </div>

            </div>

        </div>
    
</div>
</ng-template>

<img class="size-icon" src="assets/images/iconos/detalles-on.svg" width="35" height="30" (click)="open(content)"/>

