<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-12 p-md-0 go-margin-top mt-3">
            <div class="welcome-text">
                <h4 class="font-weight-bold">¿Quienes Somos?</h4>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-1 mb-md-5">
        <div class="row">
            <div class="col-12 col-md-9 pl-0">
                <us-internal></us-internal>
                <div class="row">
                    <mision-internal class="col-12 col-md-6"></mision-internal>
                    <vision-internal class="col-12 col-md-6"></vision-internal>
                    <div class="col-12 col-md-4">
                        <img src="assets/images/1.png" alt="uno" class="img-fluid height-9">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="assets/images/2.png" alt="dos" class="img-fluid height-9">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="assets/images/3.png" alt="tres" class="img-fluid height-9">
                    </div>
                </div>
            </div>
            <div class="col-3 d-none d-md-block p-0">
                <img src="assets/images/login/loginman.png" alt="quienes somos" class="margen-img" style="transform:rotateY(180deg);">
            </div>
        </div>
    </div>
</div>