<div class="card">
 <div class="card-body">
    <h3 class="font-weight-bold px-md-3 py-3 mb-0 afiliados-go" style="color: #00DFAB;">Nuestra Misión</h3>
    <div class="row">
      <div class="col-md-12">
        <p class="px-md-3 mb-0 afiliados-go" style="float: left;">Ser la plataforma digital para la venta de seguros líder del mercado. </p>
       <!-- <p class="px-md-3 mb-0 afiliados-go" style="float: left;">Digitalizar a los vendedores de seguros, torgándoles las herramientas necesarias que requieren para ser exitosos en un mundo digital.</p>  -->
      </div>
    </div>
 </div>
</div>