<div class="row">
    <div class="col-12 text-center my-4"><span class="h3 font-weight-bold">Mis Resultados</span></div>
    <div class="col-12 col-md-12 col-lg-12">
        <div class="row d-flex justify-content-between ">
            <div class="col-12 col-md-3 col-lg-3 mb-3">
                <div class="form-floating mb-" style="border:1px solid #e3e3e3;border-radius:6px;">
                    <span for="fechaIni" class="text-muted small px-3 pb-0" >Fecha Inicio</span>
                    <input class="form-control form-control-lg py-0 limpiar" [(ngModel)]="fechaInicio" type="date" id="fechaIni" style="border:none;" value="">
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-floating mb-3" style="border:1px solid #e3e3e3;border-radius:6px;">
                    <span for="fechaFin" class="text-muted small px-3 pb-0 limpiar">Fecha Final</span>
                    <input class="form-control form-control-lg py-0" [(ngModel)]="fechaFin" type="date" id="fechaIni" style="border:none;" value="">
                </div>
            </div>
            <div class="col-12 col-md-2 col-lg-2">
                <button class="btn btn-block  btn-primary " (click)="_filtroFechas()">Filtrar</button>
                <a class="btn btn-block btn-link " (click)="-_getPolizaTotales()">Quitar filtro</a>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="card-body">
                         <p class="card-title  text-center">TOTAL DE COMPENSACIÓN</p>
                        <h3 class="card-text font-weight-bolder text-center">{{this.totalcompensacion | currency:'USD':'symbol':'1.0-0'}}</h3>
                     </div>
                </div>
           </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-3 col-xl-3 ">
            <div class="card">
                <div class="card-body px-lg-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4 col-md-4 text-center">
                                <img src="assets/images/iconos/01.png" alt="" class="img-fluid" width="100" height="100">
                            </div>
                            <div class="col-8 col-md-8">
                                <span class="w-100 d-block totalesTexto">Total Pólizas Emitidas</span>
                                <span class="totales totalesCantidad">{{totalPolizaEmitida}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 col-xl-3">
        <div class="card">
            <div class="card-body px-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4 col-md-4 text-center">
                            <img src="assets/images/iconos/03.png" alt="" class="img-fluid" width="100" height="100">
                        </div>
                        <div class="col-8 col-md-8" >
                            <span class="w-100 d-block totalesTexto">Prima Neta Emitida</span>
                            <span class="totalesCantidad">{{totalPrimaEmitida | currency:'USD':'symbol':'1.0-0'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card">
                <div class="card-body px-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4 col-md-4 text-center">
                                <img src="assets/images/iconos/01.png" alt="" class="img-fluid" width="100" height="100">
                            </div>
                            <div class="col-8 col-md-8 px-0 " >
                                <span class="w-100 d-block totalesTexto" >Total Pólizas Cobradas</span>
                                <p class="totalesCantidad">{{totalPolizaCobradas}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card">
                <div class="card-body px-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4 col-md-4 text-center">
                                <img src="assets/images/iconos/03.png" alt="" class="img-fluid" width="100" height="100">
                            </div>
                            <div class="col-8 col-md-8" >
                                <span class="w-100 d-block totalesTexto" >Prima Neta Cobrada</span>
                                <span class="totales totalesCantidad" >{{totalPrimaCobrada | currency:'USD':'symbol':'1.0-0'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="font-weight: bolder;">Mis resultados por Aseguradora</h2>
        <table  style="color: #858585;" class="table table table-bordered table-hover table-striped table-responsive">
            <thead>
            <tr>
                <th scope="col">ASEGURADORA</th>
                <th scope="col">RAMO</th>
                <th scope="col">PRIMA NETA EMITIDA</th>
                <th scope="col">PRIMA NETA COBRADA</th>
                <th scope="col">TOTAL POLIZAS EMITIDAS</th>
                <th scope="col">TOTAL POLIZAS COBRADAS</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let totales of polizaTotales">
                <th scope="row">{{totales['alias']}}</th>
                <td>{{totales['subRamo']}}</td>
                <td>{{totales['primaNetaEmitida'] | currency}}</td>
                <td>{{totales['primaNetaCobrada'] | currency}}</td>
                <td>{{totales['numeroPolizasEmitidas']}}</td>
                <td>{{totales['numeroPolizasCobradas']}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<br>
<br>





















