<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>

<div class="container-fluid">
    <div class="row page-titles mx-0" [hidden]="">
        <div class="col-12 p-md-0 mt-4">
            <h3 class="col-auto font-weight-bold p-0">
                <strong>Ingresa los datos para cotizar:</strong>
            </h3>
        </div>
    </div>
    <div class="row" [hidden]="" style="margin-bottom: 300px;">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4"  style="margin-top: 50px;">
                    <img src="assets/images/otrosRamosGo/seguro-de-vida.png" class="mt-1 img-fluid" alt="logos" style="width:100%;display:block;height:auto;margin:auto;" />
                </div>
                <div class="col-12 col-md-8">
                    <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="margin-top: 20px;">
                        <div class="card-body">
                            <form [formGroup] = "cotizaVida" (ngSubmit)="btnCotizar()">
                                <div class="row">
<!--                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">-->
<!--                                        <select formControlName="idRamoVida" class="form-control form-control-lg" (blur)="updateData()">-->
<!--                                            <option value="">IdRamo</option>-->
<!--                                            <option value="10">10</option>-->
<!--                                        </select>-->
<!--                                    </div>-->

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="nivelHospitalarioVida" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Nivel Hospitalario</option>
                                            <option value="Basico">Basico</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.nivelHospitalarioVida.touched && erroresVida.nivelHospitalarioVida.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="coverturasAddVida" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Coberturas Adicionales</option>
                                            <option value="Si">Si</option>
                                            <option value="No">No</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.coverturasAddVida.touched && erroresVida.coverturasAddVida.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 form-group" [ngClass]="{'col-12 col-md-6 col-lg-6 col-xl-6 form-group': !esMayor}">
                                        <select formControlName="generoVida" class="form-control form-control-lg" (change)="changeNameValidators()" (blur)="updateData()">
                                            <option value="">Género</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                            <option value="MORAL">Persona Moral</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.generoVida.touched && erroresVida.generoVida.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 form-group" [ngClass]="{'col-12 col-md-6 col-lg-6 col-xl-6 form-group': !esMayor}">
                                        <select formControlName="edadVida" class="form-control form-control-lg" (blur)="updateData()" (change)="displayFumasField()">
                                            <option value="">Edad</option>
                                            <option *ngFor="let edadGeneradaVista of edadGenerada" value="{{edadGeneradaVista}}">{{edadGeneradaVista}}</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.edadVida.touched && erroresVida.edadVida.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                           </div>
                                    </div>

                                    <div class="col-12 col-md-4 col-lg-4 col-xl-4 form-group" *ngIf="esMayor">
                                        <select formControlName="fumasVida" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Fumas</option>
                                            <option value="Si">Si</option>
                                            <option value="No">No</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.fumasVida.touched && erroresVida.fumasVida.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                           </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <input type="text" formControlName="codigoPVida" placeholder="Código Postal" class="form-control form-control-lg"
                                               value="" maxlength="5" (blur)="updateData()">

                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.codigoPVida.touched && erroresVida.codigoPVida.errors?.required;">
                                         <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                         <div class="ml-3">
                                             Este campo es obligatorio favor de ingresar CP
                                         </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.codigoPVida.touched && erroresVida.codigoPVida.errors?.pattern">
                                            <div class="ml-3">
                                                Campo inválido formato incorrecto
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <input type="text" formControlName="telefonoVida" placeholder="Teléfono" class="form-control form-control-lg"
                                               value="" maxlength="10" (blur)="updateData()">
                                            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.telefonoVida.touched && erroresVida.telefonoVida.errors?.required;">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                <div class="ml-3">
                                                    Este campo es obligatorio favor de ingresar teléfono.
                                                </div>
                                            </div>
                                            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.telefonoVida.touched && erroresVida.telefonoVida.errors?.pattern">
                                                <div class="ml-3">
                                                    Campo inválido, revisa que el teléfono solo contenga números y sea a 10 dígitos.
                                                </div>
                                            </div>
                                    </div>


                                    <div class="col-12 form-group">
                                        <input type="text" formControlName="nombreAsegVida" placeholder="Nombre Completo" class="form-control form-control-lg"
                                               value="" maxlength="86" (blur)="updateData()">
                                        
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.nombreAsegVida.touched && erroresVida.nombreAsegVida.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar Nombre
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.nombreAsegVida.touched && erroresVida.nombreAsegVida.errors?.pattern && erroresVida.generoVida.value === 'MORAL'">
                                            <div class="ml-3">
                                                Campo inválido, formato incorrecto, el nombre no debe llevar espacios ni caracteres especiales.
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.nombreAsegVida.touched && erroresVida.nombreAsegVida.errors?.pattern && erroresVida.generoVida.value !== 'MORAL'">
                                            <div class="ml-3">
                                                Campo inválido, formato incorrecto, el nombre no debe llevar espacios, números, ni caracteres especiales.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <input type="text" formControlName="emailAsegVida" placeholder="Email" class="form-control form-control-lg"
                                               value="" (blur)="updateData()">
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.emailAsegVida.touched && erroresVida.emailAsegVida.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar E-mail
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.emailAsegVida.touched && erroresVida.emailAsegVida.errors?.pattern">
                                            <div class="ml-3">
                                                Campo inválido, formato de e-mail incorrecto
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="numeroAsegVida" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Número de asegurados</option>
                                            <option value="1-50">1 a 50</option>
                                            <option value="51-100">51 a 100</option>
                                            <option value="mas-100">Mas de 100</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresVida.numeroAsegVida.touched && erroresVida.numeroAsegVida.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                           </div>
                                    </div>

                                    <div class="col-12">
                                        <button id="btnCotizarAuto" type="submit" class="btn btn-success btn-block" [disabled]="cotizaVida.invalid">
                                            <p class="lead font-weight-bold my-3 text-white">Cotizar Ahora<img
                                                    src="assets/images/chevron-right-bn.svg" alt=">" width="25"
                                                    height="25" /></p>
                                        </button>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
