<div class="container-fluid my-5">
    <div class="row page-titles mx-0 go-margin-top">
        <div class="col-12 p-md-0">
            <div class="welcome-text">
                <h4 class="font-weight-bold">Capacitación</h4>
            </div>
        </div>
        <div class="col-12 p-md-0 justify-content mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin/capacitacion']">Capacitación</a></li>
                <li style="margin-left: 18px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>  
                </li>
                <li class="breadcrumb-item active"><a [routerLink]="['/admin/capacitacion/producto']">Productos</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!loaderGo" class="overlayLeo">
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                    <youtube-player *ngIf="loaderGo" videoId="wAVFG6CTYYs"></youtube-player>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!loaderGo" class="overlayLeo">
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                    <youtube-player *ngIf="loaderGo" videoId="biwZCV9nCIU"></youtube-player>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!loaderGo" class="overlayLeo">
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                   <youtube-player *ngIf="loaderGo" videoId="ZuDUuqgOu8g"></youtube-player>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!loaderGo" class="overlayLeo">
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                    <youtube-player *ngIf="loaderGo" videoId="UxOJd5SYoHc"></youtube-player>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!loaderGo" class="overlayLeo">
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                    <youtube-player *ngIf="loaderGo" videoId="BHPzeRwx5Bw"></youtube-player>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!loaderGo" class="overlayLeo">
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                    <youtube-player *ngIf="loaderGo" videoId="fqjNrxStx5s"></youtube-player>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!loaderGo" class="overlayLeo">
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                    <iframe *ngIf="loaderGo" src="assets/images/pdfs/capacitacion/producto/qualitas.pdf#toolbar=0&scrollbar=0&navpanes=1" width="100%" height="220px"></iframe>
                </div>
                <a download href="assets/images/pdfs/capacitacion/producto/qualitas.pdf" class="btn btn-primary btn-block"> DESCARGAR PDF</a>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!loaderGo" class="overlayLeo">
                        <div class="sk-three-bounce">
                            <div class="sk-child sk-bounce1"></div>
                            <div class="sk-child sk-bounce2"></div>
                            <div class="sk-child sk-bounce3"></div>
                        </div>
                    </div>
                    <iframe *ngIf="loaderGo" src="assets/images/pdfs/capacitacion/producto/banorte.pdf#toolbar=0&scrollbar=0&navpanes=1" width="100%" height="220px"></iframe>
                </div>
                <a downloadhref="assets/images/pdfs/capacitacion/producto/banorte.pdf" class="btn btn-primary btn-block"> DESCARGAR PDF</a>
            </div>
        </div>
    </div>
</div>