<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo" style=" top: -280px !important;"></loader>

<div class="row mt-5">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="card rounded">
            <mat-horizontal-stepper [linear]="true" #stepper>
                <!--Comienza los datos personales primer step-->
                <mat-step>
                    <!--                <mat-step [stepControl]="datosPersonales" [editable]="true">-->
                    <ng-template matStepLabel>Personales</ng-template>
                    <form [formGroup]="datosPersonales">
                        <div id="test-l-1" class="content">
                            <hr class="separador">
                            <div class="form-group">
                                <div id="datosConductor" class="form-row mt-0 mt-lg-2">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pb-1 pb-lg-3">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Nombre(s)</label></mat-label>
                                            <input (focusout)="updateData(2); calcularRfc()" name="nombre" id="nombre" aria-label="Nombre del cliente" maxlength="25"
                                                   type="text" placeholder="Nombres" matInput formControlName="nombre"
                                                   [ngClass]="{'is-valid-d': (!datos_personales.nombre.errors && datos_personales.nombre.dirty), 'is-invalid':
                                                   datos_personales.nombre.errors && submitted || datos_personales.nombre.errors && datos_personales.nombre.dirty}"
                                                   class="form-control inputlleno input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.nombre.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El nombre es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Apellido Paterno</label></mat-label>
                                            <input (focusout)="updateData(2)" placeholder="Apellido paterno" matInput formControlName="aPaterno"
                                                   name="aPaterno" id="aPaterno" aria-label="Apellido paterno" maxlength="25" type="text"
                                                   (focusout)="calcularRfc();testCurp()" [ngClass]="{'is-valid-d': (!datos_personales.aPaterno.errors && datos_personales.aPaterno.dirty),
                                                   'is-invalid': datos_personales.aPaterno.errors && submitted || datos_personales.aPaterno.errors && datos_personales.aPaterno.dirty}"
                                                   class="form-control inputlleno input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.aPaterno.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Apellido Paterno es obligatorio
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Apellido Materno</label></mat-label>
                                            <input (focusout)="updateData(2)" placeholder="Apellido materno" name="aMaterno" matInput formControlName="aMaterno" id="aMaterno"
                                                   (focusout)="calcularRfc();testCurp()" aria-label="Apellido materno" maxlength="25" type="text"
                                                   [ngClass]="{'is-valid-d': (!datos_personales.aMaterno.errors && datos_personales.aMaterno.dirty),
                                                   'is-invalid': datos_personales.aMaterno.errors && submitted || datos_personales.aMaterno.errors && datos_personales.aMaterno.dirty}"
                                                   class="form-control inputlleno input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.aMaterno.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Apellido Materno es obligatorio
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Fecha de nacimiento</label></mat-label>
                                            <input (focusout)="updateData(2); calcularRfc(); testCurp()" type="date" class="form-control" [maxLength]="10"
                                                   [ngClass]="{'is-valid-d': (!datos_personales.fechaNacimiento.errors && datos_personales.fechaNacimiento.dirty),
                                                   'is-invalid': datos_personales.fechaNacimiento.errors && submitted || datos_personales.fechaNacimiento.errors && datos_personales.fechaNacimiento.dirty}"
                                                   maxlength="10" name="trip-start" placeholder="MM.dd.yyyy" matInput formControlName="fechaNacimiento"/>
                                            <mat-error *ngIf="datos_personales.fechaNacimiento.errors">
                                                <small class="form-text text-danger ml-2">
                                                    La Fecha de Nacimiento es obligatorio
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Entidad de Nacimiento</label>
                                            </mat-label>
                                            <mat-select id="nacimientoEstado" name="nacimientoEstado" (selectionChange)="calcularRfc(); updateData(2)" required="required"
                                                        formControlName="nacimientoEstado" class="selected-g">
                                                <mat-option value="AS">AGUASCALIENTES</mat-option>
                                                <mat-option value="BC">BAJA CALIFORNIA</mat-option>
                                                <mat-option value="BS">BAJA CALIFORNIA SUR</mat-option>
                                                <mat-option value="CC">CAMPECHE</mat-option>
                                                <mat-option value="CL">COAHUILA DE ZARAGOZA</mat-option>
                                                <mat-option value="CM">COLIMA</mat-option>
                                                <mat-option value="CS">CHIAPAS</mat-option>
                                                <mat-option value="CH">CHIHUAHUA</mat-option>
                                                <mat-option value="DF">CDMX</mat-option>
                                                <mat-option value="DG">DURANGO</mat-option>
                                                <mat-option value="GT">GUANAJUATO</mat-option>
                                                <mat-option value="GR">GUERRERO</mat-option>
                                                <mat-option value="HG">HIDALGO</mat-option>
                                                <mat-option value="JC">JALISCO</mat-option>
                                                <mat-option value="MC">MEXICO</mat-option>
                                                <mat-option value="MN">MICHOACAN DE OCAMPO</mat-option>
                                                <mat-option value="MS">MORELOS</mat-option>
                                                <mat-option value="NT">NAYARIT</mat-option>
                                                <mat-option value="NL">NUEVO LEON</mat-option>
                                                <mat-option value="OC">OAXACA</mat-option>
                                                <mat-option value="PL">PUEBLA</mat-option>
                                                <mat-option value="QT">QUERETARO DE ARTEAGA</mat-option>
                                                <mat-option value="QR">QUINTANA ROO</mat-option>
                                                <mat-option value="SP">SAN LUIS POTOSI</mat-option>
                                                <mat-option value="SL">SINALOA</mat-option>
                                                <mat-option value="SR">SONORA</mat-option>
                                                <mat-option value="TC">TABASCO</mat-option>
                                                <mat-option value="TS">TAMAULIPAS</mat-option>
                                                <mat-option value="TL">TLAXCALA</mat-option>
                                                <mat-option value="VZ">VERACRUZ</mat-option>
                                                <mat-option value="YN">YUCATAN</mat-option>
                                                <mat-option value="ZS">ZACATECAS</mat-option>
                                                <mat-option value="NE">EXTRANJERO</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="datos_personales.nacimientoEstado.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Estado es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Teléfono</label></mat-label>
                                            <input (focusout)="updateData(2)" name="telefono" id="telefono" maxlength="10" formControlName="telefono" aria-label="(55-55-55-55-55)" type="text" placeholder="(55-55-55-55-55)" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.telefono.errors && datos_personales.telefono.dirty), 'is-invalid': datos_personales.telefono.errors && submitted || datos_personales.telefono.errors && datos_personales.telefono.dirty}"
                                                   class="form-control input" aria-required="true" aria-invalid="false" (keypress)="numberOnly($event)">
                                            <mat-error *ngIf="datos_personales.telefono.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El teléfono es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Email</label></mat-label>
                                            <input (focusout)="updateData(2)" name="email" aria-label="Numero interior" maxlength="50" type="text" formControlName="correo" placeholder="Email" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.correo.errors && datos_personales.correo.dirty), 'is-invalid': datos_personales.correo.errors && submitted || datos_personales.correo.errors && datos_personales.correo.dirty}"
                                                   class="form-control input">
                                            <mat-error *ngIf="datos_personales.correo.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Email es requerido en formato correcto.
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">RFC</label></mat-label>
                                            <input (focusout)="updateData(2)" (click)="calcularRfc()" formControlName="rfc" name="RFC" id="RFC" maxlength="13" aria-label="RFC" type="text" placeholder="RFC" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.rfc.errors && datos_personales.rfc.dirty), 'is-invalid': datos_personales.rfc.errors && submitted || datos_personales.rfc.errors && datos_personales.rfc.dirty}"
                                                   class="form-control input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.rfc.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El RFC es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">CURP</label></mat-label>
                                            <input (focusout)="updateData(2)" name="curp" id="curp" aria-label="curp" maxlength="50" type="text" formControlName="curp" placeholder="CURP" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.curp.errors && datos_personales.curp.dirty), 'is-invalid': (datos_personales.curp.errors && datos_personales.curp.dirty)}"
                                                   class="form-control input">
                                            <!--(click)="testCurp()"-->
                                            <mat-error *ngIf="datos_personales.curp.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El curp es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <button mat-button matStepperNext (click)="changeStatusEmisionNext('clientData')" class="btn btn-lg btn-primary float-right btn-blocky font-weight-bold btn-sig">
                                    Siguiente
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-step>

                <!--Direccion del contratante-->
                <mat-step>
                    <!--                <mat-step [stepControl]="datosDireccion" [editable]="true">-->
                    <ng-template matStepLabel>Dirección</ng-template>
                    <form [formGroup]="datosDireccion">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Estado | Ciudad</label></mat-label>
                                    <input (focusout)="updateData(3)" type="text" matInput formControlName="estadoMun" readonly="readonly" class="form-control" aria-required="true" aria-invalid="false">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Selecciona tu colonia</label></mat-label>
                                    <mat-select  *ngIf="emisionRequest.aseguradora != 'AFIRME'" id="estado" name="estado" required="required" formControlName="colonia" class="selected-g" (selectionChange)="updateData(3)">
                                        <mat-option *ngFor="let colonia of colonias" [value]="(colonia.asenta)?colonia.asenta:colonia.descripcion">
                                            {{(colonia.asenta)?colonia.asenta:colonia.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-select  *ngIf="emisionRequest.aseguradora === 'AFIRME'" id="estado2" name="estado" required="required" formControlName="colonia" class="selected-g" (selectionChange)="updateData(3)">
                                        <mat-option *ngFor="let colonia of cAfirme" [value]="(colonia.nombreColonia)?colonia.nombreColonia +'-'+ colonia.idColonia:''">
                                            {{(colonia.nombreColonia)?colonia.nombreColonia:'hola'}}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error *ngIf="datos_direccion.colonia.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Estado es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Calle</label></mat-label>
                                    <input (focusout)="updateData(3)" formControlName="calleNum" matInput name="Calle" id="Calle" aria-label="Calle" maxlength="150" type="text" placeholder="Calle" required="required" class="form-control input" aria-required="true" aria-invalid="false" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Calle es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número Exterior</label></mat-label>
                                    <input (focusout)="updateData(3)" name="NoExt" id="NoExt" matInput aria-label="No. Exterior" maxlength="5" type="text" formControlName="numero" placeholder="No. Exterior" required="required" class="form-control input" aria-required="true" aria-invalid="false">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número Exterior es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número Interior</label></mat-label>
                                    <input (focusout)="updateData(3)" name="NoInt" id="NoInt" matInput aria-label="Numero interior" formControlName="numInterior" maxlength="5" type="text" placeholder="No. interior" class="form-control input">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <button mat-button matStepperPrevious (click)="changeStatusEmisionBack('addressData')" class="btn btn-secondary float-left btn-blocky font-weight-bold btn-sig">
                                Anterior
                            </button>
                            <button mat-button matStepperNext (click)="changeStatusEmisionNext('addressData')" class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig">
                                Siguiente
                            </button>
                        </div>
                    </form>
                </mat-step>

                <!--Form de de Veiculo solo placa o placa invalida-->
                <mat-step>
                    <!--                <mat-step [stepControl]="datosVehiculo" [editable]="true">-->
                    <ng-template matStepLabel>Vehiculo</ng-template>
                    <form [formGroup]="datosVehiculo">
                        <div class="row" style="  justify-content: center;">
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número de Placas</label></mat-label>
                                    <input (focusout)="validDataVehiculo(); updateData(4);" name="NoPlacas" id="NoPlacas" matInput aria-label="Placas"
                                           maxlength="10" formControlName="placa" type="text" value="" placeholder="Placas" required="required" class="form-control input"
                                           aria-required="true" value="" aria-invalid="false"
                                           style="text-transform: uppercase">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Placas es requerido
                                        </small>
                                    </mat-error>

                                    <mat-error *ngIf="this.numeroValido === true">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Placas es correcto favor de continuar
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="numeroValido === false">
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número de Serie</label></mat-label>
                                    <input (focusout)="validDataVehiculo(); updateData(4);" name="NoSerie" id="NoSerie" matInput aria-label="No. Serie" maxlength="20" formControlName="niv" type="text" value="" placeholder="No. Serie" class="form-control input" aria-required="true" aria-invalid="false">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Serie es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <button mat-button matStepperPrevious (click)="changeStatusEmisionBack('vehiculoData')" class="btn btn-secondary float-left btn-blocky font-weight-bold btn-sig" *ngIf="actionEmiterDataVehiculo === 'false'">
                                Anterior
                            </button>
                            <!--                            <button mat-button matStepperNext (click)="showMessage(); changeStatusEmisionNext('vehiculoData')" *ngIf="!useTerminalVirtual" [disabled]="actionEmiterDataVehiculo==='true'?'false':'true'" class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig">-->
                            <button mat-button matStepperNext class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig">
                                Formas de pago
                            </button>
                            <button mat-button matStepperNext (click)="emitir(0)" class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig" *ngIf="useTerminalVirtual">
                                Emitir
                            </button>
                        </div>
                    </form>
                </mat-step>

                <!--              Pregunta de Forma de pago-->
                <mat-step>
                    <!--                <mat-step [editable]="true">-->
                    <ng-template matStepLabel>Forma de pago</ng-template>
                    <div class="formas-pago">
                        <div class="otros-medios">
                            <!-- original pago con emision   //emitir(2);actionMethod($event);-->
                            <button id="show-btn"  (click)="emitirSinPago(); actionMethod($event);"  class="btn btn-lg btn-outline-info font-weight-bold">
                                Otros medios de pago
                            </button>
                        </div>
                        <div class="text-pago">
                            <p class="font-weight-bolder" >ó</p>
                        </div>
                        <div class="cobro-pago">
                            <!-- changeStatusEmisionNext('paymentMethods') -->
                            <button  matStepperNext (click)="emisionAxa()" [disabled]="buttonEmisionInteraccion" class="btn btn-lg btn-primary float-right font-weight-bold btn-sig">
                                Cobro con TDD y TDC
                            </button>
                        </div>
                    </div>
                </mat-step>


                <!--forma de pagoPrueba-->
                <mat-step>
                    <!--                <mat-step [stepControl]="datosPago" [editable]="true" *ngIf="!useTerminalVirtual">-->
                    <ng-template matStepLabel>Pago</ng-template>

                    <div *ngIf="emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'QUALITAS'">
                        <label>Detalles de la poliza:</label>
                        <p>Número de póliza {{poliza?poliza:'Dato no Disponible'}}</p>
                        <a href="{{documentos[0]}}" target="_blank">Aviso de cobro</a>
                        <br>
                        <a href="{{documentos[1]}}" target="_blank">Recibo</a>
                        <br>
                        <a href="{{documentos[2]}}" target="_blank">Poliza</a>

                    </div>
                    <div *ngIf="emisionWithoutPaidAFIRME && aseguradoraSelected.toUpperCase() === 'AFIRME'">
                        <label>Detalles de la poliza:</label>
                        <p>Número de póliza {{poliza?poliza:'Dato no Disponible'}}</p>
                        <a href="{{documentos[0]}}" target="_blank">Aviso de cobro</a>
                        <br>
                        <a href="{{documentos[1]}}" target="_blank">Recibo</a>
                        <br>
                        <a href="{{documentos[2]}}" target="_blank">Poliza</a>

                    </div>
                    <div *ngIf="emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'QUALITAS'">
                        <label>Detalles del pago:</label>
                        <p>{{emisionResponse?.CodigoError === '' ?'Pago exitoso!':emisionResponse.CodigoError}}</p>
                    </div>
                    <div class="alert alert-primary" role="alert">
                        <div *ngIf="emisionWithoutPaidGNP && aseguradoraSelected.toUpperCase() === 'GNP'">
                            <label>Detalles de la poliza:</label>
                            <div><p>Número de póliza :{{poliza.length > 0?poliza:'Dato no Disponible'}}</p></div>
                            <a type="button" class="btn btn-outline-secondary" href="{{documentos}}" target="_blank"> Descargar Poliza</a>
                        </div>
                        <div *ngIf="(emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'AFIRME')|| (emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'ABA') || (emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'GENERAL_DE_SEGUROS')">
                            <label>Detalles de la poliza:</label>
                            <div><p>Número de póliza :{{poliza.length > 0?poliza:'Dato no Disponible'}}</p></div>
                            <a type="button" class="btn btn-outline-secondary mr-4" href="{{documentos}}" target="_blank"> Descargar Poliza</a>
                            <a type="button" class="btn btn-outline-secondary " href="{{terminalExterna}}" target="_blank"> Terminal Virtual</a>
                        </div>
                    </div>

                    <form [formGroup]="datosPago">
                        <div id="datosPago" class="form-row mt-0 mt-lg-2">
                            <!--Numero De Targeta-->
                            <div class="col-12 col-sm-9 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número de Tarjeta</label></mat-label>
                                    <div class="input-group mb-3">
                                        <input (focusout)="updateData(5);" name="NoTarjeta" id="NoTarjeta" matInput aria-label="Numero tarjeta" maxlength="20"
                                               type="text" placeholder="Número de tarjeta" value="{{numeroTargetaVisible}}"
                                               class="form-control input|password" aria-required="true" aria-invalid="false"
                                               (keypress)="numberOnly($event)" data-mask="####-####-####-####" data-previous-value="" formControlName="numTarjeta"
                                               (change)="numeroDetargetaInicial()" (blur)="extraerNumerosTargetas()" *ngIf="ojoOculto">
                                        <input name="NoTarjeta" id="NoTarjeta" matInput aria-label="Numero tarjeta" maxlength="20"
                                               type="text" placeholder="Número de tarjeta" value="{{numeroTargetaOculto}}"
                                               class="form-control input|password" *ngIf="!ojoOculto" >
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="ocultarTargeta()" *ngIf="ojoOculto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                            </svg>
                                        </button>
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon3" (click)="mostrarTargeta()" *ngIf="!ojoOculto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                                                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <mat-error *ngIf="datos_card.numTarjeta.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Tarjeta es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-sm-3 pb-1 pb-lg-3">
                                <img *ngIf="seleccionarImagen === 'american'" src="../../../../../assets/images/tarjetas_img/card_american.png" class="imgTargeta">
                                <img *ngIf="seleccionarImagen === 'visa'" src="../../../../../assets/images/tarjetas_img/card_visa.png" class="imgTargeta">
                                <img *ngIf="seleccionarImagen === 'mastercard'" src="../../../../../assets/images/tarjetas_img/card_master.png" class="imgTargeta">
                                <img *ngIf="seleccionarImagen === ''" src="../../../../../assets/images/comprobante.svg">
                            </div>


                            <div class="col-12 col-sm-6 pb-1 pb-lg-3" style="display: none">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">{{tipoTarjeta}}</label></mat-label>
                                    <mat-select id="tipoTarjeta" name="Carrier" formControlName="tipoTarjeta" class="selected-g"
                                                (change)="setCardType($event); updateData(5)" (click)="extraerNumerosTargetas()">

                                        <mat-option value="{{idTarjetaCarrier}}" >{{tipoTarjeta}}</mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="datos_card.banco.errors">
                                        <small class="form-text text-danger ml-2"> El Banco es requerido </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!--Selecciona el banco-->
                            <div class="col-12 col-sm-12 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Seleccione su banco</label></mat-label>
                                    <mat-select id="Banco" name="Banco" formControlName="banco" class="selected-g" (selectionChange)="updateData(5)">
                                        <mat-option *ngFor="let bancosCompletos of bancosCompletos " [value]="bancosCompletos.nom_ENTIDAD">{{bancosCompletos.nom_ENTIDAD}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.banco.errors">
                                        <small class="form-text text-danger ml-2"> El Banco es requerido </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="w-100"></div>

                            <!--Titular-->
                            <div class="col-12 col-sm-12 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Nombre del Tarjetahabiente</label></mat-label>
                                    <input (focusout)="updateData(5)" name="NombreTarjeta" id="NombreTarjeta" matInput aria-label="Titular de Tarjeta" maxlength="50" formControlName="nombreTarjeta" type="text" placeholder="Titular de Tarjeta" class="form-control input"
                                           aria-required="true" aria-invalid="false">
                                    <mat-error *ngIf="datos_card.nombreTarjeta.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Nómbre del Tarjetahabiente es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="w-100"></div>

                            <!--MES-ANIO-CVV-->
                            <div class="col-6 col-sm-4 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Mes de Vencimiento</label></mat-label>
                                    <mat-select id="MesExp" name="MesExp" formControlName="mesVencimiento" class="selected-g" (selectionChange)="updateData(5)" (blur)="calcularAnioActual(this.datos_card.mesVencimiento.value)">
                                        <mat-option *ngFor="let mesBanco of mesBanco" value="{{mesBanco}}">{{mesBanco}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.mesVencimiento.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Mes de Vencimiento es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 col-sm-4 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Año de vencimiento</label></mat-label>
                                    <mat-select id="AnioExp" name="AnioExp"  formControlName="anioVencimiento" class="selected-g" (selectionChange)="updateData(5)" >
                                        <mat-option *ngFor="let fechaActualTar of fechaActual" value="{{fechaActualTar}}">{{fechaActualTar}}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.anioVencimiento.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Año de Vencimiento es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-4 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Código de seguridad</label></mat-label>
                                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" name="CodigoSeguridad" id="CodigoSeguridad" matInput aria-label="CCV" maxlength="5" type="password" placeholder="CCV" class="form-control input|password" formControlName="cvv" aria-required="true" aria-invalid="false" (keypress)="numberOnly($event)" (focusout)="updateData(5);">
                                    <mat-error *ngIf="datos_card.cvv.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Código de Seguridad es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>


                            <!--Metodo De Pago-->
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Método de Pago</label></mat-label>
                                    <mat-select *ngIf="aseguradoraSelected.toUpperCase() !== 'GNP'" id="metodoPago" name="metodoPago" (selectionChange)="setOptPay($event); updateData(5)" formControlName="metodoPago" class="selected-g">
                                        <mat-option value="DEBITO">DÉBITO</mat-option>
                                        <mat-option value="CREDITO">CRÉDITO</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.metodoPago.errors">
                                        <small class="form-text text-danger ml-2"> El Método de Págo es requerido </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!--Forma De PAGO-->
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Forma de Pago</label></mat-label>
                                    <mat-select *ngIf="aseguradoraSelected.toUpperCase() !== 'GNP'" id="formaPago" name="formaPago" formControlName="formaPago" class="selected-g" (focusout)="updateData(5); validateCard(0);">
                                        <mat-option *ngFor="let opt of optPay" [value]="opt.value"> {{opt.label}} </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="datos_card.formaPago.errors">
                                        <small class="form-text text-danger ml-2"> La Forma de Págo es requerido </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="w-100"></div>
                            <div class="col-12 pb-2 mt-2">
                                <button mat-button matStepperNext (click)="pagoAxa();" [disabled]="buttonEmisionInteraccion" class="btn btn-secondary float-left btn-blocky btn-sig font-weight-bold" style="left: 50%;">
                                    Pagar
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-step>

            </mat-horizontal-stepper>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <resume-pay *ngIf="aseguradoraSelected && commonRequest" [commonRequest]="commonRequest" [aseguradoraSelected]="aseguradoraSelected"></resume-pay>
    </div>
</div>
