<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>

<div class="container-fluid">
    <div class="row page-titles mx-0" [hidden]="cotizo">
        <div class="col-12 p-md-0 mt-4">
            <h3 class="col-auto font-weight-bold p-0">
                <strong>Ingresa los datos para cotizar:</strong>
            </h3>
        </div>
    </div>
    <div class="row" [hidden]="cotizo" style="margin-bottom: 300px;">
        <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-4" style="margin-top: 100px;">
                            <img src="assets/images/aseguradoras/{{this.aseguradoraSelected}}.svg" class="mt-1 img-fluid" alt="logos" style="width:100%;display:block;height:auto;margin:auto;" />
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="card">
                                <div class="card-body">
                            <form [formGroup]="cotizacion" (ngSubmit)="onSubmit()" novalidate class="needs-validation">
                                <div class="row">
                               
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select [hidden]="hiddenData" formControlName="selectMarca" 
                                            [ngClass]="{'is-valid-d': (!f.selectMarca.errors && f.selectMarca.dirty), 'is-invalid': f.selectMarca.errors && submitted || f.selectMarca.errors && f.selectMarca.dirty }" class="form-control form-control-lg"
                                            (change)="getModelos()">
                                            <option value = "">Marca</option>
                                            <option *ngFor="let marca of dropdownList;let i= index "
                                                [value]="marca.text">
                                                {{marca.text}} </option>
                                        </select>
                                        <div *ngIf="submitted && f.selectMarca.errors" class="invalid-feedback">
                                            <div *ngIf="f.selectMarca.errors.required"> La Marca es requerida</div>
                                        </div>
                                    </div>

                     
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select [hidden]="hiddenData" formControlName="selectModelo"  
                                                [ngClass]="{'is-valid-d': (!f.selectModelo.errors && f.selectModelo.dirty), 'is-invalid': f.selectModelo.errors && submitted || f.selectModelo.errors && f.selectModelo.dirty}" 
                                                class="form-control form-control-lg"
                                                (change)="getDescripciones()">
                                            <option value = "">Modelo</option>
                                            <option *ngFor="let modelo of modelos;let i= index " [value]="modelo.text">
                                                {{modelo.text}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.selectModelo.errors" class="invalid-feedback">
                                            <div *ngIf="f.selectModelo.errors.required">El Modelo es requerido</div>
                                        </div>
                                    </div>
                               
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select [hidden]="hiddenData" formControlName="selectDescripcion" 
                                           [ngClass]="{'is-valid-d': (!f.selectDescripcion.errors && f.selectDescripcion.dirty), 'is-invalid': f.selectDescripcion.errors && submitted || f.selectDescripcion.errors && f.selectDescripcion.dirty}"
                                            class="form-control form-control-lg" 
                                            (change)="getSubdescripciones()">
                                            <option value = "">Submarca</option>
                                            <option *ngFor="let descripcion of descripciones;let i= index "
                                                [value]="descripcion.text">
                                                {{descripcion.text?descripcion.text:"OPTION"}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.selectDescripcion.errors" class="invalid-feedback">
                                            <div *ngIf="f.selectDescripcion.errors.required">La Submarca es requerida
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select [hidden]="hiddenData" formControlName="selectSubDescripcion" [ngClass]="{'is-valid-d': (!f.selectSubDescripcion.errors && f.selectSubDescripcion.dirty), 'is-invalid': f.selectSubDescripcion.errors && submitted || f.selectSubDescripcion.errors && f.selectSubDescripcion.dirty}"
                                            class="form-control form-control-lg" (change)="getDetalles()">
                                            <option value = "">Descripción</option>
                                            <option *ngFor="let subdescripcion of subdescripciones;let i= index "
                                                [value]="subdescripcion.text">
                                                {{subdescripcion.text}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.selectSubDescripcion.errors" class="invalid-feedback">
                                            <div *ngIf="f.selectSubDescripcion.errors.required">La Descripción es requerida
                                            </div>
                                        </div>
                                    </div>
                                 
                                    <div class="col-12 form-group">
                                        <select formControlName="edad" matTooltip="LA EDAD DEBE SER EN AÑOS CUMPLIDOS!" [ngClass]="{'is-valid-d': (!f.edad.errors && f.edad.dirty), 'is-invalid': f.edad.errors && submitted || f.edad.errors && f.edad.dirty}" class="form-control form-control-lg">
                                            <option value>Edad del conductor</option>
                                            <option *ngFor="let edad of edades;let i= index " [value]="edad">
                                                {{edad}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.edad.errors" class="invalid-feedback">
                                            <div *ngIf="f.edad.errors.required">Edad es requerida</div>
                                        </div>
                                    </div>
                                 
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6  form-group">
                                        <select formControlName="genero" [ngClass]="{'is-valid-d': (!f.genero.errors && f.genero.dirty), 'is-invalid': f.genero.errors && submitted || f.genero.errors && f.genero.dirty}" class="form-control form-control-lg">
                                            <option value>Género</option>
                                            <option value="MASCULINO">Masculino</option>
                                            <option value="FEMENINO">Femenino</option>
                                        </select>
                                        <div *ngIf="submitted && f.genero.errors" class="invalid-feedback">
                                            <div *ngIf="f.genero.errors.required">El género es requerido</div>
                                        </div>
                                    </div>
                            
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <input type="tel" formControlName="cp" onkeypress="if(this.value.length === 5) return false;" [ngClass]="{'is-valid-d': (!f.cp.errors && f.cp.dirty), 'is-invalid': f.cp.errors && submitted || f.cp.errors && f.cp.dirty}" placeholder="Código Postal" class="form-control form-control-lg"
                                            (keypress)="numberOnly($event)" (keyup)="getColonias()"/>
                                        <div *ngIf="submitted && f.cp.errors" class="invalid-feedback">
                                            <div *ngIf="f.cp.errors.required">El Código Postal es requerido</div>
                                        </div>
                                    </div>
                                        <div class="col-12">
                                            <app-notice-of-privacy></app-notice-of-privacy>
                                        </div>
                                   
                                    <div class="col-12">
                                        <button id="btnCotizarAuto" type="submit" class="btn btn-success btn-block" >
                                            <p class="lead font-weight-bold my-3 text-white">Cotizar Ahora<img
                                                    src="assets/images/chevron-right-bn.svg" alt=">" width="25"
                                                    height="25" /></p>
                                     
                                        </button>
                                    </div>
                                </div>
                            </form>
                                </div>
                            </div>
                        </div>
                   
                    </div>
        </div>
    </div>
    
    <multy-result *ngIf="cotizo && (typeSingleMulti == 'multi' || typeSingleMulti == 'single')" (cotizoEvent)="recotizar($event)" [aseguradoraSelected]="aseguradoraSelected" [cotizacion]="cotizacion" [precioFin]="precioFin" [cotizacionResponse]="cotizacionResponse" [messageError]="messageError" [descuentoAseguradora] = "descuentoAseguradora"></multy-result>
</div>
