.Qualitas {
    background: linear-gradient(180deg, #82027e 50%, #82027e 50%);
    width: 100%;
    height: 100%;
}

.GNP {
    background: red;
}

.AXA {
    background: red;
}

.Banorte {
    background: red;
}

.Zurich {
    background: red;
}

.HDI {
    background: red;
}

.el_Aguila {
    background: red;
}

.Ana {
    background: red;
}

.Atlas {
    background: red;
}

.Afirme {
    background: red;
}

.aig {
    background: red;
}

.la_latino {
    background: red;
}

.general_De_Seguros {
    background: red;
}

.bxMas {
    background: red;
}

.Aba {
    background: red;
}

.Sura {
    background: red;
}

.el_potosi {
    background: red;
}

.mapfre {
    background: #bb00ff;
}

.migo {
    background: red;
}

.inbursa {
    background: red;
}

.overlayLeo {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(255, 255, 255, 0.3);*/
    background: white;
    z-index: 1;
}

.overlayLeo {
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus,
select:focus {
    border: 1px solid #3ea4ec;
    box-shadow: 1px 1px 8px #add4e6;
}

/* .row {
     display: flex !important;
    flex-wrap: wrap !important;
    margin-right: -15px !important;
    margin-left: -15px !important; 
    flex-direction: column !important; 
} */


/* input:invalid,select:invalid, */


/* input:required,select:required{border:1px solid red;box-shadow:1px 1px 6px #e6adad} */


/* input:valid,select:valid{border:1px solid green;box-shadow:1px 1px 6px #afe6ad;} */

@media screen and (max-width: 960px) {
    .btn {
        font-size: 18px !important;
    }
}
