table {
    width: 100%;
    height: 100px;

}

.selected-row {
    background-color: rgba(218, 215, 214, 0.5);

}

.mat-column {
    width: 100%
}

.table td,
.table th {
    border-top: none;
    text-align: center !important;
}

mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    box-shadow: 0 0 14px 0px rgb(25 66 136 / 23%);
    margin: 0px 5px 10px 5px;
    border-radius: 5px;
}

#quotationByInsurance {
    overflow: auto;
}

.mat-table .go-m-table {
    text-align: center !important;
    width: 100%;
}

.mat-table .go-m-insurance {
    width: 145px;
}

.mat-table .go-m-model {
    width: 100px;
}

.mat-table .go-m-materialDamage {
    width: 150px;
}

.mat-table .go-m-materialDamage div {
    width: 75px;
}

.mat-table .go-m-materialDamage div .media-body {
    text-align: center;
}

.mat-table .go-m-totalTiff {
    width: 110px;
}

.mat-table .go-m-totalTiff div {
    width: 75px;
}

.mat-table .go-m-totalTiff div .media-body {
    text-align: center;
}

.mat-table .go-m-legalAsistant {
    width: 130px;
}

.mat-table .go-m-legalAsistant div {
    margin-top: -10px;
}

.mat-table .go-m-partialCost {
    width: 130px;
}

.mat-table .go-m-partialCost h6 {
    margin-top: -30px;
}

.mat-table .go-m-partialCost h6 span {
    margin-top: 10px;
}

.mat-table .go-m-goCost div {
    text-align: center;
}
.imgtarjetas{

}
.banner-promo{
    height: 200px;
    width: auto;
}
.cuad1{
    width: 12rem;
}

.ng-overlay-container.isResizable {
    /* height: 25px !important; */
    width: auto !important;
    border: 1px solid !important;
}
.b-em{
    max-width: 300px;
    width: 90%;

}
.barato{
    background-color: #12cac6;
    color: white;
    margin-top: 10px;
    margin-bottom: -4px;
    margin-left: 15px;
}

@media (min-width: 768px) and (max-width: 960px) {
    ul li img.checkPDF{width:auto;height:9px;margin-right:5px;}
    .font-small{font-size: 0.6em}
    .b-em{
        width: 90%;

    }
    .selected-row {
        background-color: transparent !important;
    }
    .mat-table .go-m-expand {
        display: none !important;
    }
    .mat-table {
        border: 0;
        vertical-align: middle
    }
    .mat-table caption {
        font-size: 1em;
    }
    .mat-table .mat-header-cell {
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .mat-table .mat-row {
        border-bottom: 5px solid #DAD7D6;
        height: 16rem;
    }
    .flotar{
        display: flex;
        justify-content: center;
    }
    .mat-table .go-m-table {
        text-align: right !important;
    }
    .cuad1{
        width: 8rem;
        margin: auto;
    }
    .mat-table .go-m-insurance {
        width: 100% !important;
        padding: 0 !important;
    }
    .mat-table .go-msi-b {
        position: absolute;
        margin-top: -18px !important;
        right: 30px;
    }
    .mat-table .go-m-model {
        width: 100% !important;
        height: 100px !important;
    }
    .mat-table .go-m-model div {
        margin-top: 25px !important;
    }
    .mat-table .go-m-materialDamage {
        width: 100% !important;
        height: 60px !important;
    }
    .mat-table .go-m-materialDamage div {
        width: 100% !important;
        text-align: right !important;
        margin-top: 25px !important;
    }
    .mat-table .go-m-materialDamage div .media-body {
        text-align: center;
    }
    .mat-table .go-m-totalTiff {
        width: 100% !important;
        height: 60px !important;
    }
    .mat-table .go-m-totalTiff div {
        width: 100% !important;
        text-align: right !important;
        margin-top: 25px !important;
    }
    .mat-table .go-m-totalTiff div .media-body {
        text-align: center;
    }
    .mat-table .go-m-legalAsistant {
        width: 100% !important;
    }
    .mat-table .go-m-legalAsistant div {
        margin-top: 15px !important;
    }
    .mat-table .go-m-legalAsistant h6 {
        position: absolute;
        margin-top: 10px;
        right: 25px;
    }
    .mat-table .go-m-partialCost {
        width: 100% !important;
    }
    .mat-table .go-m-partialCost h6 {
        position: absolute;
        right: 20px;
        margin-top: -45px;
    }
    .mat-table .go-m-partialCost h6 span {
        margin-top: 0px;
    }
    .go-m-table .go-m-priceC {
        position: absolute;
        right: 20px;
    }
    .go-m-table .go-m-priceC div {
        margin-top: -25px;
    }
    .mat-table .go-m-goCost div {
        text-align: right !important;
        margin-top: 25px !important;
    }
    .mat-table .go-m-goCost h2 {
        font-size: 25px !important;
    }
    .mat-table .go-m-goCost a {
        margin-top: -32px !important;
    }
    .mat-table .mat-cell:last-child {
        /* margin-bottom: 1px solid red; */
    }
    .mat-cell:last-of-type,
    .mat-header-cell:last-of-type,
    .mat-footer-cell:last-of-type {
        padding-right: 0 !important;
    }


    .mat-table .mat-cell {
        display: block;
        font-size: 1em;
        font-weight: bold;
        /*margin-bottom: 4%;*/
        text-align: center;
        /*padding-top: 4%;*/
    }
    .mat-table .mat-cell:before {
        content: attr(data-label);
        font-weight: 600;
        text-transform: uppercase;
        font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
        margin-top: 4%;

    }
    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }

}

@media (min-width: 321px) and (max-width: 767px) {

    .b-em{
        max-width: 300px;
        width: 90%;
    }
    .selected-row {
        background-color: transparent !important;
    }
    .mat-table .go-m-expand {
        display: none !important;
    }
    .mat-table {
        border: 0;
        vertical-align: middle
    }
    .mat-table caption {
        font-size: 1em;
    }
    /*  Enable this to hide header */
    .mat-table .mat-header-cell {
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .mat-table .mat-row {
        border-bottom: 5px solid #DAD7D6;
        display: block;
    }
    .mat-table .go-m-table {
        text-align: right !important;
    }
    .cuad1{
        width: 8rem;
        margin: auto;
    }
    /*.mat-table .mat-cell:first-child {
        height: 105px !important;
    }*/
    .mat-table .go-m-insurance {
        width: 100% !important;
        padding: 0 !important;
    }
    /*.mat-table .go-m-insurance .go-insurance2 {
        float: left !important;
    }*/
    .mat-table .go-msi-b {
        position: absolute;
        margin-top: -18px !important;
        right: 30px;
    }
    .mat-table .go-m-model {
        width: 100% !important;
        height: 100px !important;
    }
    .mat-table .go-m-model div {
        margin-top: 25px !important;
    }
    .mat-table .go-m-materialDamage {
        width: 100% !important;
        height: 60px !important;
    }
    .mat-table .go-m-materialDamage div {
        width: 100% !important;
        text-align: right !important;
        margin-top: 25px !important;
    }
    .mat-table .go-m-materialDamage div .media-body {
        text-align: center;
    }
    .mat-table .go-m-totalTiff {
        width: 100% !important;
        height: 60px !important;
    }
    .mat-table .go-m-totalTiff div {
        width: 100% !important;
        text-align: right !important;
        margin-top: 25px !important;
    }
    .mat-table .go-m-totalTiff div .media-body {
        text-align: center;
    }
    .mat-table .go-m-legalAsistant {
        width: 100% !important;
    }
    .mat-table .go-m-legalAsistant div {
        margin-top: 15px !important;
    }
    .mat-table .go-m-legalAsistant h6 {
        position: absolute;
        margin-top: 10px;
        right: 25px;
    }
    .mat-table .go-m-partialCost {
        width: 100% !important;
    }
    .mat-table .go-m-partialCost h6 {
        position: absolute;
        right: 20px;
        margin-top: -45px;
    }
    .mat-table .go-m-partialCost h6 span {
        margin-top: 0px;
    }
    .go-m-table .go-m-priceC {
        position: absolute;
        right: 20px;
    }
    .go-m-table .go-m-priceC div {
        margin-top: -25px;
    }
    .mat-table .go-m-goCost div {
        text-align: right !important;
        /*margin-top: 20px !important;*/
    }
    .mat-table .go-m-goCost h2 {
        font-size: 20px !important;
    }
    .msi {
        font-size: 9px;
        padding: 3px 0px;
    }
    .mat-table .go-m-goCost a {
        margin-top: -32px !important;
    }
    .mat-table .mat-cell:last-child {
        /* margin-bottom: 1px solid red; */
    }
    .mat-cell:last-of-type,
    .mat-header-cell:last-of-type,
    .mat-footer-cell:last-of-type {
        padding-right: 0 !important;
    }
    /*mat-row,
    mat-header-row,
    mat-footer-row,
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        padding: 20px;
    }*/
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
        /*border-bottom: 1px solid rgb(239, 234, 232);*/
        display: block;
        font-size: 1em;
        /*text-align: right;*/
        font-weight: bold;
        /*height: 30px;*/
        /*margin-bottom: 4%;*/
        text-align: center;
        /*padding-top: 4%;*/
    }
    .mat-table .mat-cell:before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        /*float: left;*/
        font-weight: 600;
        text-transform: uppercase;
        font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
        margin-top: 4%;

    }
    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }

}

@media screen and (max-width: 320px) {
    .imchica{
        height: 50px!important;
    }
    .texch{
        font-size: 10px;
    }
    .prch{
        font-size: 11px;
    }
    .pch{
        font-size: 24px;
    }
    .imglogch{
        width: 60px!important;
    }
    .b-em{
        width: 90%;
    }
    .ingresa{
        font-size: 26px;
    }
    .impresion{
        transform:none;
        transform-origin:0 0;
    }


    .selected-row {
        background-color: transparent !important;
    }
    .mat-table .go-m-expand {
        display: none !important;
    }
    .mat-table {
        border: 0;
        vertical-align: middle
    }
    .mat-table caption {
        font-size: 1em;
    }
    /*  Enable this to hide header */
    .mat-table .mat-header-cell {
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .mat-table .mat-row {
        border-bottom: 5px solid #DAD7D6;
        display: block;
    }
    .mat-table .go-m-table {
        text-align: right !important;
    }
    .cuad1{
        width: 8rem;
        margin: auto;
    }
    /*.mat-table .mat-cell:first-child {
        height: 105px !important;
    }*/
    .mat-table .go-m-insurance {
        width: 100% !important;
        padding: 0 !important;
    }
    /*.mat-table .go-m-insurance .go-insurance2 {
        float: left !important;
    }*/
    .mat-table .go-msi-b {
        position: absolute;
        margin-top: -18px !important;
        right: 30px;
    }
    .mat-table .go-m-model {
        width: 100% !important;
        height: 100px !important;
    }
    .mat-table .go-m-model div {
        margin-top: 25px !important;
    }
    .mat-table .go-m-materialDamage {
        width: 100% !important;
        height: 60px !important;
    }
    .mat-table .go-m-materialDamage div {
        width: 100% !important;
        text-align: right !important;
        margin-top: 25px !important;
    }
    .mat-table .go-m-materialDamage div .media-body {
        text-align: center;
    }
    .mat-table .go-m-totalTiff {
        width: 100% !important;
        height: 60px !important;
    }
    .mat-table .go-m-totalTiff div {
        width: 100% !important;
        text-align: right !important;
        margin-top: 25px !important;
    }
    .mat-table .go-m-totalTiff div .media-body {
        text-align: center;
    }
    .mat-table .go-m-legalAsistant {
        width: 100% !important;
    }
    .mat-table .go-m-legalAsistant div {
        margin-top: 15px !important;
    }
    .mat-table .go-m-legalAsistant h6 {
        position: absolute;
        margin-top: 10px;
        right: 25px;
    }
    .mat-table .go-m-partialCost {
        width: 100% !important;
    }
    .mat-table .go-m-partialCost h6 {
        position: absolute;
        right: 20px;
        margin-top: -45px;
    }
    .mat-table .go-m-partialCost h6 span {
        margin-top: 0px;
    }
    .go-m-table .go-m-priceC {
        position: absolute;
        right: 20px;
    }
    .go-m-table .go-m-priceC div {
        margin-top: -25px;
    }
    .mat-table .go-m-goCost div {
        text-align: right !important;
        /*margin-top: 20px !important;*/
    }
    .mat-table .go-m-goCost h2 {
        font-size: 20px !important;
    }
    .msi {
        font-size: 9px;
        padding: 3px 0px;
    }
    .mat-table .go-m-goCost a {
        margin-top: -32px !important;
    }
    .mat-table .mat-cell:last-child {
        /* margin-bottom: 1px solid red; */
    }
    .mat-cell:last-of-type,
    .mat-header-cell:last-of-type,
    .mat-footer-cell:last-of-type {
        padding-right: 0 !important;
    }
    /*mat-row,
    mat-header-row,
    mat-footer-row,
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        padding: 20px;
    }*/
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
        /*border-bottom: 1px solid rgb(239, 234, 232);*/
        display: block;
        font-size: 1em;
        /*text-align: right;*/
        font-weight: bold;
        /*height: 30px;*/
        /*margin-bottom: 4%;*/
        text-align: center;
        /*padding-top: 4%;*/
    }
    .mat-table .mat-cell:before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        /*float: left;*/
        font-weight: 600;
        text-transform: uppercase;
        font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
        margin-top: 4%;

    }
    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }

}
ul li img.checkPDF{width:auto;height:20px;margin-right:5px;}

.imagenFondo:hover {
    opacity: 0.8;
    visibility: visible;
}

