<mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="table is-striped table-hover is-fullwidth headerfont go-m-table" style="z-index: 3; position: relative">
    <ng-container matColumnDef="marca">
        <mat-header-cell *matHeaderCellDef class="go-m-insurance "> <!--ASEGURADORA--> </mat-header-cell>
        <mat-cell *matCellDef="let element; let index = index" data-label="" class="flotar col-12 col-md-3 vchica go-m-insurance" >
            <div class="py-3 text-center cuad1">
                <div class="go-insurance2">
                    <img src="assets/images/aseguradoras-multi/{{ element.aseguradora | uppercase }}.png " class="mt-0 centrar " style="width:100px; padding-bottom: 10px ">
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="modelo">
        <mat-header-cell *matHeaderCellDef class="go-m-goCost" > <!--COSTO GO AGENTES--> </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index" data-label="" class="flotar col-8 col-md-3 vchica go-m-goCost">
            <div>
                <div class="media-body">
                    <img src="assets/images/tarjetas_img/img-cards.png " class="imgtarjetas" width="85" height="24">
                    <h2 class="mb-0">
                        <strong class="font-weight-bold  text-center" style="color: #5E5E5E" >{{ (element.cotizacion.primaTotal === '' || element.cotizacion.primaTotal === '0.0' ) ? 'No disponible' : ('$' + (element.cotizacion?.primaTotal|number:'3.0-0') )}} </strong>
                    </h2>
                    <small class="d-block font-weight-bold text-muted mt-2">ID:{{
                        (element.cotizacion?.idCotizacion) ?
                            (element.cotizacion?.idCotizacion) :
                            (element.cotizacion?.idCotizacion)? (element.cotizacion?.idCotizacion) : 'N/A' }}</small>
                </div>
            </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="movimiento" class="d-none d-md-block">
        <mat-header-cell *matHeaderCellDef class="go-m-materialDamage"> <!--DAÑOS MATERIALES--> </mat-header-cell>
        <div>
            <mat-cell *matCellDef="let element" data-label="Coberturas" class="flotar col-12 col-md-3 d-none d-md-block" >
                <div>
                    <div class="media-body">
                        <ul class="pl-2 text-center text-md-left">
                            <li><img class="check" src="assets/images/check.svg "><small>AMPARADA</small></li>
                            <li><img class="check" src="assets/images/check.svg "><small>ROBO TOTAL</small></li>
                            <li><img class="check" src="assets/images/check.svg "><small>DAÑOS DE AUTOMOVIL</small></li>
                            <li><img class="check" src="assets/images/check.svg "><small>DAÑOS A TERCEROS</small></li>
                            <li><img class="check" src="assets/images/check.svg "><small>ASISTENCIA VIAL Y JURIDICA</small></li>
                            <li><img class="check" src="assets/images/check.svg "><small>GASTOS MEDICOS</small></li>
                        </ul>
                    </div>
                </div>
            </mat-cell>
        </div>
    </ng-container>

    <ng-container matColumnDef="emitir">
        <mat-header-cell *matHeaderCellDef class="go-m-goCost">  </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="" class=" col-12 col-md-3 go-m-goCost">
            <div class="mx-auto" style="cursor: pointer">
                <div class="media-body" *ngIf="(element.cotizacion.primaTotal !== '') && (element.cotizacion.primaTotal !== '0.0')">
                    <img src="assets/images/btn_ecommerce.svg" class="imagenFondo mx-auto btn-block b-em" (click)="jumpWizard(element.aseguradora)">
                </div>
            </div>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let detail">
            <app-tabla-cot-cob [coverage2]="detail.coberturas" [aseg2]="detail.aseguradora"></app-tabla-cot-cob>
        </mat-cell>
    </ng-container>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded]="expandedElement == row" (click)="highlight(row); expandedElement = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" [@detailExpand]="(row == expandedElement) ? 'expanded' : 'collapsed'" style="overflow: hidden"></mat-row>
</mat-table>
