<div class="container-fluid my-md-5">
    <div class="row" style="width: auto">
        <div class="col-12">
            <div id="slider" class="hovericons">
                <div class="row">
                    <div class="col-12">
                        <div id="gastosMedicosMayores" class="hovericons">
                            <div class="row">
                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="Seguro de Autos">
                                            <a rel="preconnect" (click)="opcion(1)" title="Seguro de Autos">
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/eguro-grupal.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">SEGURO DE AUTOS</strong>
                                    </div>
                                </div>

                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="GASTOS MEDICOS MAYORES">
                                            <a rel="preconnect" (click)="opcion(2)" title="GASTOS MEDICOS MAYORES">
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/1.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">GASTOS MEDICOS MAYORES</strong>
                                    </div>
                                </div>

                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="SEGURO DE VIDA">
                                            <a rel="preconnect" (click)="opcion(3)" title="SEGURO DE VIDA"  >
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/seguro-de-vida.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">SEGURO DE VIDA</strong>
                                    </div>
                                </div>

                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="SEGURO GRUPAL">
                                            <a rel="preconnect" (click)="opcion(4)" title="SEGURO GRUPAL"  >
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/2.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">SEGURO GRUPAL</strong>
                                    </div>
                                </div>

                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="SEGURO DE HOGAR">
                                            <a rel="preconnect" (click)="opcion(5)" title="SEGURO DE HOGAR"  >
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/4.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">SEGURO DE HOGAR</strong>
                                    </div>
                                </div>

                                <div class="col rounded d-block mx-auto">
                                    <div class="card shadow-lg p-3 mb-5 bg-body">
                                        <div class="card-body" title="SEGURO DE VIAJE">
                                            <a rel="preconnect" (click)="opcion(6)" title="SEGURO DE VIAJE"  >
                                                <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white" style="float: right;transform: scale(2.6);">¡Nuevo! </span>

                                                <img class="rounded mx-auto d-block" src="assets/images/otrosRamosGo/5.png" alt="log" style="width: 120px; height: 100px;">
                                            </a>
                                        </div>
                                        <strong style="text-align: center;">SEGURO DE VIAJE</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
