<div class="row">
    <div class="col-12" *ngIf="option === 'promo-mes' || option === 'descuentos-especiales'">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ promo.title }}</h5>
                <hr>
                <div class="card-text">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>DESCUENTO</th>
                                <th>MSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-light" *ngFor="let promo of promo.promo">
                                <td><img alt="logos" class="mt-1" style="width: auto; display: block; height: 60px; margin: auto;" src="assets/images/aseguradoras/{{ promo.insurance }}.svg"></td>
                                <td>{{ promo.discount }}</td>
                                <td>{{ promo.msi }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>