ul#menu li a.active {
    color: #0bdeac !important;
}

svg.icon.chevron{width:10px;height:10px;display:block;float:right;fill:#535a61;margin-top:4px;}
svg.icon.chevron-down{width:11px;height:11px;display:block;float:right;fill:#cfcfcf;margin-top:4px;padding-left:2px;}

/* @media only screen and (max-width: 960px) { */

ul.go-sub-m {
    position: absolute !important;
    margin-top: -25px !important;
    float: left !important;
    left: 75px !important;
    z-index: 999 !important;
    background-color: #ffffff !important;
    min-width: 180px;
}
.cotizaciones{
    border-radius: 450px;
}
.margen{
    width: 1100px;
}
ul#menu { 
    color: #535a61;
    display: inline-flex;
    list-style: none;
    margin-left: 0rem;
    padding-left: 0;
    
}


ul#menu li {
    list-style: none;
    margin: 1rem auto;
}

ul#menu li a{
    color: #535a61;
    text-decoration: none;
}
ul#menu li  {
    color: #535a61;
    font-size: 0.9rem;
    text-decoration: none;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.menu2{
    color: #535a61;
    display: none; 
    
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
} 

ul#menu li:hover {
    cursor: pointer;
    color: #0bdeac !important;
    background-size: 100% 2px;
    /*width: max-content;*/
}
ul#menu li:hover .menu2 {
    border-radius: 15px;
    display: block;
    position: absolute; 
    background: #FFFFFF;
    box-shadow: 0px 10px 10px -6px #cfcfcf;
    color: #0bdeac !important;
    background-size: 100% 2px;
    padding-top: 5px;
    padding-bottom: 5px !important;
    z-index:2;
}
.menu3{
    color: #535a61;
    display: none;
    
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
} 
ul#menu li .menu2 li:hover .menu3{
    color: #0bdeac !important;
    border-radius: 15px;
    /*margin-left: 32%;*/
    position: absolute;
    top:0;
    left:95%;
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 10px -6px #cfcfcf;
    padding-top: 5px;
    padding-bottom: 5px !important;
    z-index:3;
}

ul#menu li a i {
    font-size: 18px;
}

ul#menu li a .nav-text {
    margin: 0 auto;
    padding-left: 1px;
    padding-right: 10px;
}

ul#menu li ul {
    /**padding-left: 20px;*/
    max-width: 250px;
    width:100%;
    padding: 0;

}

ul#menu li ul>li,ul#menu li ul>li ul>li {
    max-width: 250px;
    list-style: none;
    background: #fff;
    padding: 1rem;
    margin: 0;
    width:100%;
}
ul#menu li ul>li:hover,ul#menu li ul>li ul>li:hover{
    max-width: 250px;
    list-style: none;
    background: #f9f9f9;
    padding: 1rem;
    margin: 0;
    width:100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;   
}


/* } */


/* .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */
@media (min-width: 1850px) and (max-width: 1900px) {
    /* .vistachica{padding-top:4rem ;} */
    .margen{
        width: 700px;
    }
}
@media (min-width: 1456px) and (max-width: 1850px) {
    /* .vistachica{padding-top:4rem ;} */
    
    .margen{
        width: 650px;
    }
}
@media (min-width: 1232px) and (max-width: 1456px) {
    /* .vistachica{padding-top:4rem ;} */
    ul#menu li{
        font-size: 0.8rem;
        /*margin-left: 8%;*/
        margin:1rem;
    }
    .margen{
        font-size: 0.8rem;
        width: 400px;
    }
}
@media (min-width: 1134px) and (max-width: 1232px) {
    /* .vistachica{padding-top:4rem ;} */
    ul#menu li{
        font-size: 0.8rem;
        margin-left: 8%;
    }
    .margen{
        font-size: 0.8rem;
        width: 320px;
    }
}
@media (min-width: 1031px) and (max-width: 1134px) {
    /* .vistachica{padding-top:4rem ;} */
    ul#menu li{
        font-size: 0.8rem;
        margin-left: 8%;
    }
    .margen{
        font-size: 0.8rem;
        width: 230px;
    }
   
}
@media (min-width: 800px) and (max-width: 1030px) {
    /* .vistachica{padding-top:4rem ;} */
    /* ul#menu li{
        font-size: 0.7rem;
        margin-left: 5%;
    }
    .margen{
        font-size: 0.8rem;
        width: 230px;
    } */
    .desaparecer{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 993px) {
    .vistachica{padding-top:0rem ;}
    .desaparecer{
        display: none;
    }
  
}
@media (min-width: 645px) and (max-width: 768px) {
    .fondogris{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        /*display: none;*/
        
        
    }
  
    .desaparecer{
        display: none;
    }
    .prueba{
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
    }
    /* .vistachica{padding-top:4rem; margin-bottom: 0; z-index: 3;} */
    ul#menu li {
        padding: 0px 30px;
        /*text-align: center;*/
    }
    ul#menu li a .nav-text {
        font-size: 12px;
    }
}

@media (min-width: 400px) and (max-width: 645px){

    .desaparecer{
        display: none;
    }
}

@media (min-width: 1px) and (max-width: 400px){

    .desaparecer{
        display: none;
    }
}

