
<div class="container-fluid">
    <mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
        <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
            <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
        </mat-sidenav>
        <mat-sidenav-content>
            <p><button mat-button (click)="sidenav.open()">Open</button></p>
            <p>Closed due to: {{reason}}</p>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <div class="row">
        <ul class="col-12" id="menu">
            <li>
                <a>
                    <span class="inicio" >INICIO</span>
                    <svg class="icon chevron-down">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                </a>
                <div >
                    <ul class="menu2">
                        <li routerLinkActive="active" href="javascript:void(0)" (click)="toggle1 = false; routerRedirect('promociones-estacionales');"><a >Promociones Vigentes</a></li>
                        <li routerLinkActive="active" href="javascript:void(0)" (click)="toggle1 = false; routerRedirect('quienes-somos');"><a >¿Quienes Somos?</a></li>
                        <li routerLinkActive="active" href="javascript:void(0)" (click)="toggle1 = false; routerRedirect('tabla-de-meses-sin-intereses');"><a >Tabla de Meses sin intereses</a></li>
                        <li routerLinkActive="active" href="javascript:void(0)" (click)="toggle1 = false; routerRedirect('cuaderno-de-incentivos');"><a >Cuaderno de Incentivos</a></li>
                        <li routerLinkActive="active" href="javascript:void(0)" (click)="toggle1 = false; routerRedirect('calendario');"><a >Calendario</a></li>
                        <li routerLinkActive="active" href="javascript:void(0)" (click)="toggle1 = false; routerRedirect('directorio');"><a >Directorio Telefónico</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a >
                    <span >COTIZA GO</span>
                    <svg class="icon chevron-down">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                </a>
                <div >
                    <ul class="menu2">
                        <li>
                            <a class="hoverMe" >
                                <span class="nav-text ">Auto Particular </span>
                                <svg class="icon chevron">
                                  <use xlink:href="#chevron"></use>
                                </svg>
                            </a>
                            <div>   
                                <ul class="menu3">
                                    <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle2_1 = false; routerRedirect('particular');"><a>Cotizar por aseguradora</a></li>
                                    <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle2_1 = false; routerRedirect('multicotizador');"><a >Multicotizador</a></li>
                                     <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle2_1 = false; routerRedirect('valor-factura');" class="position-relative">
                                         <a >Cotizador por Valor Factura</a>
                                        </li>
                                    <!-- <li><a>Cotización especial</a></li> -->
                                </ul>
                            </div>
                        </li>
                        <!-- TODO  -->
                        <li>
                            <a class="has-arrow ai-icon" aria-expanded="false" (click)="toggle2_2 = !toggle2_2">
                                <span class="nav-text">Chofer APP</span>
                                <svg class="icon chevron">
                                  <use xlink:href="#chevron"></use>
                                </svg>
                            </a>
                            <ul class="menu3">
                                <li class="mt-5" href="javascript:void(0)" routerLinkActive="active" (click)=" routerRedirect('privado');"><a >Cotizar por aseguradora</a></li>
                            </ul>
                        </li>

                        <!--                        otorsRamos-->
                        <!-- *ngIf="(goId === 'rruiz@ahorra.io') || (goId === 'bguadarrama@nexosmedia.com') || (goId === 'lvazquez@ahorra.io') || (goId === '2201574')" -->
                        <li>
                            <a class="has-arrow ai-icon" aria-expanded="false">
                                <span class="nav-text" (click)=" routerRedirect('otrosRamos');">Otros Ramos <span class="  badgenew rounded-pill text-white">¡Nuevo! </span></span>
                            </a>
                        </li>
                    </ul>
                </div>
             </li> 
             <!-- nueva parte inicio  -->

             <li>
                 <a>
                    <span class="inicio" >OFICINA VIRTUAL</span>
                      <svg class="icon chevron-down">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                 </a>
                <div  class="menu2">
                   <ul>
                       <li *ngIf="(goId === 'rruiz@ahorra.io') || (goId === 'bguadarrama@nexosmedia.com') || (goId === 'lvazquez@ahorra.io') || (goId === '2201574') || (goId === 'ERNESTO VELAZQUEZ')||(goId === 'rmadrigal@ahorra.io')">
                           <a class="has-arrow ai-icon" aria-expanded="false" routerLinkActive="active" (click)="routerRedirect('desactivarAseg');">
                               <span class="nav-text" routerLinkActive="active" (click)="routerRedirect('desactivarAseg');">Administración<span class="  badgenew rounded-pill text-white">¡Nuevo! </span></span>
                               <svg class="icon chevron">
                                   <use xlink:href="#chevron"></use>
                               </svg>
                           </a>
                           <div>
                               <ul class="menu3">
                                   <li routerLinkActive="active" (click)="routerRedirect('desactivarAseg/Go');"><a >Aseguradoras GO</a></li>
                                   <li routerLinkActive="active" (click)="routerRedirect('desactivarAseg/Baz');"><a >Aseguradoras BAZ</a></li>
                               </ul>
                           </div>

                       </li>
                        <li>
                            <a>
                                <span class="nav-text ">Mis pólizas </span>
                                <svg class="icon chevron">
                                    <use xlink:href="#chevron"></use>
                                </svg>
                            </a>
                            <div>
                                <ul class="menu3">
                                    <li href="javascript:void(0)" routerLinkActive="active" (click)="routerRedirect('emisiones-cobrar');"><a>Cobranza</a></li>
                                    <li href="javascript:void(0)" routerLinkActive="active" (click)="routerRedirect('subsecuente');"><a >Subsecuente</a></li>
                                </ul>
                            </div>
                        </li>
                       <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle6 = false; routerRedirect('oficina-virtual');"><a>Mis Resultados</a></li>
                       <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle6 = false; routerRedirect('emisionesGeneral');"><a>Emisiones</a></li>
                       <li *ngIf="(goId === 'rruiz@ahorra.io') || (goId === 'bguadarrama@nexosmedia.com') || (goId === 'lvazquez@ahorra.io') || (goId === '2201574')|| (goId === 'rmadrigal@ahorra.io') "
                               href="javascript:void(0)" routerLinkActive="active" (click)="toggle6 = false; routerRedirect('cotizacionesGenerales');"><a>Mis Cotizaciones <span class="  badgenew rounded-pill text-white">¡Nuevo! </span></a></li>
                       <li href="javascript:void(0)"  routerLinkActive="active" (click)="toggle6 = false; routerRedirect('virtual-card');" >
                           <a> Tarjeta de presentación <span class="  badgenew rounded-pill text-white">¡Nuevo! </span></a>
                        </li>
                        <li href="javascript:void(0)"  routerLinkActive="active" (click)="toggle6 = false; routerRedirect('mis-leads');" >
                            <a> Mis Leads <span class="  badgenew rounded-pill text-white">¡Nuevo! </span></a>
                        </li>
                    </ul>
                </div>
            </li>
             
             <!-- nueva parte fin  -->
             <li> 
                <a class="has-arrow ai-icon" aria-expanded="false" (click)="toggle4 = !toggle4; toggle1 = false; toggle2 = false; toggle3  = false; toggle5 = false;">
                    <span >CAPACITACIÓN</span>
                    <svg class="icon chevron-down">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                </a>
                <div >

                    <ul  class="menu2">
                        <li>
                            <a>
                                <span> Publicidad GO </span>
                                <svg class="icon chevron">
                                  <use xlink:href="#chevron"></use>
                                </svg>
                            </a>
                            <ul class="menu3">
                                <li href="javascript:void(0)" routerLinkActive="active" (click)="routerRedirect('go');"><a>Materiales para Redes</a></li>
                            </ul>

                        </li>
                        <li>
                            <a>
                                <span class="nav-text">Aseguradoras</span>
                                <svg class="icon chevron">
                                  <use xlink:href="#chevron"></use>
                                </svg>
                            </a>
                            <div >
                                <ul class="menu3">
                                        <li class="mt-5" href="javascript:void(0)" routerLinkActive="active" aria-expanded="false" (click)="toggle4 = false; routerRedirect('aseguradoras');">
                                            <!--                                    <li class="mt-5" href="javascript:void(0)" routerLinkActive="active" aria-expanded="false">-->
                                            <a ><span class="nav-text">Formatos y Condiciones</span></a>
                                        </li>
                                        <li href="javascript:void(0)" routerLinkActive="active" aria-expanded="false" (click)="toggle4 = false; routerRedirect('autos');">
                                            <a ><span class="nav-text">Autos</span></a>
                                        </li>
                                        <li  href="javascript:void(0)" routerLinkActive="active" aria-expanded="false" (click)="toggle4 = false; routerRedirect('producto');">
                                            <a ><span class="nav-text">Producto</span></a>
                                        </li>
                                        <li>
                                            <a href="https://sitio.soyagenteactualizado.com/#/GoAgentes/" target="_blank" rel="noopener noreferrer">Soy GO Agente Actualizado</a>
                                        </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a> 
                                <span> Presentaciones e instructivos </span>
                                <svg class="icon chevron">
                                  <use xlink:href="#chevron"></use>
                                </svg>
                            </a>
                            <ul class="menu3">
                                <li class="mt-lg-5" href="javascript:void(0)" routerLinkActive="active" (click)="toggle4 = false; routerRedirect('argumentos-ventas');"><a>Argumentos de ventas</a></li>
                                <li  href="javascript:void(0)" routerLinkActive="active" (click)="toggle4 = false; routerRedirect('cobranza-go');"><a>Cobranza GO</a></li>
                                <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle5 = false; routerRedirect('prospectar');"><a> Comó captar clientes</a></li>
                                <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle4 = false; routerRedirect('metododepago');"><a>Método de Pago</a></li>
                                <li href="javascript:void(0)" routerLinkActive="active" (click)="toggle4 = false; routerRedirect('portal-go');"><a >Portal GO</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</div>
<div hidden><svg xmlns="http://www.w3.org/2000/svg" style="display: none;">            
<symbol id="chevron" viewBox="0 0 295 550">
    <path d="M34.7,543.2c-2.8,3.4-6.3,5.1-10.1,6.8h-9.1c-5.5-1.5-9.7-4.8-12.6-9.7c-1-1.7-1.6-3.5-2.4-5.3c0-2.9,0-5.7,0-8.6l0,0
    c0.9-1.8,1.5-3.8,2.7-5.4c1.8-2.5,3.9-4.8,5.9-7c2-2.2,4.2-4.2,6.3-6.3l229.8-229.9c2.7-2.7,2.8-2.7-0.1-5.4L4.9,32.4
    c-1.5-1.9-2.3-4.4-3.4-6.6c-0.3-0.5-0.7-0.9-1-1.4c0-3,0-6.1,0-9.1c1-1.9,2.4-3.8,3.1-5.9c1.6-4.7,5.8-6.2,9.6-8
    c6.8-3.1,13.1-0.7,19,2.8l250.9,251c2.8,2.8,5.8,5.5,7.9,8.7c6.3,9.7,3.8,21.1-5,27.9c-1.5,1.2-2.7,2.9-4,4.3L34.7,543.2z"></path>
  </symbol>
<symbol id="chevron-down" viewBox="0 0 550 295">
    <path d="M6.8,34.7C3.4,31.9,1.7,28.4,0,24.6v-9.1C1.5,10,4.8,5.8,9.7,2.9c1.7-1,3.5-1.6,5.3-2.4c2.9,0,5.7,0,8.6,0l0,0
    C25.4,1.4,27.4,2,29,3.2c2.5,1.8,4.8,3.9,7,5.9c2.2,2,4.2,4.2,6.3,6.3l229.9,229.8c2.7,2.7,2.7,2.8,5.4-0.1l240-240.2
    c1.9-1.5,4.4-2.3,6.6-3.4c0.5-0.3,0.9-0.7,1.4-1c3,0,6.1,0,9.1,0c1.9,1,3.8,2.4,5.9,3.1c4.7,1.6,6.2,5.8,8,9.6
    c3.1,6.8,0.7,13.1-2.8,19L294.8,283.1c-2.8,2.8-5.5,5.8-8.7,7.9c-9.7,6.3-21.1,3.8-27.9-5c-1.2-1.5-2.9-2.7-4.3-4L6.8,34.7z"></path>
  </symbol>
</svg></div>
