.mat-form-field {
    width: 90% !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix .selected-g {
    padding: 9px 0 !important;
}
.formas-pago{display: flex; justify-content: center; margin-top: 15%}
.otros-medios{display: flex; }
.otros-medios button{width: 350px; height:100px}
.text-pago{display: flex; margin: 3% 3% 0;}
.cobro-pago{display: flex; width: 350px; height:100px;}
.cobro-pago button{width: 350px; height:100px}
@media only screen and (max-width: 600px) {
    .tamaño-movil{
        width: 340px;
    }

}





