
.espacio{
    padding-top:70px ;
}
.margenleft{
    margin-left: 15%;
}
.margen-top{
    margin-top: 3%;
}
@media (min-width: 0px) and (max-width:1030px){
    .margenleft{
        margin-left: 0%;  
        margin-top: 50px;
    }
    .margen-top{
        margin-top: 10%;
    }
}