<div class="container-fluid" style="margin-top: 2%">
    <header class="row"></header>
        <sidebarleftmvl> </sidebarleftmvl>
    <div class="row">
        <div class="espacio col-12 col-md-10 offset-md-1" [ngClass]="{'mx-auto':(!toggleMenu), '':(toggleMenu)}">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <footer></footer>
    </div>
</div>
