<div class="card">
    <!-- <div class="card-header text-center">
        <h1>LLena tus datos</h1>
    </div> -->
    <div class="card-body">
        <div class="row mb-1">
            <div class="mt-4 col-12">
                <strong class="text-center d-block">RESUMEN DE COMPRA</strong>
                <table class="table table-clear">
                    <tbody>
                        <tr class="text-center">
                            <td colspan="2">
                                <img src="assets/images/aseguradoras-multi/{{ aseguradoraSelected.split('_').join('').toUpperCase() }}.png" alt="{{ aseguradoraSelected }}" class="img-fluid p-4">
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td class="left text-left"><br>
                                <span  class="text-left d-block font-weight-bold font-weight-bold">Total</span>

                            </td>

                            <td class="right">
                                <small class="text-muted small font-weight-light ml-5" style="text-decoration:line-through;">
                                    {{ totalDisplay | discountInsurance:2:aseguradoraSelected |
                                    currency:'USD':'symbol':'1.0-0' }}
                                </small><br>
                                <h1 class="text-primary-go font-weight-bold" *ngIf="valorPrecio !== undefined">{{ valorPrecio | currency:'USD':'symbol':'1.0-0' }}</h1>
                                <h1 class="text-primary-go font-weight-bold" *ngIf="valorPrecio === undefined">{{ totalDisplay | currency:'USD':'symbol':'1.0-0' }}</h1>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-clear">
                    <tbody>
                        <tr class="text-center">
                            <td class="left">
                                <span (click)="datosPersonalesResume = !datosPersonalesResume" class="text-left d-block font-weight-bold font-weight-bold">Datos Personales</span>
                            </td>
                            <td class="right">
                                <i style="font-size: 24px;">></i>
                            </td>
                        </tr>
                        <div [ngClass]="{ 'd-none': !datosPersonalesResume, 'd-block': datosPersonalesResume }">
                            <tr *ngIf="commonRequest.personal.nombre.value">
                                <td class="left">
                                    <svg class="icon payment">
                                        <use xlink:href="#user" />
                                    </svg>
                                </td>
                                <td class="right">{{ commonRequest.personal.nombre.value }} {{ commonRequest.personal.aPaterno.value }} {{ commonRequest.personal.aMaterno.value }}
                                </td>
                            </tr>
                            <tr *ngIf="commonRequest.personal.curp.value">
                                <td class="left">
                                    <svg class="icon payment">
                                        <use xlink:href="#info" />
                                    </svg>
                                </td>
                                <td class="right">{{ commonRequest.personal.curp.value }}</td>
                            </tr>
                            <tr *ngIf="commonRequest.personal.telefono.value">
                                <td class="left">
                                    <svg class="icon payment">
                                        <use xlink:href="#tel" />
                                    </svg>
                                </td>
                                <td class="right">{{ commonRequest.personal.telefono.value }}</td>
                            </tr>
                            <tr *ngIf="commonRequest.personal.correo.value">
                                <td class="left">
                                    <svg class="icon payment">
                                        <use xlink:href="#message" />
                                    </svg>
                                </td>
                                <td class="right">{{ commonRequest.personal.correo.value }}
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <table class="table table-clear">
                    <tbody>
                        <tr class="text-center">
                            <td class="left">
                                <span (click)="direccionResume = !direccionResume" class="text-left d-block font-weight-bold">Dirección
                                </span>
                            </td>
                            <td class="right">
                                <i style="font-size: 24px; margin-left: -13px;">></i>
                            </td>
                        </tr>
                        <div [ngClass]="{ 'd-none': !direccionResume, 'd-block': direccionResume }">
                            <tr *ngIf="commonRequest.address.estadoMun.value && setDisplay(2)">
                                <td class="left">
                                    <svg class="icon payment">
                                        <use xlink:href="#pin" />
                                    </svg>
                                </td>
                                <td class="right">{{ commonRequest.address.estadoMun.value }}, {{ commonRequest.address.calleNum.value }} {{ commonRequest.address.numero.value }} {{ commonRequest.address.numInterior.value }}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <table class="table table-clear">
                    <tbody>
                        <tr class="text-center">
                            <td class="left">
                                <span (click)="vehiculoResume = !vehiculoResume" class="text-left d-block font-weight-bold">Datos del Vehículo
                                </span>
                            </td>
                            <td class="right">
                                <i style="font-size: 24px; margin-left: 25px;">></i>
                            </td>
                        </tr>
                        <div [ngClass]="{ 'd-none': !vehiculoResume, 'd-block': vehiculoResume }">
                            <tr *ngIf="commonRequest.car.niv.value && setDisplay(3)">
                                <td class="left">
                                    <svg class="icon payment">
                                        <use xlink:href="#car" />
                                    </svg>
                                </td>
                                <td class="right">{{ commonRequest?.car?.niv?.value }}</td>
                            </tr>
                            <tr *ngIf="commonRequest.car.motor.value">
                                <td class="left">
                                    <svg class="icon payment">
                                        <use xlink:href="#car-engine" />
                                    </svg>
                                </td>
                                <td class="right">{{ commonRequest?.car?.motor?.value }}</td>
                            </tr>
                            <tr *ngIf="commonRequest.car.placa.value">
                                <td class="left">
                                    <svg class="icon payment">
                                        <use xlink:href="#matricula" />
                                    </svg>
                                </td>
                                <td class="right">{{ commonRequest.car.placa.value }}</td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <table class="table table-clear">
                    <tbody>
                        <tr class="text-center">
                            <td class="left">
                                <span (click)="pagoResume = !pagoResume" class="text-left d-block font-weight-bold">Datos de Pago
                                </span>
                            </td>
                            <td class="right">
                                <i style="font-size: 24px;">></i>
                            </td>
                        </tr>
                        <div [ngClass]="{ 'd-none': !pagoResume, 'd-block': pagoResume }">
                            <tr *ngIf=" setDisplay(4)">
                                <td class="left">
                                    <img src="assets/images/tarjetas_img/{{ (commonRequest.card.tipoTarjeta.value == 1) ? 'card_visa' : (commonRequest.card.tipoTarjeta.value == 2) ? 'card_master' : 'card_american' }}.png" class="creditimg"> {{ commonRequest.card.mesVencimiento.value
                                    }}/{{ commonRequest.card.anioVencimiento.value }}
                                </td>
                                <td class="right" *ngIf="commonRequest.card.numTarjeta.value">
                                    {{ commonRequest.card.numTarjeta.value | cardHide }} {{ commonRequest.card.nombreTarjeta.value }}
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p><strong>Tarjetas Participantes</strong></p>

                <div class="row" *ngIf="bancsMSI">
                    <div class="col-6 m-auto" *ngFor="let item of bancsMSI">
                        <picture>
                            <source type="image/webp" srcset="/assets/images/bancs/{{ item }}.webp">
                            <source type="image/jpeg" srcset="/assets/images/bancs/{{ item }}.jpeg">
                            <source type="image/svg" srcset="/assets/images/bancs/{{ item }}.svg">
                            <img src="/assets/images/bancs/{{ item }}.png" alt="{{ item }}" width="70"  height="" class="ekomi rounded mx-auto d-block" />
                        </picture>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div hidden>
    <svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
        <symbol id="tel" viewBox="0 0 512.021 512.021">
            <title>tel</title>
            <path
                d="m367.988 512.021c-16.528 0-32.916-2.922-48.941-8.744-70.598-25.646-136.128-67.416-189.508-120.795s-95.15-118.91-120.795-189.508c-8.241-22.688-10.673-46.108-7.226-69.612 3.229-22.016 11.757-43.389 24.663-61.809 12.963-18.501 30.245-33.889 49.977-44.5 21.042-11.315 44.009-17.053 68.265-17.053 7.544 0 14.064 5.271 15.645 12.647l25.114 117.199c1.137 5.307-.494 10.829-4.331 14.667l-42.913 42.912c40.482 80.486 106.17 146.174 186.656 186.656l42.912-42.913c3.837-3.837 9.36-5.466 14.667-4.331l117.199 25.114c7.377 1.581 12.647 8.101 12.647 15.645 0 24.256-5.738 47.224-17.054 68.266-10.611 19.732-25.999 37.014-44.5 49.977-18.419 12.906-39.792 21.434-61.809 24.663-6.899 1.013-13.797 1.518-20.668 1.519zm-236.349-479.321c-31.995 3.532-60.393 20.302-79.251 47.217-21.206 30.265-26.151 67.49-13.567 102.132 49.304 135.726 155.425 241.847 291.151 291.151 34.641 12.584 71.867 7.64 102.132-13.567 26.915-18.858 43.685-47.256 47.217-79.251l-95.341-20.43-44.816 44.816c-4.769 4.769-12.015 6.036-18.117 3.168-95.19-44.72-172.242-121.772-216.962-216.962-2.867-6.103-1.601-13.349 3.168-18.117l44.816-44.816z" />
            <path
                d="m496.02 272c-8.836 0-16-7.164-16-16 0-123.514-100.486-224-224-224-8.836 0-16-7.164-16-16s7.164-16 16-16c68.381 0 132.668 26.628 181.02 74.98s74.98 112.639 74.98 181.02c0 8.836-7.163 16-16 16z" />
            <path
                d="m432.02 272c-8.836 0-16-7.164-16-16 0-88.224-71.776-160-160-160-8.836 0-16-7.164-16-16s7.164-16 16-16c105.869 0 192 86.131 192 192 0 8.836-7.163 16-16 16z" />
            <path
                d="m368.02 272c-8.836 0-16-7.164-16-16 0-52.935-43.065-96-96-96-8.836 0-16-7.164-16-16s7.164-16 16-16c70.58 0 128 57.42 128 128 0 8.836-7.163 16-16 16z" />
        </symbol>
        <symbol id="home" viewBox="0 0 512 512">
            <title>home</title>
            <path
                d="m426 495.983h-340c-25.364 0-46-20.635-46-46v-242.02c0-8.836 7.163-16 16-16s16 7.164 16 16v242.02c0 7.72 6.28 14 14 14h340c7.72 0 14-6.28 14-14v-242.02c0-8.836 7.163-16 16-16s16 7.164 16 16v242.02c0 25.364-20.635 46-46 46z" />
            <path
                d="m496 263.958c-4.095 0-8.189-1.562-11.313-4.687l-198.989-198.987c-16.375-16.376-43.02-16.376-59.396 0l-198.988 198.988c-6.248 6.249-16.379 6.249-22.627 0-6.249-6.248-6.249-16.379 0-22.627l198.988-198.989c28.852-28.852 75.799-28.852 104.65 0l198.988 198.988c6.249 6.249 6.249 16.379 0 22.627-3.123 3.125-7.218 4.687-11.313 4.687z" />
            <path
                d="m320 495.983h-128c-8.837 0-16-7.164-16-16v-142c0-27.57 22.43-50 50-50h60c27.57 0 50 22.43 50 50v142c0 8.836-7.163 16-16 16zm-112-32h96v-126c0-9.925-8.075-18-18-18h-60c-9.925 0-18 8.075-18 18z" />
        </symbol>
        <symbol id="notification" viewBox="0 0 512 512">
            <title>notification</title>
            <path
                d="m384 368h-256c-8.837 0-16-7.164-16-16v-144c0-79.402 64.598-144 144-144s144 64.598 144 144v144c0 8.836-7.163 16-16 16zm-240-32h224v-128c0-61.757-50.243-112-112-112s-112 50.243-112 112z" />
            <path
                d="m384 432h-256c-26.467 0-48-21.533-48-48s21.533-48 48-48h256c26.467 0 48 21.533 48 48s-21.533 48-48 48zm-256-64c-8.822 0-16 7.178-16 16s7.178 16 16 16h256c8.822 0 16-7.178 16-16s-7.178-16-16-16z" />
            <path
                d="m256 96c-8.837 0-16-7.164-16-16v-40c0-22.056 17.944-40 40-40s40 17.944 40 40c0 8.836-7.163 16-16 16s-16-7.164-16-16c0-4.411-3.589-8-8-8s-8 3.589-8 8v40c0 8.836-7.163 16-16 16z" />
            <path
                d="m256 512c-35.29 0-64-28.71-64-64 0-15.784 5.795-30.941 16.316-42.68 3.035-3.386 7.367-5.32 11.914-5.32h71.539c4.547 0 8.879 1.935 11.914 5.32 10.522 11.739 16.317 26.896 16.317 42.68 0 35.29-28.71 64-64 64zm-27.716-80c-2.79 4.824-4.284 10.33-4.284 16 0 17.645 14.355 32 32 32s32-14.355 32-32c0-5.67-1.494-11.176-4.284-16z" />
        </symbol>
        <symbol id="info" viewBox="0 0 512 512">
            <title>info</title>
            <path
                d="m256 512c-44.112 0-80-35.888-80-80v-160c0-44.112 35.888-80 80-80s80 35.888 80 80v160c0 44.112-35.888 80-80 80zm0-288c-26.467 0-48 21.533-48 48v160c0 26.467 21.533 48 48 48 26.468 0 48-21.533 48-48v-160c0-26.467-21.532-48-48-48z" />
            <path
                d="m256 160c-44.112 0-80-35.888-80-80s35.888-80 80-80 80 35.888 80 80-35.888 80-80 80zm0-128c-26.467 0-48 21.533-48 48s21.533 48 48 48 48-21.533 48-48-21.533-48-48-48z" />
        </symbol>
        <symbol id="pin" viewBox="0 0 512 512">
            <title>pin</title>
            <path
                d="m256.001 512c-11.176 0-21.184-5.796-26.77-15.505-.059-.102-.116-.205-.173-.308l-126.962-232.386c-30.306-55.471-29.437-121.312 2.325-176.124 31.073-53.624 86.265-86.385 147.639-87.637 2.622-.054 5.258-.054 7.878 0 61.375 1.252 116.567 34.013 147.641 87.637 31.762 54.812 32.631 120.652 2.325 176.124l-126.962 232.386c-.057.103-.114.206-.173.308-5.585 9.708-15.592 15.505-26.768 15.505zm-.001-480c-1.099 0-2.195.011-3.289.033-50.099 1.022-95.185 27.821-120.604 71.688-26.107 45.055-26.829 99.162-1.93 144.736l125.823 230.3 125.822-230.299c24.899-45.575 24.178-99.682-1.931-144.737-25.419-43.866-70.505-70.666-120.604-71.688-1.091-.022-2.188-.033-3.287-.033z" />
            <path
                d="m256 232c-39.701 0-72-32.299-72-72s32.299-72 72-72 72 32.299 72 72-32.298 72-72 72zm0-112c-22.056 0-40 17.944-40 40s17.944 40 40 40 40-17.944 40-40-17.944-40-40-40z" />
        </symbol>
        <symbol id="message" viewBox="0 0 512 512">
            <title>message</title>
            <path
                d="M467,80.609H45c-24.813,0-45,20.187-45,45v260.782c0,24.813,20.187,45,45,45h422c24.813,0,45-20.187,45-45V125.609 C512,100.796,491.813,80.609,467,80.609z M461.127,110.609l-6.006,5.001L273.854,266.551c-10.346,8.614-25.364,8.614-35.708,0 L56.879,115.61l-6.006-5.001H461.127z M30,132.267L177.692,255.25L30,353.543V132.267z M467,401.391H45 c-7.248,0-13.31-5.168-14.699-12.011l171.445-114.101l17.204,14.326c10.734,8.938,23.893,13.407,37.051,13.407 c13.158,0,26.316-4.469,37.051-13.407l17.204-14.326l171.444,114.1C480.31,396.224,474.248,401.391,467,401.391z M482,353.543 l-147.692-98.292L482,132.267V353.543z" />
        </symbol>
        <symbol id="cake" viewBox="0 0 74 74">
            <title>cake</title>
            <path
                d="M62.444,65.818H11.556a1,1,0,0,1-1-1V43.009a1,1,0,0,1,2,0V63.818H61.444V43.009a1,1,0,0,1,2,0V64.818A1,1,0,0,1,62.444,65.818Z" />
            <path
                d="M40.181,29.47a1,1,0,0,1-1-1V15.894H34.819V28.47a1,1,0,0,1-2,0V15.8a1.911,1.911,0,0,1,1.909-1.909h4.543A1.911,1.911,0,0,1,41.181,15.8V28.47A1,1,0,0,1,40.181,29.47Z" />
            <path
                d="M37,13.113a3.668,3.668,0,0,1-3.664-3.664c0-1.6,2.129-5.723,2.781-6.95a1.041,1.041,0,0,1,1.766,0c.652,1.227,2.781,5.354,2.781,6.95A3.668,3.668,0,0,1,37,13.113Zm0-7.935a17.676,17.676,0,0,0-1.664,4.271,1.664,1.664,0,0,0,3.328,0A17.676,17.676,0,0,0,37,5.178Z" />
            <path d="M37,15.9a1,1,0,0,1-1-1V12.113a1,1,0,0,1,2,0V14.9A1,1,0,0,1,37,15.9Z" />
            <path
                d="M46.7,44.009a8.114,8.114,0,0,1-5.446-2.018,6.381,6.381,0,0,0-8.492,0,8.362,8.362,0,0,1-10.895,0,6.389,6.389,0,0,0-8.5,0,9.518,9.518,0,0,1-2.944,1.661,2.716,2.716,0,0,1-2.414-.4A2.644,2.644,0,0,1,6.921,41.1V33.013a5.55,5.55,0,0,1,5.544-5.543h49.07a5.55,5.55,0,0,1,5.544,5.543V41.1a2.645,2.645,0,0,1-1.091,2.153,2.684,2.684,0,0,1-2.413.4,9.506,9.506,0,0,1-2.94-1.66,6.378,6.378,0,0,0-8.488,0A8.114,8.114,0,0,1,46.7,44.009Zm-9.693-5.635a8.114,8.114,0,0,1,5.446,2.018,6.383,6.383,0,0,0,8.493,0,8.354,8.354,0,0,1,10.889,0,7.678,7.678,0,0,0,2.341,1.352.7.7,0,0,0,.629-.1.656.656,0,0,0,.274-.541V33.013a3.548,3.548,0,0,0-3.544-3.543H12.465a3.548,3.548,0,0,0-3.544,3.543V41.1a.659.659,0,0,0,.273.54.7.7,0,0,0,.631.1,7.679,7.679,0,0,0,2.345-1.353,8.117,8.117,0,0,1,5.448-2.018,8.117,8.117,0,0,1,5.448,2.018,6.384,6.384,0,0,0,8.494,0A8.116,8.116,0,0,1,37.007,38.374Z" />
            <path
                d="M62.444,56.277a8.7,8.7,0,0,1-5.672-2,7.049,7.049,0,0,0-9.02,0,9.024,9.024,0,0,1-11.34,0,7.042,7.042,0,0,0-9.014,0,8.7,8.7,0,0,1-5.67,2,8.688,8.688,0,0,1-5.668-2,6.743,6.743,0,0,0-4.506-1.631,1,1,0,1,1,0-2,8.688,8.688,0,0,1,5.668,2,7.042,7.042,0,0,0,9.014,0,9.022,9.022,0,0,1,11.338,0,7.045,7.045,0,0,0,9.016,0,9.03,9.03,0,0,1,11.344,0,6.747,6.747,0,0,0,4.51,1.631,1,1,0,0,1,0,2Z" />
            <path
                d="M66.878,72H7.122a1,1,0,0,1-1-1V66.879a3.064,3.064,0,0,1,3.061-3.061H64.817a3.064,3.064,0,0,1,3.061,3.061V71A1,1,0,0,1,66.878,72ZM8.122,70H65.878V66.879a1.062,1.062,0,0,0-1.061-1.061H9.183a1.062,1.062,0,0,0-1.061,1.061Z" />
        </symbol>
        <symbol id="placeholder" viewBox="0 0 512 512">
            <title>placeholder</title>
            <g>
                <g>
                    <path
                        d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257 c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22 C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34 C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180 C406.1,207.121,398.689,233.688,384.866,256.818z" />
                </g>
            </g>
            <g>
                <g>
                    <path
                        d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2 C316.1,212.683,289.784,240.2,256,240.2z" />
                </g>
            </g>
        </symbol>
        <symbol id="name" viewBox="0 -43 512 512">
            <title>name</title>
            <path
                d="m453.332031 426.667969h-394.664062c-32.363281 0-58.667969-26.304688-58.667969-58.667969v-266.667969c0-32.363281 26.304688-58.664062 58.667969-58.664062h128c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16h-128c-14.699219 0-26.667969 11.964843-26.667969 26.664062v266.667969c0 14.699219 11.96875 26.667969 26.667969 26.667969h394.664062c14.699219 0 26.667969-11.96875 26.667969-26.667969v-266.667969c0-14.699219-11.96875-26.664062-26.667969-26.664062h-128c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h128c32.363281 0 58.667969 26.300781 58.667969 58.664062v266.667969c0 32.363281-26.304688 58.667969-58.667969 58.667969zm0 0" />
            <path
                d="m304 117.332031h-96c-20.585938 0-37.332031-16.746093-37.332031-37.332031v-42.667969c0-20.585937 16.746093-37.332031 37.332031-37.332031h96c20.585938 0 37.332031 16.746094 37.332031 37.332031v42.667969c0 20.585938-16.746093 37.332031-37.332031 37.332031zm-96-85.332031c-2.945312 0-5.332031 2.390625-5.332031 5.332031v42.667969c0 2.945312 2.386719 5.332031 5.332031 5.332031h96c2.945312 0 5.332031-2.386719 5.332031-5.332031v-42.667969c0-2.941406-2.386719-5.332031-5.332031-5.332031zm0 0" />
            <path
                d="m160 256c-29.398438 0-53.332031-23.9375-53.332031-53.332031 0-29.398438 23.933593-53.335938 53.332031-53.335938s53.332031 23.9375 53.332031 53.335938c0 29.394531-23.933593 53.332031-53.332031 53.332031zm0-74.667969c-11.753906 0-21.332031 9.578125-21.332031 21.335938 0 11.753906 9.578125 21.332031 21.332031 21.332031s21.332031-9.578125 21.332031-21.332031c0-11.757813-9.578125-21.335938-21.332031-21.335938zm0 0" />
            <path
                d="m240 362.667969c-8.832031 0-16-7.167969-16-16v-10.667969c0-14.699219-11.96875-26.667969-26.667969-26.667969h-74.664062c-14.699219 0-26.667969 11.96875-26.667969 26.667969v10.667969c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-10.667969c0-32.363281 26.304688-58.667969 58.667969-58.667969h74.664062c32.363281 0 58.667969 26.304688 58.667969 58.667969v10.667969c0 8.832031-7.167969 16-16 16zm0 0" />
            <path
                d="m432 192h-117.332031c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h117.332031c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
            <path
                d="m432 277.332031h-117.332031c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h117.332031c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
            <path
                d="m432 362.667969h-117.332031c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h117.332031c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
        </symbol>
        <symbol id="car" viewBox="0 0 488.001 488.001">
            <title>car</title>
            <path
                d="M462.6,214.404l-39.2-17.9l-34.6-55.2c-10-16-27.6-25.7-46.5-25.6H194.9c-17.1,0-33.3,7.9-43.7,21.5l-44.7,58.5 l-74.5,20.4c-18.9,5.2-32,22.5-32,42.1v28.5c0,24.1,19.2,44,43.3,44h6.4c7.7,29.7,38,47.5,67.7,39.8c19.5-5.1,34.8-20.3,39.8-39.8 h168c7.7,29.7,38,47.5,67.7,39.8c19.5-5.1,34.8-20.3,39.8-39.8h12c24.1,0,43.3-19.9,43.3-44v-32.5 C488.1,237.104,478.1,221.504,462.6,214.404z M103.4,352.104c-19.6,0-35.5-15.9-35.5-35.5c0-19.6,15.9-35.5,35.5-35.5 c19.6,0,35.5,15.9,35.5,35.5C139,336.104,123.1,352.004,103.4,352.104z M378.9,352.104c-19.6,0-35.5-15.9-35.5-35.5 c0-19.6,15.9-35.5,35.5-35.5s35.5,15.9,35.5,35.5C414.5,336.104,398.6,352.004,378.9,352.104z M444.7,310.704h-10.6 c-3.3-30.5-30.8-52.5-61.3-49.1c-25.9,2.8-46.3,23.3-49.1,49.1H158.6c-3.3-30.5-30.8-52.5-61.3-49.1 c-25.9,2.8-46.3,23.3-49.1,49.1h-5c-13.1,0-23.3-10.9-23.3-24v-28.5c-0.1-10.7,7-20,17.3-22.9l77.9-21.3c2.1-0.6,4-1.8,5.3-3.6 l46.6-61.1c6.7-8.6,17-13.6,27.9-13.6h147.4c12-0.1,23.3,6,29.6,16.2l36.2,57.8c1,1.7,2.6,3,4.3,3.8l41.8,19.1 c8.4,3.9,13.8,12.3,13.7,21.6v32.5h0.1C468,299.804,457.8,310.704,444.7,310.704z" />
        </symbol>
        <symbol id="car-engine" viewBox="0 0 511.996 511.996">
            <title>car-engine</title>
            <path
                d="m501.085 137.464-89.645-89.645c-13.045-13.047-33.294-14.569-48.145-3.619l-48.426 35.706c-1.758 1.296-2.863 3.295-3.027 5.473s.631 4.319 2.175 5.864l11.67 11.67-51.269 51.269h-36.843l-51.272-51.272 11.672-11.673c1.545-1.545 2.338-3.686 2.175-5.864-.164-2.178-1.27-4.177-3.028-5.473l-48.424-35.698c-14.845-10.953-35.093-9.431-48.144 3.621l-14.195 14.196c-2.928 2.928-2.928 7.676 0 10.604s7.676 2.928 10.604 0l14.196-14.196c7.765-7.765 19.807-8.672 28.639-2.156l16.112 11.878-124.674 124.673-11.878-16.107c-6.511-8.843-5.605-20.893 2.154-28.652l54.246-54.245c2.928-2.928 2.928-7.675 0-10.604-2.927-2.928-7.675-2.928-10.604 0l-54.246 54.245c-13.041 13.041-14.566 33.29-3.622 48.151l35.711 48.427c1.296 1.758 3.295 2.863 5.473 3.027.188.014.375.021.562.021 1.98 0 3.89-.785 5.302-2.196l11.671-11.672 8.707 8.707c-18.396 15.837-29.159 38.954-29.159 63.437 0 40.203 28.693 74.534 67.62 82.138 4.233 22.432 20.21 40.76 41.285 48.32v26.933c0 12.317 10.016 22.337 22.328 22.337 9.687 0 17.951-6.2 21.039-14.839h10.735c3.087 8.639 11.346 14.839 21.029 14.839 9.687 0 17.951-6.2 21.039-14.839h10.738c3.087 8.637 11.349 14.836 21.034 14.836s17.946-6.199 21.033-14.836h10.739c3.087 8.637 11.349 14.836 21.033 14.836 12.314 0 22.332-10.018 22.332-22.332v-58.948c11.76-1.624 22.33-7.006 30.462-14.897 14.989-.94 29.392-5.88 41.83-14.374 3.42-2.336 4.299-7.001 1.963-10.421-2.334-3.419-7.001-4.299-10.42-1.963-6.588 4.499-13.85 7.773-21.477 9.743 2.407-5.404 3.959-11.264 4.487-17.417 19.362-8.51 32.042-27.627 32.042-49.115 0-16.646-7.645-32.054-20.444-42.136l10.664-10.664c15.631 13.012 24.8 32.325 24.8 52.798 0 13.402-3.879 26.395-11.217 37.575-2.272 3.462-1.308 8.11 2.154 10.383 1.269.833 2.696 1.23 4.108 1.23 2.441 0 4.835-1.191 6.275-3.384 8.947-13.631 13.676-29.47 13.676-45.803 0-24.488-10.764-47.603-29.161-63.432l8.712-8.712 11.671 11.671c1.411 1.411 3.321 2.196 5.301 2.196.187 0 .374-.007.562-.021 2.178-.164 4.177-1.269 5.473-3.027l35.706-48.425c10.95-14.853 9.428-35.101-3.619-48.147zm-120.89 69.254c0-1.882.733-3.652 2.064-4.983l21.126-21.126 9.965 9.965-21.126 21.126c-1.331 1.331-3.1 2.064-4.982 2.064s-3.652-.733-4.983-2.064c-1.331-1.33-2.064-3.1-2.064-4.982zm-18.562-67.86 6.662 6.662-21.126 21.126c-1.331 1.331-3.1 2.064-4.983 2.064-1.882 0-3.651-.733-4.983-2.064-2.747-2.747-2.747-7.218 0-9.965l21.126-21.126zm-25.341-25.341 11.434 11.434-21.126 21.126c-8.594 8.594-8.594 22.578 0 31.172 4.163 4.163 9.699 6.456 15.586 6.456 5.888 0 11.423-2.293 15.586-6.456l21.126-21.126 13.883 13.883-21.126 21.126c-4.163 4.163-6.456 9.699-6.456 15.586s2.293 11.423 6.456 15.586 9.698 6.456 15.586 6.456 11.423-2.293 15.586-6.456l21.126-21.126 11.434 11.434-48.163 48.164-99.096-99.095zm-31.561 280.821h8.142v50.916h-8.142zm-51.469-14.996 42.266-41.493c-.022.64-.049 1.28-.049 1.925 0 15.566 6.563 29.619 17.054 39.568zm-54.139 45.865c2.815-1.097 5.533-2.384 8.139-3.853v23.9h-8.139zm52.804-30.869h8.141v50.916h-8.141zm-12.303-22.622c.191-2.007.298-4.038.298-6.094 0-35.254-28.682-63.936-63.936-63.936-1.381 0-2.748.059-4.108.146l41.803-40.877c1.564 21.986 19.939 39.4 42.316 39.4 23.4 0 42.437-19.037 42.437-42.437 0-1.002-.047-1.992-.116-2.976l43.006 30.977c-11.548 1.862-21.897 7.353-29.825 15.273l.009-.046zm-132.907-107.786 11.477 11.477 14.058 43.64c-4.397 4.132-8.212 8.872-11.305 14.093-17.376-3.858-30.387-19.601-30.387-37.778.001-12.592 6.077-24.208 16.157-31.432zm149.28-33.453c15.131 0 27.441 12.31 27.441 27.441s-12.31 27.441-27.441 27.441-27.441-12.31-27.441-27.441 12.31-27.441 27.441-27.441zm117.171 59.898s-90.646-65.586-91.702-66.381c-7.099-5.343-15.921-8.513-25.469-8.513-11.042 0-21.11 4.243-28.667 11.179l-82.96 81.096-11.055-34.317 104.261-104.261h36.843l104.26 104.26-5.46 16.959c-.017-.007-.034-.014-.051-.022zm-264.558-109.765 21.126 21.126c1.331 1.331 2.064 3.1 2.064 4.982s-.733 3.652-2.064 4.982c-1.331 1.331-3.1 2.064-4.983 2.064-1.882 0-3.651-.733-4.982-2.064l-21.126-21.126zm-58.717 37.512-9.656-13.094 127.88-127.88 13.091 9.65zm38.149-16.943 21.125 21.125c4.163 4.163 9.698 6.456 15.586 6.456s11.423-2.293 15.586-6.456c4.163-4.163 6.456-9.699 6.456-15.586s-2.293-11.423-6.456-15.586l-21.126-21.126.174-.174 13.709-13.709 21.126 21.126c4.163 4.163 9.698 6.456 15.586 6.456s11.423-2.293 15.586-6.456c8.594-8.594 8.594-22.578 0-31.172l-21.126-21.126 11.434-11.434 48.164 48.164-99.096 99.095-48.162-48.162zm65.623-65.624 21.126 21.126c2.747 2.747 2.747 7.218 0 9.965-1.331 1.331-3.101 2.064-4.983 2.064s-3.652-.733-4.983-2.064l-21.125-21.126zm-93.116 159.806c0-20.468 9.168-39.783 24.797-52.803l10.666 10.666c-12.801 10.083-20.448 25.491-20.448 42.137 0 13.459 5.023 26.342 14.144 36.276 6.844 7.454 15.535 12.756 25.095 15.43-1.441 4.741-2.344 9.712-2.639 14.845-29.955-7.682-51.615-34.9-51.615-66.551zm66.497 70.261c0-26.985 21.955-48.94 48.94-48.94s48.94 21.954 48.94 48.94-21.955 48.94-48.94 48.94-48.94-21.954-48.94-48.94zm49.74 94.471c-4.042 0-7.332-3.293-7.332-7.341v-23.525c2.148.219 4.326.331 6.531.331 2.76 0 5.473-.195 8.142-.536v23.73c0 4.048-3.293 7.341-7.341 7.341zm52.803 0c-4.042 0-7.331-3.293-7.331-7.341v-42.973l14.673-14.405v57.377c0 4.049-3.293 7.342-7.342 7.342zm52.811-.003c-4.045 0-7.336-3.291-7.336-7.336v-58.416h14.671v58.416c0 4.045-3.29 7.336-7.335 7.336zm52.805 0c-4.045 0-7.335-3.291-7.335-7.336v-58.416h14.671v58.416c0 4.045-3.291 7.336-7.336 7.336zm14.834-80.752c-21.815 0-39.564-17.748-39.564-39.564 0-21.815 17.748-39.564 39.564-39.564 21.815 0 39.564 17.748 39.564 39.564s-17.749 39.564-39.564 39.564zm71.389-83.976c0 13.55-6.997 25.795-18.097 32.754-2.508-11.473-8.633-21.605-17.121-29.138l7.588-23.569 11.477-11.477c10.078 7.221 16.153 18.837 16.153 31.43zm40.673-77.243-131.316-131.316 13.093-9.654 127.877 127.877zm30.533-41.41-11.879 16.11-124.671-124.671 16.11-11.879c8.836-6.515 20.881-5.609 28.642 2.153l89.645 89.645c7.762 7.762 8.667 19.808 2.153 28.642z" />
            <path
                d="m198.617 365.622c0-12.479-10.152-22.631-22.631-22.631s-22.631 10.152-22.631 22.631 10.152 22.631 22.631 22.631 22.631-10.152 22.631-22.631zm-30.266 0c0-4.21 3.425-7.635 7.635-7.635s7.635 3.425 7.635 7.635-3.425 7.635-7.635 7.635-7.635-3.425-7.635-7.635z" />
            <path
                d="m350.039 317.143c-12.479 0-22.631 10.152-22.631 22.631s10.152 22.631 22.631 22.631 22.631-10.152 22.631-22.631-10.152-22.631-22.631-22.631zm0 30.266c-4.21 0-7.635-3.425-7.635-7.635s3.425-7.635 7.635-7.635 7.635 3.425 7.635 7.635-3.425 7.635-7.635 7.635z" />
        </symbol>
        <symbol id="matricula" viewBox="0 -88 496 496">
            <title>matricula</title>
            <path
                d="m480 0h-464c-8.824219 0-16 7.175781-16 16v288c0 8.824219 7.175781 16 16 16h464c8.824219 0 16-7.175781 16-16v-288c0-8.824219-7.175781-16-16-16zm-.023438 304h-463.976562v-288h464zm0 0" />
            <path d="m464 32h-432v256h432zm-16 240h-400v-224h400zm0 0" />
            <path d="m416 64h16v16h-16zm0 0" />
            <path d="m64 64h16v16h-16zm0 0" />
            <path d="m416 240h16v16h-16zm0 0" />
            <path d="m64 240h16v16h-16zm0 0" />
            <path
                d="m72 176c0 10.59375 4.144531 20.632812 11.742188 28.335938 7.632812 7.519531 17.671874 11.664062 28.257812 11.664062 22.054688 0 40-17.945312 40-40h-16c0 13.230469-10.769531 24-24 24-6.359375 0-12.40625-2.503906-16.945312-6.976562-4.550782-4.617188-7.054688-10.664063-7.054688-17.023438v-32c0-13.230469 10.769531-24 24-24 6.359375 0 12.40625 2.503906 16.945312 6.976562 4.550782 4.617188 7.054688 10.664063 7.054688 17.023438h16c0-10.59375-4.144531-20.632812-11.742188-28.335938-7.632812-7.519531-17.671874-11.664062-28.257812-11.664062-22.054688 0-40 17.945312-40 40zm0 0" />
            <path d="m168 152h48v16h-48zm0 0" />
            <path
                d="m264 128v16c0 4.40625-3.585938 8-8 8h-24v16h24c4.414062 0 8 3.59375 8 8v16c0 4.40625-3.585938 8-8 8h-40v16h40c13.230469 0 24-10.769531 24-24v-16c0-6.167969-2.40625-11.742188-6.238281-16 3.839843-4.257812 6.238281-9.832031 6.238281-16v-16c0-13.230469-10.769531-24-24-24h-40v16h40c4.414062 0 8 3.59375 8 8zm0 0" />
            <path
                d="m360 200h-44.6875l31.0625-31.0625c8.65625-8.65625 13.625-20.664062 13.625-32.9375 0-8.535156-3.328125-16.566406-9.382812-22.617188-6.050782-6.046874-14.089844-9.382812-22.617188-9.382812-17.648438 0-32 14.351562-32 32v8h16v-8c0-8.824219 7.175781-16 16-16 4.257812 0 8.273438 1.664062 11.304688 4.695312s4.695312 7.039063 4.695312 11.304688c0 8.0625-3.257812 15.945312-8.9375 21.625l-39.0625 39.0625v19.3125h64zm0 0" />
            <path d="m424 200h-16v-96h-32v16h16v80h-16v16h48zm0 0" />
        </symbol>
        <symbol id="user" viewBox="0 0 60 60">
            <title>user</title>
            <path
                d="M48.014,42.889l-9.553-4.776C37.56,37.662,37,36.756,37,35.748v-3.381c0.229-0.28,0.47-0.599,0.719-0.951 c1.239-1.75,2.232-3.698,2.954-5.799C42.084,24.97,43,23.575,43,22v-4c0-0.963-0.36-1.896-1-2.625v-5.319 c0.056-0.55,0.276-3.824-2.092-6.525C37.854,1.188,34.521,0,30,0s-7.854,1.188-9.908,3.53C17.724,6.231,17.944,9.506,18,10.056 v5.319c-0.64,0.729-1,1.662-1,2.625v4c0,1.217,0.553,2.352,1.497,3.109c0.916,3.627,2.833,6.36,3.503,7.237v3.309 c0,0.968-0.528,1.856-1.377,2.32l-8.921,4.866C8.801,44.424,7,47.458,7,50.762V54c0,4.746,15.045,6,23,6s23-1.254,23-6v-3.043 C53,47.519,51.089,44.427,48.014,42.889z M51,54c0,1.357-7.412,4-21,4S9,55.357,9,54v-3.238c0-2.571,1.402-4.934,3.659-6.164 l8.921-4.866C23.073,38.917,24,37.354,24,35.655v-4.019l-0.233-0.278c-0.024-0.029-2.475-2.994-3.41-7.065l-0.091-0.396l-0.341-0.22 C19.346,23.303,19,22.676,19,22v-4c0-0.561,0.238-1.084,0.67-1.475L20,16.228V10l-0.009-0.131c-0.003-0.027-0.343-2.799,1.605-5.021 C23.253,2.958,26.081,2,30,2c3.905,0,6.727,0.951,8.386,2.828c1.947,2.201,1.625,5.017,1.623,5.041L40,16.228l0.33,0.298 C40.762,16.916,41,17.439,41,18v4c0,0.873-0.572,1.637-1.422,1.899l-0.498,0.153l-0.16,0.495c-0.669,2.081-1.622,4.003-2.834,5.713 c-0.297,0.421-0.586,0.794-0.837,1.079L35,31.623v4.125c0,1.77,0.983,3.361,2.566,4.153l9.553,4.776 C49.513,45.874,51,48.28,51,50.957V54z" />
        </symbol>
        <symbol id="creditcard" viewBox="0 0 512 512">
            <title>creditcard</title>
            <path
                d="M56,416H456a40.045,40.045,0,0,0,40-40V136a40.045,40.045,0,0,0-40-40H56a40.045,40.045,0,0,0-40,40V376A40.045,40.045,0,0,0,56,416ZM32,136a24.028,24.028,0,0,1,24-24H456a24.028,24.028,0,0,1,24,24V376a24.028,24.028,0,0,1-24,24H56a24.028,24.028,0,0,1-24-24Z" />
            <path
                d="M88,224h32a24.028,24.028,0,0,0,24-24V168a24.028,24.028,0,0,0-24-24H88a24.028,24.028,0,0,0-24,24v32A24.028,24.028,0,0,0,88,224Zm0-64h32a8.009,8.009,0,0,1,8,8v8h-8a8,8,0,0,0,0,16h8v8a8.009,8.009,0,0,1-8,8H88a8.009,8.009,0,0,1-8-8v-8h8a8,8,0,0,0,0-16H80v-8A8.009,8.009,0,0,1,88,160Z" />
            <path d="M72,336H192a8,8,0,0,0,0-16H72a8,8,0,0,0,0,16Z" />
            <path d="M72,368l160,.006h0a8,8,0,0,0,0-16L72,352h0a8,8,0,0,0,0,16Z" />
            <path
                d="M384,384a39.736,39.736,0,0,0,19.99-5.376,40,40,0,1,0,0-69.248A39.992,39.992,0,1,0,384,384Zm64-40a23.989,23.989,0,0,1-31.221,22.884,39.87,39.87,0,0,0,0-45.767A23.986,23.986,0,0,1,448,344Zm-64-24a24,24,0,1,1-24,24A24.028,24.028,0,0,1,384,320Z" />
            <path
                d="M428.422,223.155a7.993,7.993,0,0,0,10.733-3.577C439.517,218.855,448,201.686,448,184s-8.483-34.855-8.845-35.578a8,8,0,0,0-14.316,7.144C424.911,155.711,432,170.16,432,184s-7.089,28.289-7.155,28.422A8,8,0,0,0,428.422,223.155Z" />
            <path
                d="M362.343,205.657a8,8,0,0,0,11.314,0C374.716,204.6,384,195,384,184s-9.284-20.6-10.343-21.657a8,8,0,0,0-11.336,11.292C364.611,175.962,368,180.866,368,184s-3.389,8.038-5.657,10.343A8,8,0,0,0,362.343,205.657Z" />
            <path d="M72,272h48a8,8,0,0,0,0-16H72a8,8,0,0,0,0,16Z" />
            <path d="M168,272h48a8,8,0,0,0,0-16H168a8,8,0,0,0,0,16Z" />
            <path d="M264,272h48a8,8,0,0,0,0-16H264a8,8,0,0,0,0,16Z" />
            <path d="M360,272h48a8,8,0,0,0,0-16H360a8,8,0,0,0,0,16Z" />
            <path
                d="M405.657,154.343a8,8,0,0,0-11.314,11.314c.056.057,5.657,6.2,5.657,18.343s-5.512,18.184-5.746,18.435l.089-.092h0a8,8,0,0,0,11.314,11.314h0C406.716,212.6,416,202.771,416,184S406.716,155.4,405.657,154.343Z" />
        </symbol>
    </svg>
</div>
