
<div class="container-fluid" style="margin: 27px">
    <div class="row page-titles mx-0 go-margin-top">
        <div class="col-12 p-md-0">
            <div class="welcome-text">
                <h4 class="font-weight-bold">Tabla de Meses Sin Intereses</h4>
            </div>
        </div>
        <!-- <div class="col-12 p-md-0 justify-content mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin/inicio/tabla-de-meses-sin-intereses']">Tabla de Meses Sin Intereses</a></li>
            </ol>
        </div> -->
    </div>
    <!-- row -->
    <div class="row">
         <!-- <iframe src="assets/images/pdfs/tabla-msi.pdf" width="100%" height="680px"></iframe> -->
        <!-- <iframe [src]="tableMSI | safe" width="100%" height="680px" *ngIf="tableMSI"></iframe> -->
        <div class="col-12" *ngFor="let imgTabla of imgMSI">
            <img src="{{imgTabla['imagen']}}" class="img-fluid m-auto d-block" alt="banner">
        </div>
    </div>
</div>
