.hovericons:hover{
    cursor: pointer;
}


/* .overlay:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 90%;
    width: 90%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
} */