<div class="container-fluid my-md-5">
    <div class="row page-titles mx-0">
        <div class="col-sm-12 p-md-0">
            <h3 class="col-auto font-weight-bold p-0">
                <strong>Cotiza y emite fácilmente con:</strong>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="slider" class="hovericons">
                <div class="row" *ngIf="url === 'particular'" >

                    <div class="col-6 col-sm-3 col-md-2" *ngFor="let insruance of insuranceCarriers">
                        <div class="card" *ngIf="insruance.insurance_carrier !== 'spt'">
                            <div class="card-body" >
                                <a rel="preconnect" (click)="sendCotizacionAseguradora(insruance.insurance_carrier)" title="{{ insruance.insurance_carrier }}"  >
<!--                                    <div id="{{ insruance.id }}" class="logo-sprite" [ngClass]="{ 'filterGrayScale' : available(insruance, url) }" ></div>-->
                                    <img class="rounded mx-auto d-block" src="assets/images/aseguradoras/{{insruance.insurance_carrier}}.svg" alt="log" [ngClass]="{ 'filterGrayScale' : available(insruance, url) }" style="width: 75px; height: 50px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TODO -->
                <div class="row" *ngIf="url === 'privado'" style="height: 22rem;">
                    <div class="col-6 col-sm-3 col-md-2" *ngFor="let insruance of insuranceCarriers">
                        <a rel="preconnect" (click)="sendCotizacionAseguradora(insruance.insurance_carrier)" title="{{ insruance.insurance_carrier }}">
                            <img class="rounded mx-auto d-block" src="assets/images/aseguradoras/{{insruance.insurance_carrier}}.svg" alt="log" [ngClass]="{ 'filterGrayScale' : available(insruance, url) }" style="width: 75px; height: 50px;">
<!--                            <div id="{{ insruance.id }}" class="logo-sprite" [ngClass]="{ 'filterGrayScale' : available(insruance, url) }" ></div>-->
                        </a>
                    </div>
                </div>
                <div class="row" *ngIf="url === 'valor-factura'">
                    <div class="col-6 col-sm-3 col-md-2" *ngFor="let insruance of insuranceCarriers">
                        <div class="card">
                            <div class="card-body">
<!--                                <span class="position-absolute start-100 translate-middle badgenew rounded-pill text-white" *ngIf="insruance.insurance_carrier=='mapfre'" style="right:0;margin:0 auto!important;">NUEVO</span>-->
                                <a rel="preconnect" (click)="sendCotizacionAseguradora(insruance.insurance_carrier)" title="{{ insruance.insurance_carrier }}">
                                    <img class="rounded mx-auto d-block" src="assets/images/aseguradoras/{{insruance.insurance_carrier}}.svg" alt="log" style="width: 75px; height: 50px;">
<!--                                    <div id="{{ insruance.id }}" class="logo-sprite" [ngClass]="{ 'filterGrayScale' : available(insruance, url) }"><div id="{{ insruance.id }}" class="logo-sprite" [ngClass]="{ 'filterGrayScale' : available(insruance, url) }"></div>-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
