header{
    display: none;
}
.logo-tarjeta{
    position: absolute;
    width: 25%;
    top: 10px;
    left: 69%
}
.share{width: 20%;}
.span-text{
    font-size: .5em;
    text-align: center;
    color: #838383;
}
.datos-card{
    font-weight: bolder;
    color: #838383;
    text-align: left;
}
.datos-puesto{
    font-weight: bolder;
    color: #838383;
    text-align: left;
    font-size: .8em;
}
.cotiza-aqui{
    font-weight: bolder;
    color: #838383;
    text-align: center;
    font-size: .9em;
}
.logos-cicle{
    width: 45px;
}
.marco-qr{
    position: absolute;
    left: 10px;
    top: -4px;
}
.qr{
    left: 29px;
    top:14px;
    margin-right: 0px;
}
.foto{
    left: 33px;
    top: 43px;
    width: 222px
}
.compartir{
    display: flex;
    justify-content: end;
}
/*media*/
@media (min-width : 320px) and (max-width : 374px){
    .foto{
        left: 28px;
        top: 38px;
        width: 178px;
    }
    .span-text {
        font-size: .4em;
    }
}
@media (min-width : 375px) and (max-width : 424px){
    .foto{
        left: 33px;
        top: 43px;
        width: 217px;
    }
}
@media (min-width: 425px) and (max-width: 767px){
    .foto{
        left: 33px;
        top: 44px;
        width: 221px;
    }
}
@media (min-width: 768px) and (max-width: 800px){}
@media (min-width: 801px) and (max-width: 1024px){}
@media (min-width:1024px) and (max-width:1280px){}
