<div class="container mt-4">
    <div class="compartir mb-3">

        <div class="container-fluid" id="tarjetaPresentacionPDF">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                    <div class=" card  " style="width: 20rem;">
                        <div class="card-body pb-0 pt-0" >
                            <div class="row">
<!--                                <img class="logo-tarjeta" src="assets/images/business-cards/logo_go.webp">-->
                                <img class="img-fluid" width="100%" src="assets/images/business-cards/foto.png">
                                <img class="position-absolute foto" src="{{card.imagenAgente}}">
                            </div>
                            <div class="row " style="margin-top: -19px; margin-bottom: 15px">
                                <div class="col-4 pr-0">
                                    <qrcode class="qr" [qrdata]="card.url" [width]="68" [errorCorrectionLevel]="'M'"></qrcode>
                                    <img class="marco-qr" src="assets/images/business-cards/qr.png">
<!--                                    <span *ngIf="card.url" class="cotiza-aqui">Cotiza aquí: <small>{{urlAfiliado}}</small></span>-->

                                </div>

                                <div class="col-8 pl-0 mb-auto mt-auto">
                                    <span class="datos-card">{{nomCompleto | uppercase}} </span><br>
                                    <span class="datos-puesto">SOCIO ESPECIALIZADO GO</span>
                                </div>
                            </div>
                            <div>
                                <a href="{{urlAfiliado}}" target="_blank">
                                <small><span *ngIf="card.url" class="cotiza-aqui" href="">Cotiza aquí: {{urlAfiliado}}</span></small>
                                </a>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <a href="tel:{{card.numeroTelefonico}}"><img class="logos-cicle" src="assets/images/business-cards/contacto.webp"></a>
                                </div>
                                <div class="col-3">
                                    <a href="https://api.whatsapp.com/send/?phone=%2B521{{card.numeroTelefonico}}&text&app_absent=0" target="_blank">
                                        <img class="logos-cicle" src="assets/images/business-cards/whats.webp"></a>
                                </div>
                                <div class="col-3">
                                    <a href="mailto:{{card.correo}}" target="_blank">
                                        <img class="logos-cicle" src="assets/images/business-cards/email.webp"></a>
                                </div>
                                <div class="col-3">
                                    <a href="tel:{{card.numeroTelefonico}}">
                                        <img class="logos-cicle" src="assets/images/business-cards/tel.webp"></a></div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3 span-text"><p>Agrégar contacto</p></div>
                                <div class="col-3 span-text"><p>Envíame un whatsApp</p></div>
                                <div class="col-3 span-text"><p>Contáctame por correo</p></div>
                                <div class="col-3 span-text"><p>Llámame</p></div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                         <a href="https://www.facebook.com/sharer.php?u={{urlAfiliado}}&t={{imagenUrl}}" target="_blank">
<!--                                    <a href="https://www.facebook.com/sharer.php?u=https://p.cotizago.com/NTMvMTMzMDk=&t={{imagenUrl}}" target="_blank">-->
                                        <img class="logos-cicle"  src="assets/images/business-cards/facebook.png"></a>
                                </div>
                                <div class="col-3">
                                        <a href="http://www.linkedin.com/shareArticle?url={{urlAfiliado}}&title=Cotiza aquí tu seguro de auto con más de 20 compañías y paga MSI" target="_blank">
<!--                                    <a href="http://www.linkedin.com/shareArticle?url=https://p.cotizago.com/NTMvMTMzMDk=&title=Cotiza aquí tu seguro de auto con más de 20 compañías y paga MSI" target="_blank">-->

                                    <img class="logos-cicle" src="assets/images/business-cards/linkening.png"></a>
                                </div>
                                <div class="col-3">
<!--                                    <a href="https://twitter.com/intent/tweet?text=Cotiza aquí tu seguro de auto con más de 20 compañías y paga MSI&url=https://p.cotizago.com/NTMvMTMzMDk=&via=GOAGENTES&hashtags=#GOAGENTES" target="_blank">-->
                                    <a href="https://twitter.com/intent/tweet?text=Cotiza aquí tu seguro de auto con más de 20 compañías y paga MSI&url={{urlAfiliado}}&via=GOAGENTES&hashtags=#GOAGENTES" target="_blank">
                                        <img class="logos-cicle" src="assets/images/business-cards/twiter.png"></a>
                                </div>
                                <div class="col-3 ">
                                    <a href="https://www.tiktok.com/tag/foryoupage?refer=embed" target="_blank" style="visibility: hidden">
                                        <img class="logos-cicle" src="assets/images/business-cards/ticktok.png"></a></div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3 span-text"><p>Facebook</p></div>
                                <div class="col-3 span-text"><p>Linkedin</p></div>
                                <div class="col-3 span-text"><p>Twitter</p></div>
                                <div class="col-3 span-text"><p></p></div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <img style="width: 100%" class="" src="{{card.imagenBanner}}">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="c-md-12">-->
<!--    <div class="share">-->
<!--        <a href="http://www.facebook.com/sharer.php?u=www.mipagina.com&t=pagina de desarrollo web" target="_blank" class="facebook">Facebook</a>-->
<!--        <a href="https://twitter.com/intent/tweet?text=MIEpresa&url=www.mipagina.com&via=Empresa&hashtags=#miempresa" target="_blank" class="twitter">Twitter</a>-->
<!--        <a href="http://www.linkedin.com/shareArticle?url=www.miempresa.com" target="_blank" class="linkedin">LinkedIn</a>-->
<!--        <a href="https://plus.google.com/share?url=www.mipagina.com" target="_blank" class="google-plus">Google Plus</a>-->
<!--    </div>-->
<!--</div>-->
