<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>
<!--<div class="row mt-5" *ngIf="banderaUrl === true">-->
<div class="row mt-5">
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <div class="card rounded">
            <mat-horizontal-stepper [linear]="true" #stepper>
                <!--Comienza los datos personales primer step-->
<!--                <mat-step>-->
                <mat-step [stepControl]="datosPersonales" [editable]="true">
                    <ng-template matStepLabel>Personales</ng-template>
                    <form [formGroup]="datosPersonales">
                        <div id="test-l-1" class="content">
                            <hr class="separador">
                            <div class="form-group">
                                <div id="datosConductor" class="form-row mt-0 mt-lg-2">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pb-1 pb-lg-3">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Nombre(s)</label></mat-label>
                                            <input (focusout)="updateData(2); calcularRfc()" name="nombre" id="nombre" aria-label="Nombre del cliente"
                                                   maxlength="25" type="text" placeholder="Nombres" matInput formControlName="nombre"
                                                   [ngClass]="{'is-valid-d': (!datos_personales.nombre.errors && datos_personales.nombre.dirty),
                                                   'is-invalid': datos_personales.nombre.errors && submitted || datos_personales.nombre.errors && datos_personales.nombre.dirty}"
                                                   class="form-control inputlleno input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.nombre.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El nombre es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Apellido Paterno</label></mat-label>
                                            <input (focusout)="updateData(2); calcularRfc();testCurp()" placeholder="Apellido paterno" matInput formControlName="aPaterno" name="ApellidoPat"
                                                   id="ApellidoPat" aria-label="Apellido paterno" maxlength="25" type="text"
                                                   [ngClass]="{'is-valid-d': (!datos_personales.aPaterno.errors && datos_personales.aPaterno.dirty),
                                                   'is-invalid': datos_personales.aPaterno.errors && submitted || datos_personales.aPaterno.errors && datos_personales.aPaterno.dirty}"
                                                   class="form-control inputlleno input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.aPaterno.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Apellido Paterno es obligatorio
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Apellido Materno</label></mat-label>
                                            <input (focusout)="updateData(2); calcularRfc();testCurp()" placeholder="Apellido materno" name="ApellidoMat" matInput formControlName="aMaterno"
                                                   id="ApellidoMat" aria-label="Apellido materno" maxlength="25" type="text"
                                                   [ngClass]="{'is-valid-d': (!datos_personales.aMaterno.errors && datos_personales.aMaterno.dirty),
                                                   'is-invalid': datos_personales.aMaterno.errors && submitted || datos_personales.aMaterno.errors && datos_personales.aMaterno.dirty}"
                                                   class="form-control inputlleno input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.aMaterno.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Apellido Materno es obligatorio
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Fecha de nacimiento</label></mat-label>
                                            <input (focusout)="updateData(2); calcularRfc();testCurp()" type="date" class="form-control" [maxLength]="10"
                                                   [ngClass]="{'is-valid-d': (!datos_personales.fechaNacimiento.errors && datos_personales.fechaNacimiento.dirty),
                                                   'is-invalid': datos_personales.fechaNacimiento.errors && submitted || datos_personales.fechaNacimiento.errors && datos_personales.fechaNacimiento.dirty}"
                                                   maxlength="10" name="trip-start" placeholder="MM.dd.yyyy" matInput formControlName="fechaNacimiento" />
                                            <mat-error *ngIf="datos_personales.fechaNacimiento.errors">
                                                <small class="form-text text-danger ml-2">
                                                    La Fecha de Nacimiento es obligatorio
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Entidad de Nacimiento</label>
                                            </mat-label>
                                            <mat-select id="nacimientoEstado" name="nacimientoEstado" (selectionChange)="calcularRfc();
                                            updateData(2)" required="required" formControlName="nacimientoEstado" class="selected-g">
                                                <mat-option *ngFor="let estado of estadosNacimiento" value="{{estado.value}}">{{estado.text}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="datos_personales.nacimientoEstado.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Estado es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Teléfono</label></mat-label>
                                            <input (focusout)="updateData(2)" name="telefono" id="telefono" maxlength="10" formControlName="telefono" aria-label="(55-55-55-55-55)" type="text" placeholder="(55-55-55-55-55)" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.telefono.errors && datos_personales.telefono.dirty), 'is-invalid': datos_personales.telefono.errors && submitted || datos_personales.telefono.errors && datos_personales.telefono.dirty}"
                                                   class="form-control input" aria-required="true" aria-invalid="false" (keypress)="numberOnly($event)">
                                            <mat-error *ngIf="datos_personales.telefono.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El teléfono es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">Email</label></mat-label>
                                            <input (focusout)="updateData(2)" name="email" aria-label="Numero interior" maxlength="50" type="text" formControlName="correo" placeholder="Email" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.correo.errors && datos_personales.correo.dirty), 'is-invalid': datos_personales.correo.errors && submitted || datos_personales.correo.errors && datos_personales.correo.dirty}"
                                                   class="form-control input">
                                            <mat-error *ngIf="datos_personales.correo.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El Email es requerido en formato correcto.
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">RFC</label></mat-label>
                                            <input (focusout)="updateData(2)" (click)="calcularRfc()" formControlName="rfc" name="RFC" id="RFC" maxlength="13" aria-label="RFC" type="text" placeholder="RFC" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.rfc.errors && datos_personales.rfc.dirty), 'is-invalid': datos_personales.rfc.errors && submitted || datos_personales.rfc.errors && datos_personales.rfc.dirty}"
                                                   class="form-control input" aria-required="true" aria-invalid="false">
                                            <mat-error *ngIf="datos_personales.rfc.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El RFC es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                        <mat-form-field>
                                            <mat-label><label class="txtlab">CURP</label></mat-label>
                                            <input (focusout)="updateData(2)" name="curp" id="curp" aria-label="curp" maxlength="50" type="text" formControlName="curp" placeholder="CURP" required="required" matInput [ngClass]="{'is-valid-d': (!datos_personales.curp.errors && datos_personales.curp.dirty), 'is-invalid': (datos_personales.curp.errors && datos_personales.curp.dirty)}"
                                                   class="form-control input">
                                            <mat-error *ngIf="datos_personales.curp.errors">
                                                <small class="form-text text-danger ml-2">
                                                    El curp es requerido
                                                </small>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <button mat-button matStepperNext (click)="changeStatusEmisionNext('clientData')" class="btn btn-lg btn-primary float-right btn-blocky font-weight-bold btn-sig">
                                    Siguiente
                                </button>
                            </div>
                        </div>
                    </form>
                </mat-step>

                <!--Direccion del contratante-->
<!--                <mat-step>-->
                <mat-step [stepControl]="datosDireccion" [editable]="true">
                    <ng-template matStepLabel>Dirección</ng-template>
                    <form [formGroup]="datosDireccion">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Estado | Ciudad</label></mat-label>
                                    <input (focusout)="updateData(3)" type="text" matInput formControlName="estadoMun" readonly="readonly" class="form-control" aria-required="true" aria-invalid="false">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Selecciona tu colonia</label></mat-label>
                                    <mat-select  *ngIf="emisionRequest.aseguradora != 'AFIRME'" id="estado" name="estado" required="required" formControlName="colonia" class="selected-g" (selectionChange)="updateData(3)">
                                        <mat-option *ngFor="let colonia of colonias" [value]="(colonia.asenta)?colonia.asenta:colonia.descripcion">
                                            {{(colonia.asenta)?colonia.asenta:colonia.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-select  *ngIf="emisionRequest.aseguradora === 'AFIRME'" id="estado2" name="estado" required="required" formControlName="colonia" class="selected-g" (selectionChange)="updateData(3)">
                                        <mat-option *ngFor="let colonia of cAfirme" [value]="colonia.idColonia">
<!--                                        <mat-option *ngFor="let colonia of cAfirme" [value]="(colonia.nombreColonia)?colonia.nombreColonia +'-'+ colonia.idColonia:''">-->
                                            {{(colonia.nombreColonia)?colonia.nombreColonia:'hola'}}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error *ngIf="datos_direccion.colonia.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Estado es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 pb-1 pb-lg-3">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Calle</label></mat-label>
                                    <input (focusout)="updateData(3)" formControlName="calleNum" matInput name="Calle" id="Calle" aria-label="Calle" maxlength="150" type="text" placeholder="Calle" required="required" class="form-control input" aria-required="true" aria-invalid="false" style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Calle es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número Exterior</label></mat-label>
                                    <input (focusout)="updateData(3)" name="NoExt" id="NoExt" matInput aria-label="No. Exterior" maxlength="5" type="text" formControlName="numero" placeholder="No. Exterior" required="required" class="form-control input" aria-required="true" aria-invalid="false">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número Exterior es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número Interior</label></mat-label>
                                    <input (focusout)="updateData(3)" name="NoInt" id="NoInt" matInput aria-label="Numero interior" formControlName="numInterior" maxlength="5" type="text" placeholder="No. interior" class="form-control input">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <button mat-button matStepperPrevious (click)="changeStatusEmisionBack('addressData')" class="btn btn-secondary float-left btn-blocky font-weight-bold btn-sig">
                                Anterior
                            </button>
                            <button mat-button matStepperNext (click)="changeStatusEmisionNext('addressData')" class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig">
                                Siguiente
                            </button>
                        </div>
                    </form>
                </mat-step>

                <!--Form de de Veiculo solo placa o placa invalida-->
<!--                <mat-step>-->
                                    <mat-step [stepControl]="datosVehiculo" [editable]="true">
                    <ng-template matStepLabel>Vehiculo</ng-template>
                    <form [formGroup]="datosVehiculo">
                        <div class="row" style="  justify-content: center;">
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número de Placas</label></mat-label>
                                    <input (focusout)="validDataVehiculo(); updateData(4);" name="NoPlacas" id="NoPlacas" matInput aria-label="Placas"
                                           maxlength="7" minlength="5" formControlName="placa" type="text" value="" placeholder="Placas" required="required" class="form-control input"
                                           aria-required="true" value="" aria-invalid="false"
                                           style="text-transform: uppercase">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Placas es requerido
                                        </small>
                                    </mat-error>

                                    <mat-error *ngIf="this.numeroValido === true">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Placas es correcto favor de continuar
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="numeroValido === false">
                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">
                                <mat-form-field>
                                    <mat-label><label class="txtlab">Número de Serie</label></mat-label>
                                    <input (focusout)="validDataVehiculo(); updateData(4);" name="NoSerie" id="NoSerie" matInput aria-label="No. Serie" maxlength="20" formControlName="niv" type="text" value="" placeholder="No. Serie" class="form-control input" aria-required="true" aria-invalid="false">
                                    <mat-error *ngIf="datos_personales.curp.errors">
                                        <small class="form-text text-danger ml-2">
                                            El Número de Serie es requerido
                                        </small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!--                            <div class="col-12 col-sm-6 pb-1 pb-lg-3s">-->
                            <!--                                <mat-form-field>-->
                            <!--                                    <mat-label><label class="txtlab">Número de Motor</label></mat-label>-->
                            <!--                                    <input (focusout)="validDataVehiculo(); updateData(4);" name="NoMotor" id="NoMotor"-->
                            <!--                                           matInput aria-label="No. motor" maxlength="20" type="text" formControlName="motor" value="{{numeroMotor}}"-->
                            <!--                                           placeholder="No. motor" required="required" class="form-control input" aria-required="true" aria-invalid="false">-->
                            <!--                                    <mat-error *ngIf="datos_personales.curp.errors">-->
                            <!--                                        <small class="form-text text-danger ml-2">-->
                            <!--                                            El Número de Motor es requerido-->
                            <!--                                        </small>-->
                            <!--                                    </mat-error>-->
                            <!--                                </mat-form-field>-->
                            <!--                            </div>-->
                        </div>
                        <div class="col-12 mt-2">
                            <button mat-button matStepperPrevious (click)="changeStatusEmisionBack('vehiculoData')" class="btn btn-secondary float-left btn-blocky font-weight-bold btn-sig" *ngIf="actionEmiterDataVehiculo === 'false'">
                                Anterior
                            </button>
                            <!--                            <button mat-button matStepperNext (click)="showMessage(); changeStatusEmisionNext('vehiculoData')" *ngIf="!useTerminalVirtual" [disabled]="actionEmiterDataVehiculo==='true'?'false':'true'" class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig">-->
                            <button mat-button matStepperNext class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig">
                                Formas de pago
                            </button>
                            <button mat-button matStepperNext class="btn btn-primary float-right btn-blocky font-weight-bold btn-sig" *ngIf="useTerminalVirtual">
                                Emitir
                            </button>
                        </div>
                    </form>
                </mat-step>

                <!--              Pregunta de Forma de pago-->
<!--                <mat-step>-->
                <mat-step [editable]="true">
                    <ng-template matStepLabel>Forma de pago</ng-template>
                    <div class="formas-pago">
                        <div class="otros-medios">
                            <button id="show-btn"  (click)="emitirSinPago(); actionMethod($event)"  class="btn btn-lg btn-outline-info font-weight-bold">
                                Otros medios de pago
                            </button>
                        </div>
                        <div class="text-pago">
                            <p class="font-weight-bolder" >ó</p>
                        </div>
                        <div class="cobro-pago">
                            <!--                           &nbsp;&nbsp;&nbsp;&ndash;&gt;-->
                            <button  matStepperNext (click)="pagoAfirme(); changeStatusEmisionNext('paymentMethods'); updateData(9)" [disabled]="buttonEmisionInteraccion" class="btn btn-lg btn-primary float-right font-weight-bold btn-sig">
                                Cobro con TDD y TDC
                            </button>
                        </div>
                    </div>
                </mat-step>

                <!--forma de pagoPrueba-->
<!--                <mat-step>-->
                <mat-step [stepControl]="datosPago" [editable]="true" *ngIf="!useTerminalVirtual">
                    <ng-template matStepLabel>Pago</ng-template>
                    <div class="alert alert-primary" role="alert">
                        <div *ngIf="(emisionWithoutPaid && aseguradoraSelected.toUpperCase() === 'AFIRME')">
                            <label>Detalles de la poliza:</label>
                            <div><p>Número de póliza :{{poliza.length > 0?poliza:'Dato no Disponible'}}</p></div>
                            <a type="button" class="btn btn-outline-secondary mr-4" href="{{documentos}}" target="_blank"> Descargar Poliza</a>
                            <a type="button" class="btn btn-outline-secondary " href="{{terminalExterna}}" target="_blank"> Terminal Virtual</a>
                        </div>
                    </div>

                    <form [formGroup]="datosPago">
                        <div class="row">
                            <div class="col-12">
                                <iframe [src]="urlLinkDePago" width="100%" height="600px" style="margin-block: 25px;"></iframe>
<!--                                <iframe src="" width="100%" height="600px" style="margin-block: 25px;"></iframe>-->
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary btn-lg" (click)="continuarGracias()">
+                                    Terminar Proceso una vez finalizado el pago
                                </button>
                            </div>
                        </div>

                        <!--                        </div>-->
                    </form>
                </mat-step>

            </mat-horizontal-stepper>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <resume-pay *ngIf="aseguradoraSelected && commonRequest" [commonRequest]="commonRequest" [aseguradoraSelected]="aseguradoraSelected"></resume-pay>
    </div>
</div>
