<div class="container-fluid" style="background-image:url('assets/images/login/login-back.png');background-size:contain;background-repeat:no-repeat;">
    <div class="row">
        <div class="logoFlot">
            <img class="logoLOGIN" src="assets/images/logosgo/go-blanco.svg" alt="logotipo GO">
        </div>
        <div class="ovrfl d-none d-md-block d-lg-block">
            <img src="assets/images/login/businessman-login.png" alt="imagen GO" class="imgGOlogin">
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-6 col-lg-5 offset-md-4 px-3 py-5 mt-5">
            <div class="card mt-4">
                <div class="card-body bg-white shadow border-0 rounded-go">



                    <form id="login" class="ng-untouched ng-pristine ng-valid px-4 pt-4" [formGroup]="formForgot" (ngSubmit)="forgot()">
                        <h1 class="font-weight-bold text-muted mb-4">Recuperar Contraseña</h1>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <input class="form-control py-4 rounded-go" name="username" aria-label="usuario" type="text" formControlName="username" placeholder="Usuario/GO ID" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <show-hide-password size="lg" [btnOutline]="false">
                                    <input class="form-control py-4 rounded-go" name="password" aria-label="Ingresa tu contraseña" formControlName="password" type="password" placeholder="Ingresa tu contraseña" />
                                </show-hide-password>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <show-hide-password size="lg" [btnOutline]="false">
                                    <input class="form-control py-4 rounded-go" name="passwordconfirm" aria-label="Confirma tu Contraseña" formControlName="passwordconfirm" type="password" placeholder="Confirma tu contraseña" />
                                </show-hide-password>
                            </div>
                        </div>
                        <div class="d-block m-auto text-center">
                            <button class="btn btn-primary font-weight-bold py-2 btn-block my-3 display-3" type="submit">Recuperar <img src="assets/images/login/chevron_right.svg" alt="icon" width="25" height="25" /></button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>
