<div class="row page-titles mx-0">
    <div class="col-12 p-md-0">
        <h3 class="col-auto font-weight-bold p-0">
            <strong>Cotización Seguro de Auto</strong>
        </h3>
    </div>
    <div class="col-12 p-md-0 justify-content mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </li>
            <li class="breadcrumb-item active"><a [routerLink]="['/admin/cotiza-go/']">Cotiza GO</a></li>
            <li style="margin-left: 18px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>  
            </li>
            <li class="breadcrumb-item active"><a [routerLink]="['/admin/cotiza-go/particular/']">particular</a>
            </li>
        </ol>
    </div>
</div>
<div class="row page-titles mx-0">
    <div class="col-12 col-md-12 p-md-0">
        <button (click)="recotizar(false)" class="btn btn-rounded btn-danger text-right" style="position:absolute;right:5%;top:-2%;z-index:1;">Recotizar
        </button>
        <hr> {{ message }}
        <a *ngIf="polizaURL" href="{{ polizaURL }}" target="_blank">Poliza</a>
    </div>
</div>
