<div class="container-fluid">
    <div *ngIf="user">
        <div class="row page-titles mx-0">
            <div class="col-12 p-md-0 go-margin-top my-lg-4">
                <div class="welcome-text">
                    <h4 class="font-weight-bold">Bienvenido {{user.nombre}}</h4>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-11 mx-auto col-md-12 ">
                <div class="profile card card-body px-3 pt-3 pb-0">
                    <div class="profile-head">

                        <div class="profile-info">
                            <div class="profile-photo">
                                <img src="assets/images/perfil.png" class="rounded-circle bg-white" style="width:150px;height:150px;" alt="perfil">
                            </div>
                            <div class="profile-details">
                                <div class="profile-name px-3 pt-2">
                                    <h4 class="text-primary mb-0">{{user['nombre']}} {{user['apellidoPaterno']}} {{user['apellidoMaterno']}}</h4>
                                    <p>Agente GO</p>
                                    <p>GO ID: <strong> {{user['goId']}}</strong></p>
                                    <!--<p>ID GO AGENTES DIGITALES: <strong>ID_{{user['id']}}</strong></p>-->
                                    <p>EMAIL: <strong>{{user['correo']}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-md-4">
                          <ul class="d-md-flex pl-2">
<!--                              <li> <a class="btn btn-md-primary" (click)="cambiarImagen=true"><i class="fa fa-user-circle text-primary mr-2"></i> Cambiar imagen</a> </li>-->
                              <li> <a class="btn btn-md-primary" (click)="mostrarCambioPass=true"><i class="fa fa-user-circle text-primary mr-2"></i> Cambiar contraseña</a> </li>
                            <li> <a class="btn btn-md-secondary"><i class="fa fa-question-circle text-info mr-2"></i> Ayuda</a> </li>
                            <li> <a href="#" class="btn btn-md-info"><svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Cerrar Sesión</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" *ngIf="mostrarCambioPass">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Cambiar contraseña</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="lead">Aquí puedes cambiar tu contraseña:</p>
                            <form action="" class="row">
                                <div class="col-12 my-2">

                                    <input class="form-control form-control-lg" type="password" placeholder="Contraseña anterior">
                                </div>
                                <div class="col-12 my-2">

                                    <input class="form-control form-control-lg" type="password" placeholder="Nueva Contraseña">
                                </div>
                                <div class="col-12 col-md-6">
                                    <button class="btn btn-link m-auto d-block" (click)="mostrarCambioPass=false">Cancelar</button>
                                </div>
                                <div class="col-12 col-md-6">
                                    <button class="btn btn-primary m-auto d-block">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" *ngIf="cambiarImagen">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Cambiar contraseña</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <p class="lead">Aquí puedes cambiar tu contraseña:</p>
                            <form action="" class="row">
                                <div class="col-12 my-2">

                                    <input class="form-control form-control-lg" type="password" placeholder="Contraseña anterior">
                                </div>
                                <div class="col-12 my-2">

                                    <input class="form-control form-control-lg" type="password" placeholder="Nueva Contraseña">
                                </div>
                                <div class="col-12 col-md-6">
                                    <button class="btn btn-link m-auto d-block" (click)="mostrarCambioPass=false">Cancelar</button>
                                </div>
                                <div class="col-12 col-md-6">
                                    <button class="btn btn-primary m-auto d-block">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
