.modalHeader{
    background-color: #009FFF;
}
.modal-title{
    color: whitesmoke;
}
.close span{
    color: whitesmoke;
}
.bg-input{
    border-radius: 20px;
    background-color: #EEF2F5;
    color:#0F5563;
    font-weight: bolder;
    text-align: center;
}
.pdf{fill: red;}

.aviso{
    width: 50%;
    border: #00aeef;
    background-color: #00aeef;
    border-style: solid;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 2em;
    color: white;
}
.size-icon{
    cursor: pointer;
    width: 35px;
}
