<ng-template #content let-modal>
    <div class="modal-header modalHeader">
        <h4 class="modal-title font-weight-bolder " id="modal-basic-title">{{titulo}}</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="titulo !== 'RECIBO DE PAGO' ">
            <div class="d-flex justify-content-center" *ngIf="url === 'sin valor'">
                <h1>No hay archivo por mostrar</h1>
            </div>
            <div class="d-flex justify-content-end" *ngIf="url!== 'sin valor'">
                <a target="_blank" download="{{titulo}}.pdf" href="{{url}}" class="btn btn-primary font-weight-bolder">
                    DESCARGAR {{titulo}}</a>
            </div>
        </div>
        <div *ngIf="titulo === 'RECIBO DE PAGO'">
            <div>
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                     data-bs-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item " *ngFor="let recibo of recibos; index as i;"
                             [ngClass]="{'active':recibo['numero']=='1','':recibo['numero']>='2'}">
                            <div class="d-flex justify-content-end">
                                <div *ngIf="recibo.archivo!== null">
                                    <a target="_blank" download="{{titulo}}.pdf" href="{{recibo.archivo}}"
                                       title="Descargar recibo de pago">
                                        <img class="size-icon" src="assets/images/recibo.svg"
                                             alt="Subir recibo de pago">
                                    </a>
                                </div>
                                <div *ngIf="recibo.archivo === null">
                                    <label>
                                        <img class="size-icon" src="assets/images/descargar.svg"
                                             title="Subir recibo de pago">
                                        <input type="file" hidden
                                               (change)="cargarRecibo($event,recibo.id,recibo.numero)"/>
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex ">
                                <div class=" col-6 mb-3">
                                    <label class="form-label text-center font-weight-bolder">Número de recibo</label>
                                    <input type="text" class="form-control bg-input "
                                           value="{{recibo.numero}} de {{recibos.length}}" readonly>
                                </div>
                                <div class="col-6 mb-3">
                                    <label class="form-label font-weight-bolder">Estado</label>
                                    <input type="text" class="form-control bg-input " value="{{recibo.estado}}"
                                           readonly>
                                </div>
                            </div>
                            <div class="d-flex ">
                                <div class=" col-6 mb-3">
                                    <label class="form-label font-weight-bolder">Cantidad a pagar</label>
                                    <input type="text" class="form-control bg-input "
                                           value="{{recibo.cantidad | currency}}" readonly>
                                </div>
                                <div class="col-6 mb-3">
                                    <label class="form-label font-weight-bolder">Número de póliza</label>
                                    <input type="text" class="form-control bg-input " value="{{recibo.poliza}} "
                                           readonly>
                                </div>
                            </div>
                            <div class="d-flex ">
                                <div class=" col-6 mb-3">
                                    <label class="form-label font-weight-bolder">Fechas vigencia</label>
                                    <input type="text" class="form-control bg-input "
                                           value="{{recibo.fechaVigencia |date:'short'  }}" readonly>
                                </div>
                                <div class="col-6 mb-3">
                                    <label class="form-label font-weight-bolder">Agente</label>
                                    <input type="text" class="form-control bg-input "
                                           value="{{recibo.nombre}} {{recibo.apellidoPaterno}} {{recibo.apellidoMaterno}}"
                                           readonly>
                                </div>
                            </div>
                            <div class="d-flex " *ngIf="recibos.estadoPago ==! null"
                                 style="width: 40%; margin: 0px auto">
                                <!--                            <div class="d-flex "  style="width: 40%; margin: 0px auto">-->
                                <div class="d-flex justify-content-around col-12 w-50 aviso">
                                    <img src="assets/images/check2.svg"/>
                                    <span>Pagado</span>
                                    <span>{{recibos.fechaPago}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button class="border-0" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span aria-hidden="true"><img style="transform: rotate(-180deg)"
                                                      src="assets/images/chevron-right.svg"></span>
                    </button>
                    <button class="border-0" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next" >
                        <span aria-hidden="true"> <img src="/assets/images/chevron-right.svg"> </span>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="titulo !== 'RECIBO DE PAGO'">
            <pdf-viewer
                    [src]="url"
                    [rotation]="0"
                    [fit-to-page]="true"
                    [original-size]="false"
                    [show-all]="true"
                    style="display: block;"
            ></pdf-viewer>
        </div>

    </div>
</ng-template>
<img class="size-icon" src="assets/images/{{icono}}" title="{{titulo}}" width="35" height="30" (click)="open(content)"/>

