<div class="container-fluid my-5">
    <div class="row page-titles mx-0 go-margin-top">
        <div class="col-12 p-md-0">
            <div class="welcome-text">
                <h4 class="font-weight-bold">Manual Portal Agente GO</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item " *ngFor="let img of imgPortalGO" [ngClass]="{'active':img['orden']=='1','':img['id']>='2'}">
                        <img src="{{img.ruta}}" class="d-block w-100" alt="capacitacion">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden d-none d-md-block">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="visually-hidden d-none d-md-block">Siguiente</span>
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-6 offset-md-3 my-2 my-md-4">
            <a download href="assets/images/pdfs/capacitacion/portal-go/manual_go_agentes_digitales.pdf" class="btn btn-primary btn-block"> DESCARGAR PDF</a>
        </div>
    </div>
</div>