<div class="col-12" >
    <div class="container-fluid">
        <div class="row bg-white mb-3 go-t-m">
            <div class="col-3 col-md-2">
                    <a [routerLink]="['/admin/dashboard/principal']" routerLinkActive="active">
                        <img class="my-3 img-fluid" src="assets/images/logosgo/go-color.svg" alt="logo" width="auto" height="45px">
                    </a>
            </div>
                <div class="col-2 col-md-2 col-lg-1 d-block d-lg-none" (click)="eventLocal(toggleMenu = !toggleMenu)" style="cursor:pointer;">
                <nav class="navbar navbar-expand-lg">
                    <div class="navbar header-left" [ngClass]="{ 'navbar-mobile': (scrWidth <= GENERALSE.responsive.width) }">
                        <div class="hamburger" >
                            <span class="line"></span><span class="line"></span><span class="line"></span>
                            <small style="font-size:10px;">MENU</small>
                        </div>
                    </div>
                </nav>
            </div> 
            
            <sidebarleft class="col-md-5 pt-3 d-none d-lg-block"></sidebarleft>
            <div class="col-7 col-md-3 pt-3 d-none d-lg-block">
                <a class="btn-tel py-3" href="tel:5588902564">
                        <img src="assets/images/go-btn.svg" alt="telefono" width="212" height="60">
                </a>
            </div>
            <div class="col-md-2 d-none d-lg-block">
                <ul class="navbar-nav header-right mx-4-lg mx-4-md mx-2-sm" style="flex-direction:inherit;">
                    <li class="nav-item dropdown header-profile pt-2" >
                        <a class="nav-link margen d-none d-md-flex" role="button" data-toggle="dropdown">
                            <div class="header-info d-none d-md-block" *ngIf="user" >
                                <span style="font-weight:bold;">Hola <strong>{{user.nombre}} </strong></span>
                            </div>
                            <div class="iniciales"><p>{{iName}}{{iLastName}}</p></div>
                        </a>
                        <div class="menu1" style="margin-left: 9px; background: #F7F9FB;">
                            <ul>
                                <li>
                                    <a (click)="linkLocal('/admin/usuario/perfil')" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                    <circle cx="12" cy="7" r="4"></circle>
                                                </svg>
                                        <span class="ml-2">Perfil </span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="linkLocal('/logOut')" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                                    <polyline points="16 17 21 12 16 7"></polyline>
                                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                                </svg>
                                        <span class="ml-2">Salir </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
