
.go-top {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 80%;
}

.go-alerts {
    position: absolute;
    top: 25px;
    left: 0;
}

.go-alerts:hover .go-wrapper-alert-message {
    display: block;
}

.go-wrapper-alert-message {
    display: none;
    padding: 10px;
    position: absolute;
    top: 30px;
    left: -160px;
    float: left;
    z-index: 999999999;
    width: 400px;
}

.list-group-item+.list-group-item.active {
    text-align: center !important;
}

.go-alert-messages {
    /* border: 1px solid;
    border-radius: 20px; */
    padding: 5px;
    /* background-color: #ffffff; */
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
    background-color: transparent !important;
}

.mat-fab {
    width: 30px !important;
    height: 30px !important;
}

.mat-fab .mat-button-wrapper {
    padding: 0 !important;
    line-height: 0 !important;
}

.list-group-item {
    padding: 5px 7px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.iniciales{ display: flex; background-color: #0BDEAC;  width: 50px; height: 50px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; justify-content: center; align-items: center}
.iniciales p {font-weight: bolder;  margin-top: 20px }


/* .list-group-item:last-child {
    border-bottom: none;
} */

.navbar-mobile {
    padding: 0.5rem 0rem !important;
}
a.btn-tel{
    z-index:0;
    position: relative;
}
a.btn-tel:hover {
    background-color: #f4f6fd;
}
.bt-num{
    color: #06e0aa;
    font-weight: 700;
}


.menu1{
    display:none;
}
ul li:hover .menu1{
    margin-right:100px;
    margin-top: 120px;
    cursor: pointer;
    display: block;
    position: absolute;
}
.escondermenu{
    display: none;
}



@media (max-width: 960px) {
    .go-alerts {
        left: 12px !important;
    }
}

.go-t-m {
    position: fixed;
    top: 0;
    left: 15px;
    width: 100%;
    z-index: 999;
    /*box-shadow: 0px 1px 1px -1px black;*/
    box-shadow: 2px 0px 1px black;
}
.fondo{
    background: #f4f6fd;
}
.tamanogo{
    max-width:160px;
    height:57px;
    width:100%;
}
/* .margenheader{
    margin-left: 2%;
} */
.centrar-telefono{
    float: left;
    margin-right:15px;
    margin-top: 5px;
}
.img-go-movil{
    display: none;
}
@media (min-width: 1134px) and (max-width: 1456px) {
    .margenheader{
        margin-left: 13%;  
        margin-right: -2%;
    }
}
@media (min-width: 1040px) and (max-width: 1134px) {
    .margenheader{
        margin-left: 17%;  
        margin-right: -2%;
    }
     .escondermenu{
        display: none;
    } 
}
@media (min-width: 1031px) and (max-width: 1040px) {
    .margenheader{
        margin-left: 17%;
        margin-right:-2%; 
    }
    .escondermenu{
        display: none;
    }
}
@media (min-width: 985px) and (max-width: 1030px) {
    .escondermenu{
        display: block;
    }
    .margenheader{
        margin-left: 4%;  
    }
    .margenheader2{
        display: none;
    }
}
@media (min-width: 800px) and (max-width: 985px) {
    .margenheader{
        margin-left: 4%;  
    }
    .margenheader2{
        display: none;
    }
    .btn{
        font-size: .8em;
    }
    .margen{
        margin-left: -5%
    }
    .escondermenu{
        display: block;
    }
}
@media (min-width: 769px) and (max-width: 800px) {
    .margenheader2{
        display: none;
    }
    .tamanogo{
        max-width:160px;
        height:60px;
        width:350%;
    }
    .btn{
        font-size: .8em;
    }
    .margen{
        margin-left: -5%
    }
    .escondermenu{
        display: block;
    }
    .margenheader {
        margin-left: -12%;
    }

}

@media (min-width: 601px) and (max-width: 768px){
    .margenheader2{
        display: none;
    }
    .tamanogo{
        max-width:160px;
        height:60px;
        width:350%;
    }
    .btn{
        font-size: .8em;
    }
    .margen{
        margin-left: -5%
    }
    .escondermenu{
        display: block;
    }
    .margenheader {
        margin-left: -12%;
    }
    .header-right .header-profile>a.nav-link {
        background-color: #ffff;
   
       }

}

@media (min-width:551px) and (max-width: 600px) {
    .header-right .header-profile>a.nav-link {
        padding: 0 0 0 0;
        border-radius: 2rem;

    }
    .tamanogo{
        max-width:160px;
        height:60px;
        width:350%;
    }
    .margenheader2{
        display: none;
    }
    .escondermenu{
        display: block;
    }
    .txtb{
        font-size: 10px;
    }
    .bt-num{
        font-size: 16px;
    }
    .dropdown-menu-flex{
        right: 10px;
    }

    img.my-3 {
        width: 42px !important;
        position: absolute !important;
        top: 0 !important;
        left: 7px !important;
    }
    .go-m-t-mo {
        position: absolute !important;
        float: right !important;
        right: -20px !important;
    }
    .margenheader{
        margin-left: -15%;  
    }
    .header-right .header-profile>a.nav-link {
        background-color: #ffff;
   
       }
}
@media (min-width: 450px)and (max-width: 550px){
    .margenheader{
        margin-left: -30%;  
        display: none;
    }
    .margenheader2{
        display: block;
    }
   
    .escondermenu{
        display: block;
    }
    .navbar{
        padding: -1.5rem 1rem;
    }
    .img-go-movil{
        display: block;
        width: 50px;
    }
    .tamanogo-mv{
        max-width: 160px;
            height: 48px;
            width: 129%;
     
    }
    .header-right .header-profile>a.nav-link {
        background-color: #ffff;
   
       }
  
}
@media (min-width: 400px)and (max-width: 450px){
    .margenheader{
        margin-left: -32%;  
    }
    .quitar-texto{
        display: none;
    }
    .escondermenu{
        display: block;
    }
    .img-go-movil{
        display: block;
        width: 50px;
    }
    .tamanogo-mv{
        max-width: 160px;
            height: 48px;
            width: 129%;
     
    }
    .header-right .header-profile>a.nav-link {
        background-color: #ffff;
   
       }
 

    
}

@media (min-width: 321px) and (max-width: 400px){
    .margenheader{
        margin-left: -32%;  
    }
    .quitar-texto{
        display: none;
    }
    .escondermenu{
        display: block;
    }
    /* .tamanogo-mv{
     display: none;
    } */
    .img-go-movil{
        display: block;
        width: 50px;
    }
    .tamanogo-mv{
        max-width: 160px;
            height: 48px;
            width: 129%;
     
    }
    .header-right .header-profile>a.nav-link {
        background-color: #ffff;
   
       }
}


@media(min-width: 1px) and (max-width: 320px) {
    .img-go-movil{
        display: block;
        width: 58px;
    }
 
    .quitar-texto{
        display: none;
    }
    .txtb {
        font-size: 9px;
    }
    .bt-num{
        font-size: 13px;
    }
    .go-m-t-mo {
        right: 0px !important;
    }
    .escondermenu{
        display: block;
    }
    .tamanogo-mv{
        max-width: 160px;
            height: 48px;
            width: 100%;
     
    }
    .header-right .header-profile>a.nav-link {
        background-color: #ffff;
   
       }
   
}
