<div>
    <div class="row page-titles mx-0">
        <div class="col-12 p-md-0">
            <h3 class="col-12 font-weight-bold p-0">
                <span class="start-100 translate-middle badge barat">Cotizaciones de Autos</span>
            </h3>
        </div>
        <div class="col-12 p-md-0 justify-content mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item active"><a [routerLink]="['/admin/dashboard/principal']">Oficina Virtual</a></li>
                
                <li style="margin-left: 18px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item active"><a [routerLink]="['/admin/cotizaciones']">Mis Cotizaciones</a>
                </li>
                
                <li style="margin-left: 18px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item active"><a [routerLink]="['/admin/cotizaciones/cotizacionesAutos']">
                    Cotizaciones Autos
                </a>
                </li>
            </ol>
        </div>
    </div>
    <ul class="p-0" *ngIf="!loaderGo">
        <li>
            <div class="card card-body border-dark">
                <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="table is-striped table-hover is-fullwidth headerfont go-m-table" style="z-index: 3; position: relative">
                    <ng-container matColumnDef="marca">
                        <mat-header-cell *matHeaderCellDef class="go-m-insurance "> <!--ASEGURADORA--> </mat-header-cell>
                        <mat-cell *matCellDef="let element; let index = index" data-label="" class="flotar col-12 col-md-3 vchica go-m-insurance" >
                            <div class="py-3 text-center cuad1"><!--style="padding: 20px 0; text-align: center !important;width: 12rem;" -->
                                <div class="go-insurance2">
                                    <p class="mt-0 centrar " style="width:100px; padding-bottom: 10px "> ID : {{element.id}}</p>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="modelo">
                        <mat-header-cell *matHeaderCellDef class="go-m-goCost" > <!--COSTO GO AGENTES--> </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index" data-label="" class="flotar col-8 col-md-3 vchica go-m-goCost">
                            <div>
                                <div class="media-body">
                                    <ul class="pl-2 text-center text-md-left">
                                        <li><small>CP   : {{element.peticion.cp}}</small></li>
                                        <li><small>EDAD : {{element.peticion.edad}}</small></li>
                                        <li><small>GENERO : {{element.peticion.genero}}</small></li>
                                    </ul>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="movimiento" class="d-none d-md-block">
                        <mat-header-cell *matHeaderCellDef class="go-m-materialDamage"> <!--DAÑOS MATERIALES--> </mat-header-cell>
                        <div>
                            <mat-cell *matCellDef="let element" data-label="Coberturas" class="flotar col-12 col-md-3 d-none d-md-block" >
                                <div>
                                    <div class="media-body">
                                        <ul class="pl-2 text-center text-md-left">
                                            <li><small>{{element.peticion.marca | uppercase}}</small></li>
                                            <li><small>{{element.peticion.modelo | uppercase}}</small></li>
                                            <li><small>{{element.peticion.descripcion | uppercase}}</small></li>
                                            <li><small>{{element.peticion.detalle | uppercase}}</small></li>
                                        </ul>
                                    </div>
                                </div>
                            </mat-cell>
                        </div>
                    </ng-container>
                    <ng-container matColumnDef="emitir">
                        <mat-header-cell *matHeaderCellDef class="go-m-goCost">  </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="" class=" col-12 col-md-3 go-m-goCost">
                            <div class="mx-auto" style="cursor: pointer">
                                <div class="media-body">
                                    <p class="mt-0 centrar " style="width:100px; padding-bottom: 10px " *ngIf="element.respuesta.length !== 1">{{(element.respuesta.length > 1 ? 'MULTI' : element.respuesta.length === 0 ? 'S/C' :'PARTICULAR') }}</p>
                                    <div class="go-insurance2" *ngIf="element.respuesta.length === 1">
                                        <img src="assets/images/aseguradoras-multi/{{ element.peticion.aseguradora | uppercase }}.png " class="mt-0 centrar " style="width:100px; padding-bottom: 10px ">
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="expandedDetail">
                        <mat-cell *matCellDef="let detail" class="">
                            <app-tabla-cotiza [coverage]="detail" [aseg]="detail"></app-tabla-cotiza>
                        </mat-cell>
                    </ng-container>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded]="expandedElement == row" (click)="highlight(row); expandedElement = row"></mat-row>
                    <mat-row *matRowDef="let row; columns: ['expandedDetail']" [@detailExpand]="(row == expandedElement) ? 'expanded' : 'collapsed'" style="overflow: hidden"></mat-row>
                </mat-table>
                <div class="row">
                    <div class="col-sm-12 col-md-4 text-center text-md-end ">
                        <button class="btn btn-primary" (click)="cotizacionesPrincipal(-1)" [disabled]="(aumentar===0)">Anterior</button>
                    </div>
                    <div class="col-sm-12 col-md-4 text-center">Pagina {{aumentar + 1}}</div>
                    <div class="col-sm-12 col-md-4 text-center text-md-start">
                        <button class="btn btn-primary" (click)="cotizacionesPrincipal(+1)" [disabled]="this.desabilitaBtn === true">Siguiente
                        </button>
                    </div>

                </div>
            </div>
        </li>
    </ul>
    <loader *ngIf="loaderGo" class="tamanoLoader overlayLeo" style="position: fixed !important;"></loader>
</div>
