<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>
<!--<div class="input-group mb-3">-->
<!--    <input class="form-control d-block mx-auto" (keyup)="applyFilter($event)" placeholder="busqueda General" #input >-->
<!--    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" #inputTexto>-->
<!--    <div class="input-group-append">-->
<!--        <button class="btn btn-outline-secondary" type="button" (click)="buscarPoliza(inputTexto.value)">Button</button>-->
<!--    </div>-->
<!--</div>-->

<div class="row">
    <div class="col-12">
        <ul class="p-0">
            <li>
                <div class="card card-body border-dark">
                    <div class="row">
                        <div class="col">
                            <input matInput class="form-control d-block mx-auto" #filter (keyup)="applyFilter(filter.value)" placeholder="buscar por : poliza, email, cliente" #input style="margin: 20px; width: 50%">
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-striped table-hover">
                        <!-- Position Column -->
                        <ng-container matColumnDef="idCotizacion">
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> Poliza </th>
                            <td mat-cell *matCellDef="let element"> {{element.registroEmision.poliza || 'Sin poliza'}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="aseguradora">
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> Aseguradora </th>
                            <td mat-cell *matCellDef="let element"> {{element.peticion.aseguradora}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="cliente">
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> Cliente </th>
                            <td mat-cell *matCellDef="let element">
                                {{element.registroEmision.nombreCliente | uppercase}}
                                <!-- {{element.registroEmision.cliente.apellidoPat | uppercase}}
                                {{element.registroEmision.cliente.apellidoMat | uppercase}} -->
                            </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.registroEmision.correo}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="genero" >
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> genero </th>
                            <td mat-cell *matCellDef="let element"> {{(element.peticion.genero == 'MASCULINO' ? 'M' : 'F')}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="rfc">
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> rfc </th>
                            <td mat-cell *matCellDef="let element"> {{element.registroEmision.rfc || 'Sin dato'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="primaTotal">
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> Prima Total </th>
                            <td mat-cell *matCellDef="let element"> {{(element.registroEmision.primaTotal | currency) || 'Sin dato'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="periodicidadDePago">
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> Pago </th>
                            <td mat-cell *matCellDef="let element"> {{element.registroEmision.periodicidadDePago || 'Sin dato'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="paquete">
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> paquete </th>
                            <td mat-cell *matCellDef="let element"> {{element.peticion.paquete}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="detalle">
                            <th mat-header-cell *matHeaderCellDef class="centrarTexto"> detalle </th>
                            <td mat-cell *matCellDef="let element"> {{element.peticion.detalle}}
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
                            <td mat-cell *matCellDef="let element" style=" width: 10%">
                                <div *ngIf="(element.registroEmision.documento != '')">
                                    <mat-icon matTooltip="descargar póliza"
                                              style="cursor: pointer" class="material-icons" (click)="eventoDescargar(element.registroEmision.documento)" mat-raised-button>
                                        sim_card_download
                                    </mat-icon>
                                </div>


                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No se encuentra el dato {{input.value}}"</td>
                        </tr>
                    </table>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 text-center text-md-end ">
                            <!--                        <button class="btn btn-primary">Anterior</button>-->
                            <button class="btn btn-primary" (click)="cotizacionesPrincipal(-1)" [disabled]="(aumentar===0)">Anterior</button>
                        </div>
                        <div class="col-sm-12 col-md-4 text-center">Pagina {{aumentar + 1}}</div>
                        <div class="col-sm-12 col-md-4 text-center text-md-start">
                            <!--                        <button class="btn btn-primary">Siguiente-->
                            <button class="btn btn-primary" (click)="cotizacionesPrincipal(+1)" [disabled]="this.desabilitaBtn === true">Siguiente
                            </button>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
