/* Structure */
table {
    width: 100%;
    border-radius: 20px;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.material-icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
th{
    background: #5AE5C0;
    font-size: 16px;
    font-family: AmstelvarAlpha;
    font-style: italic;
    color: white;

}
tbody tr:nth-child(odd) {
    background-color: #ff33cc;
}

tbody tr:nth-child(even) {
    background-color: #e495e4;
}
.centrarTexto{
    text-align: center
}
td{
    font-size: 16px;
    font-family: AmstelvarAlpha;
    font-style: italic;
    text-align: center
}
@media (min-width: 320px) and (max-width: 600px) {
    table {

    }
}
