<!--PDF MULTICOTIZADOR-->
<loader *ngIf="loaderGoEmision" class="tamanoLoader overlayLeoEmitir"></loader>

<div class="container impresion" *ngIf="isReady| async" id="quotation-R" style="z-index:-3;padding:0;position:absolute;background:#fff;/*max-width: 960px;width: 100%;*/width:auto;height:auto;top:0!important;transform:scale(0.8);transform-origin:0 0;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="padding:0px;background:rgba(0,0,0,.03);">
                    <div class="container mx-md-5" >
                        <div class="row">
                            <div class="col-4 col-md-3 p-1 p-md-3">
                                <div class="card" style="box-shadow:0 12px 23px 0 rgb(62 73 84 / 35%)!important;background:#fff;">
                                    <div class="card-body px-1 px-md-3">
                                        <img alt="logos" class="img-fluid m-auto d-block imchica" style="width:auto;height:100px;" src="assets/images/go_pdf_logo.png">
                                        <p class="mb-0 text-center texch">ID SOCIO: {{user['id']}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-md-9 p-1 p-md-3">
                                <div class="card" style="box-shadow:0 12px 23px 0 rgb(62 73 84 / 35%)!important;background:#fff">
                                    <div class="card-body px-1 px-md-3">
                                        <p class="font-weight-bolder mb-0 texch">{{user['nombre']}} {{user['apellidoPaterno']}} {{user['apellidoMaterno']}}</p>
                                        <p class="mb-0 texch">SOCIO ESPECIALIZADO GO</p>
                                        <p class="mb-0 texch">Correo electrónico: {{user['correo']}} </p>
                                        <p class="mb-0 texch">Teléfono: {{user['numeroTelefonico']}} </p>
                                        <p class="mb-1 mb-md-4 texch">Fecha de cotización: {{ currentDate }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class=" col-12 text-center mt-2" style="width: 100%; margin-top: 10px">
                                <p class="lead text-uppercase">
                                    Vehículo Cotizado: {{cotizacion.controls['selectMarca'].value}} {{cotizacion.controls['selectModelo'].value}} {{cotizacion.controls['selectSubmarca'].value}} {{cotizacion.controls['selectDescripcion'].value}}
                                </p>
                                <strong>** COTIZACIÓN EN COBERTURA AMPLIA **</strong>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-body px-md-5" style="background: rgba(0,0,0,.03);" >



                    <div class="row bg-white" *ngFor="let elem of cotizacionResponses">
                        <div class=" col-6 col-md-4 py-3 text-center ">
                            <div *ngIf="elem.aseguradora?elem.aseguradora !== '' : elem.aseguradora !== ''" class="go-insurance2">
                                <img src="assets/images/aseguradoras-multi/{{ elem.aseguradora }}.png " class="mt-0 centrar imglogch" style="width:100px;padding-bottom:10px;transform: scale(1.4)">
                            </div>
                            <div  class="msi cuad1" style="margin: 0px auto" *ngIf="elem.aseguradora | discountInsurance:3:elem.aseguradora.length> 2">Obtén {{ elem.aseguradora | discountInsurance:3:elem.aseguradora }}</div>
                        </div>

                        <div class="col-6 col-md-4 text-center">
                            <img src="assets/images/tarjetas_img/img-cards.png " class="imgtarjetas" width="85" height="24">
                            <h2 class="mb-0">
                                <p class="mb-0 ms-2 ms-md-3 prch" style="text-decoration:line-through;font-size: 14px; color: #a5a3a3;">${{ elem['cotizacion']['cotizacion']['primaTotal'] | discountInsurance:2:elem.aseguradora | number:'3.0-0'}} </p>

                                <strong class="font-weight-bold  text-center pch" style="color: #5E5E5E">${{elem['cotizacion']['cotizacion']['primaTotal'] | number:'3.0-0'}} </strong>
                            </h2>
                            <small class="d-block font-weight-bold text-muted mt-2">ID:{{
                                (elem['cotizacion']['cotizacion']['idCotizacion']) ?
                                    (elem['cotizacion']['cotizacion']['idCotizacion']) : 'N/A' }}</small>

                        </div>

                        <div class="col-12 col-md-4 d-none d-md-block" style="width: 100%; display: flex; justify-content: center">
                            <ul class="pl-2 text-center text-md-left">
                                <li><img class="checkPDF" src="assets/images/check.svg"><small class="font-small">AMPARADA</small></li>
                                <li><img class="checkPDF" src="assets/images/check.svg "><small class="font-small">ROBO TOTAL</small></li>
                                <li><img class="checkPDF" src="assets/images/check.svg "><small class="font-small">DAÑOS DE AUTOMOVIL</small></li>
                                <li><img class="checkPDF" src="assets/images/check.svg "><small class="font-small">DAÑOS A TERCEROS</small></li>
                                <li><img class="checkPDF" src="assets/images/check.svg "><small class="font-small">ASISTENCIA VIAL Y JURIDICA</small></li>
                            </ul>
                        </div>



                    </div>

                </div>
                <div class="card-footer">
                    <div class="d-block m-auto text-center">
                        <span class=" text-center">Esta cotización tiene una vigencia de 5 días naturales, asegura el precio contratando hoy. Aplican restricciones.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>
            <!--  -->
            <div class="mt-5">
                <div class="row" *ngIf="isReady| async">
                    <div class="col-12 mb-4">
                        <!-- <button (click)="showForm()" class="btn btn-rounded btn-danger text-right float-right ">Recotizar
                        </button> -->
                        <button (click)="htmltoPDF()" class="btn btn-rounded btn-info text-right float-right">Descargar Cotizacion
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 offset-md-2">
                        <div id="carouselExampleControls" class="carousel slide d-block m-auto" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" >
                                    <!-- <a href="#" target="_blank" rel="noopener noreferrer"> -->
                                    <img src="{{imagenesMulti}}" alt="First slide" width="1000" height="299" class="d-block m-auto img-fluid">
                                    <!-- </a> -->
                                </div>
                                <div class="carousel-item">
                                    <a href=" https://axakeralty.mx/cotizador-planmed/#/selecciona-tu-plan" target="_blank" rel="noopener noreferrer">
                                        <img src="assets/images/banners/banner-multi.png" alt="Second slide" width="1000" height="299" class="d-block m-auto img-fluid"></a>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden d-none d-md-block">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="visually-hidden d-none d-md-block">Siguiente</span>
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row page-titles mx-0" *ngIf="!(isReady | async)">
                    <div class="col-sm-12 p-md-0 mt-4">
                        <h3 class="font-weight-bold text-center my-3">
                            <strong class="ingresa">Ingresa los datos para cotizar:</strong>
                        </h3>
                    </div>
                </div>
                <div class="mb-5">
                    <div class="col-12 col-md-10 offset-md-1" *ngIf="!(isReady | async)">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <form [formGroup]="cotizacion" (ngSubmit)="onSubmit()" novalidate class="needs-validation">
                                            <div class="row">
                                                <!-- MARCA -->
                                                <div class="col-12 col-md-6 form-group">
                                                    <select formControlName="selectMarca" [ngClass]="{'is-valid': (!multiAseg.selectMarca.errors && multiAseg.selectMarca.dirty), 'is-invalid': multiAseg.selectMarca.errors && submitted || multiAseg.selectMarca.errors && multiAseg.selectMarca.dirty }" class="form-control form-control-lg"
                                                            (change)="getModelos(cotizacion.controls['selectMarca'].value)">
                                                        <option value="">Marca</option>
                                                        <option *ngFor="let marca of marcas" [value]="marca.text">
                                                            {{marca['text']}} </option>
                                                    </select>
                                                    <div *ngIf="submitted && multiAseg.selectMarca.errors" class="invalid-feedback">
                                                        <div *ngIf="multiAseg.selectMarca.errors.required"> La Marca es requerida
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- MODELO -->
                                                <div class="col-12 col-md-6 form-group">
                                                    <select formControlName="selectModelo" [ngClass]="{'is-valid': (!multiAseg.selectModelo.errors && multiAseg.selectModelo.dirty), 'is-invalid': multiAseg.selectModelo.errors && submitted || multiAseg.selectModelo.errors && multiAseg.selectModelo.dirty }"
                                                            (change)="getSubmarcas(cotizacion.controls['selectMarca'].value, cotizacion.controls['selectModelo'].value)" class="form-control form-control-lg">
                                                        <option value="">Modelo</option>
                                                        <option *ngFor="let modelo of modelos" [value]="modelo['text']">
                                                            {{modelo.text}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="submitted && multiAseg.selectModelo.errors" class="invalid-feedback">
                                                        <div *ngIf="multiAseg.selectModelo.errors.required"> El Modelo es requerida
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6 form-group">
                                                    <select formControlName="selectSubmarca" [ngClass]="{'is-valid': (!multiAseg.selectSubmarca.errors && multiAseg.selectSubmarca.dirty), 'is-invalid': multiAseg.selectSubmarca.errors && submitted || multiAseg.selectSubmarca.errors && multiAseg.selectSubmarca.dirty }"
                                                            class="form-control form-control-lg" (change)="getDescripciones(cotizacion.controls['selectMarca'].value, cotizacion.controls['selectModelo'].value, cotizacion.controls['selectSubmarca'].value)">
                                                        <option value="">Submarca</option>
                                                        <option *ngFor="let descripcion of descripciones;let i= index "
                                                                [value]="descripcion['text']">
                                                            {{descripcion.text}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="submitted && multiAseg.selectSubmarca.errors" class="invalid-feedback">
                                                        <div *ngIf="multiAseg.selectSubmarca.errors.required"> La sub marca es requerida
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 form-group">
                                                    <select formControlName="selectDescripcion" [ngClass]="{'is-valid': (!multiAseg.selectDescripcion.errors && multiAseg.selectDescripcion.dirty), 'is-invalid': multiAseg.selectDescripcion.errors && submitted || multiAseg.selectDescripcion.errors && multiAseg.selectDescripcion.dirty }"
                                                            class="form-control form-control-lg" (change)="getDetalles(cotizacion.controls['selectMarca'].value, cotizacion.controls['selectModelo'].value,cotizacion.controls['selectSubmarca'].value,cotizacion.controls['selectDescripcion'].value)">
                                                        <option value="">Descripcion</option>
                                                        <option *ngFor="let subdescripcion of subdescripciones;let i= index "
                                                                [value]="subdescripcion['text']">
                                                            {{subdescripcion.text}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="submitted && multiAseg.selectDescripcion.errors" class="invalid-feedback">
                                                        <div *ngIf="multiAseg.selectDescripcion.errors.required"> La Descripción es requerida
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-md-6 form-group">
                                                    <select formControlName="edad" [ngClass]="{'is-valid': (!multiAseg.edad.errors && multiAseg.edad.dirty), 'is-invalid': multiAseg.edad.errors && submitted || multiAseg.edad.errors && multiAseg.edad.dirty }" class="form-control form-control-lg">
                                                        <option value>Edad del conductor</option>
                                                        <option *ngFor="let edad of edades;let i= index " [value]="edad">
                                                            {{edad}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="submitted && multiAseg.edad.errors" class="invalid-feedback">
                                                        <div *ngIf="multiAseg.edad.errors.required"> La Edad es requerida</div>
                                                    </div>
                                                </div>
                                                <!-- GENERO -->
                                                <div class="col-12 col-md-6 form-group">
                                                    <select formControlName="genero" [ngClass]="{'is-valid': (!multiAseg.genero.errors && multiAseg.genero.dirty), 'is-invalid': multiAseg.genero.errors && submitted || multiAseg.genero.errors && multiAseg.genero.dirty }" class="form-control form-control-lg">
                                                        <option value>Género</option>
                                                        <option value="MASCULINO">Masculino</option>
                                                        <option value="FEMENINO">Femenino</option>
                                                    </select>
                                                    <div *ngIf="submitted && multiAseg.genero.errors" class="invalid-feedback">
                                                        <div *ngIf="multiAseg.genero.errors.required"> El género es requerido</div>
                                                    </div>
                                                </div>
                                                <!-- CODIGO POSTAL -->
                                                <div class="col-12 col-md-6 form-group">
                                                    <input formControlName="cp" onkeypress="if(this.value.length === 5) return false;" [ngClass]="{'is-valid': (!multiAseg.cp.errors && multiAseg.cp.dirty), 'is-invalid': multiAseg.cp.errors && submitted || multiAseg.cp.errors && multiAseg.cp.dirty }" placeholder="Código Postal"
                                                           class="form-control form-control-lg" (keypress)="numberOnly($event)" />
                                                    <div *ngIf="submitted && multiAseg.cp.errors" class="invalid-feedback">
                                                        <div *ngIf="multiAseg.cp.errors.required"> La Edad es requerida</div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <app-notice-of-privacy></app-notice-of-privacy>
                                                </div>
                                            </div>
                                            <!-- BOTON -->
                                            <div class="row">
                                                <div class="col-12">
                                                    <button id="btnCotizarAuto" type="submit" [disabled]="btnCotizarDisabled" class="btn btn-success btn-block">
                                                        <p class="lead font-weight-bold my-3 text-white">Cotizar Ahora<img
                                                                src="assets/images/chevron-right-bn.svg" alt=">" width="25"
                                                                height="25" />
                                                        </p>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    aqui comienza la tabla-->
                    <div *ngIf="isReady| async" >
                        <ul class="p-0">
                            <li>
                                <div class="card card-body border-white">
                                    <div  *ngIf="isReady| async" >
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card table-responsive">
                                                    <div class="card-header text-center">
                                                        Cobertura Amplia: {{cotizacion.controls['selectMarca'].value}} {{cotizacion.controls['selectModelo'].value}} {{cotizacion.controls['selectSubmarca'].value}} {{cotizacion.controls['selectDescripcion'].value}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <mat-progress-bar mode="indeterminate" *ngIf="valueLoader"></mat-progress-bar>


                                        <div id="quotationByInsurance">
                                            <span class=" start-100 translate-middle badge barato" >
                                                GO precios bajos
                                            </span>


                                            <mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="table is-striped table-hover is-fullwidth headerfont go-m-table" style="z-index: 3; position: relative">
                                                <ng-container matColumnDef="insurance">
                                                    <mat-header-cell *matHeaderCellDef class="go-m-insurance "> <!--ASEGURADORA--> </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let index = index" data-label="" class="flotar col-12 col-md-3 vchica go-m-insurance" >
                                                        <div class="py-3 text-center cuad1"><!--style="padding: 20px 0; text-align: center !important;width: 12rem;" -->
                                                            <div class="go-insurance2">
                                                                <img src="assets/images/aseguradoras-multi/{{ element.aseguradora }}.png " class="mt-0 centrar " style="width:100px; padding-bottom: 10px ">
                                                            </div>
                                                            <div #origin  (mouseout)="close({id: 2})" class="msi" *ngIf="element.aseguradora | discountInsurance:descuentoAseguradoraMulty2[0]:3:element.aseguradora.length> 2">Obtén {{ element.aseguradora | discountInsurance:descuentoAseguradoraMulty2[0]:3:element.aseguradora }}</div>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>


                                                <ng-container matColumnDef="goCost">
                                                    <mat-header-cell *matHeaderCellDef class="go-m-goCost" > <!--COSTO GO AGENTES--> </mat-header-cell>
                                                    <mat-cell *matCellDef="let element; let i = index" data-label="" class="flotar col-8 col-md-3 vchica go-m-goCost">
                                                        <div>
                                                            <div class="media-body">
                                                                <img src="assets/images/tarjetas_img/img-cards.png " class="imgtarjetas" width="85" height="24">
                                                                <h2 class="mb-0">
                                                                    <strong class="font-weight-bold  text-center" style="color: #5E5E5E" >{{ (element.cotizacion.cotizacion.primaTotal === '' || element.cotizacion.cotizacion.primaTotal === '0.0')?'No disponible': ('$' + (element.cotizacion?.cotizacion?.primaTotal|number:'3.0-0') )}} </strong>
                                                                </h2>
                                                                <small class="d-block font-weight-bold text-muted mt-2">ID:{{
                                                                    (element.cotizacion?.Cotizacion?.IDCotizacion) ?
                                                                        (element.cotizacion?.Cotizacion?.IDCotizacion) :
                                                                        (element.cotizacion?.cotizacion?.idCotizacion)? (element.cotizacion?.cotizacion?.idCotizacion) : 'N/A' }}</small>
                                                            </div>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>

                                                <ng-container matColumnDef="Coberturas" class="d-none d-md-block">
                                                    <mat-header-cell *matHeaderCellDef class="go-m-materialDamage"> <!--DAÑOS MATERIALES--> </mat-header-cell>
                                                    <div>
                                                        <mat-cell *matCellDef="let element" data-label="Coberturas" class="flotar col-12 col-md-3 d-none d-md-block" >
                                                            <div>
                                                                <div class="media-body">
                                                                    <ul class="pl-2 text-center text-md-left">
<!--                                                                        <li><img class="check" src="assets/images/check.svg "><small>AMPARADA</small></li>-->
                                                                        <li><img class="check" src="assets/images/check.svg "><small>ROBO TOTAL</small></li>
                                                                        <li><img class="check" src="assets/images/check.svg "><small>DAÑOS DE AUTOMOVIL</small></li>
                                                                        <li><img class="check" src="assets/images/check.svg "><small>DAÑOS A TERCEROS</small></li>
<!--                                                                        <li><img class="check" src="assets/images/check.svg "><small>ASISTENCIA VIAL Y JURIDICA</small></li>-->
                                                                        <li><img class="check" src="assets/images/check.svg "><small>GASTOS MEDICOS</small></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </mat-cell>
                                                    </div>
                                                </ng-container>
                                                <ng-container matColumnDef="emitir">
                                                    <mat-header-cell *matHeaderCellDef class="go-m-goCost">  </mat-header-cell>
                                                    <mat-cell *matCellDef="let element" data-label="" class=" col-12 col-md-3 go-m-goCost">
                                                        <div class="mx-auto" style="cursor: pointer">
                                                            <div class="media-body" *ngIf="(element.cotizacion.cotizacion.primaTotal !== '') && (element.cotizacion.cotizacion.primaTotal !== '0.0')">

<!--                                                                <button (click)="jumpWizard(element.aseguradora)"-->
<!--                                                                        class="btn btn-success btn-block b-em">-->
                                                                    <img src="assets/images/btn_ecommerce.svg" class="imagenFondo mx-auto btn-block b-em" (click)="jumpWizard(element.aseguradora)">
<!--                                                                </button>-->
                                                            </div>
                                                        </div>
                                                    </mat-cell>
                                                </ng-container>
                                                <ng-container matColumnDef="expandedDetail">
                                                    <mat-cell *matCellDef="let detail" class="">
                                                        <table-info-quotation [coverage]="detail.cotizacion.coberturas" [aseg]="detail.aseguradora"> </table-info-quotation>
                                                    </mat-cell>
                                                </ng-container>
                                                <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
                                                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="getRowClass(row)" [class.expanded]="expandedElement == row" (click)="highlight(row); expandedElement = row"></mat-row>
                                                <mat-row *matRowDef="let row; columns: ['expandedDetail']" [@detailExpand]="(row == expandedElement && selectedID) ? 'expanded' : 'collapsed'" style="overflow: hidden"></mat-row>
                                            </mat-table>
                                            <p class="btn-aviso text-center col-auto text-uppercase mb-0">
                                                <strong>Esta cotización tiene una vigencia de 5 días naturales,
                                                    asegura el precio contratando hoy.</strong>
                                            </p>
                                            <p class="btn-aviso text-center col-auto text-uppercase">
                                                <strong>*Aplica restricciones.</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
