<div class="container-fluid">
    <div class="row page-titles mx-0 go-margin-top">
    </div>
    <div class="row">
        <div class="col-12 m-auto d-block" *ngFor="let imgBanner of imagenesMulti">
             <img src="{{imgBanner['url']}}" class="img-fluid m-auto d-block" alt="banner">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title py-3 px-2 bgCell2 font-weight-bold letras">PROMOCIONES Y DESCUENTOS GO AGENTES</h5>
                    <hr>
                    <div class="card-text">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="bgCell3 text-center" style="font-size:18px; border-top-left-radius:13px; border-bottom-left-radius:13px;">ASEGURADORA</th>
                                    <th class="bgCell3 text-center" style="font-size:18px;">DESCUENTO</th>
                                    <th class="bgCell3 text-center" style="font-size:18px; border-top-right-radius:13px; border-bottom-right-radius:13px;">MSI</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr *ngFor="let promo of promociones" >
                                    <td style="border-top-left-radius:13px; border-bottom-left-radius:13px;">
                                        <img alt="logos" class="mt-1 imagen-banco" src="{{promo['imagen']}}">
                                    </td>
                                    <td class="text-center descuentos pt-4 descuentos-estilos">
                                        {{promo['descuento']}}
                                    </td>
                                    <td class="text-center pt-4 meses-sin-intereses">{{promo['msi']}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>