.letras{
    font-weight: bold;
    font-size:25px;
}
.imagen-banco{
    width: auto; 
    display: block; 
    height: 60px; 
    margin: auto;
}
.descuentos-estilos{
    font-size:20px; 
    font-weight: bold;
    color: #787878;
}
.meses-sin-intereses{
    border-top-right-radius:13px;
    border-bottom-right-radius:13px; 
    font-size: 20px; 
    color: #787878;
}
@media (max-width: 463px){
    .meses-sin-intereses{
        font-size: 12px; 
    }
    .descuentos-estilos{
        font-size:13px; 
        font-weight: bold;
        color: #787878;
    }
    .imagen-banco{
        height: 35px; 
    }
}