.mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
    border-radius: 30px !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding: 0 10px !important;
    line-height: 30px !important;
    font-size: 10pt;
}

.mat-button-toggle-checked {
    background-color: #2bc155 !important;
    color: #ffffff !important;
}

.mat-tab-header {
    display: none !important;
}

.card .go-card-custome {
    height: auto !important;
}

.go-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.go-radio-button {
    margin: 5px;
}

.go-radio-button small {
    position: absolute;
    left: 47px;
    margin-top: 15px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #2bc155;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: #ffffff;
    background-color: #2bc155;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: #2bc155;
}
.tamanoimg{

    width: 70px;
}
@media (min-width: 320px) and (max-width: 600px) {
    .textoTachado {
        padding-left: 0 !important;
    }
    .cotiza-seguro-auto{
        width: 340px;
    }
    .tamanoimg{
        width: 50px;
    }
}

@media only screen and (max-width: 320px) {
    .textoTachado {
        padding-left: 0 !important;
    }
    .cotiza-seguro-auto{
        width: 250px;
    }
    .tamanoimg{
        width: 30px;
    }
}

