
<div class="cotiza-seguro-auto">
    <div class="row page-titles mx-0">
        <div class="col-12 p-md-0">
            <h3 class="col-12 font-weight-bold p-0">
                <strong>Cotización {{ (quotationType === 'multi') ? 'Seguro de Auto' : 'Chofer Privado' }}</strong>
            </h3>
        </div>
        <div class="col-12 p-md-0 justify-content mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>

                <li class="breadcrumb-item active"><a [routerLink]="['/admin/cotiza-go/']">Cotiza GO</a></li>
                <li style="margin-left: 18px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item active" *ngIf="quotationType == 'multi'"><a [routerLink]="['/admin/cotiza-go/particular/']">Particular</a>
                <li class="breadcrumb-item active" *ngIf="quotationType == 'single'"><a [routerLink]="['/admin/cotiza-go/privado/']">Privado</a>
                </li>
                <li style="margin-left: 18px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin/cotiza-go/particular/cotizador/']">{{aseguradoraSelected | titlecase}}</a>
                </li>
            </ol>
        </div>
    </div>

    
        <div class="row page-titles mx-0">
        <div class="col-12 col-md-12 p-md-0">
            <div class="row">
                <div class="col-12">
                    <!-- <button (click)="recotizar(false)" class="btn btn-rounded btn-danger text-right">Recotizar
                    </button> -->
                    <button (click)="htmltoPDF()" class="btn btn-rounded btn-info text-right float-right">Descargar Cotizacion 
                    </button>
                </div>
                <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1">
                    <div class="card table-responsive">
                       
                        <div class="card-header text-center">
                            Cobertura {{ (optSelected.insurance === 'rc') ? optSelected.insurance.toUpperCase() : optSelected.insurance.charAt(0).toUpperCase() + optSelected.insurance.slice(1) }}: {{cotizacion.controls['selectMarca'].value}} {{cotizacion.controls['selectDescripcion'].value}} {{cotizacion.controls['selectModelo'].value}}
                            {{cotizacion.controls['selectSubDescripcion'].value}}
                        </div>
    
                        <div class="card-body">
                            <div class="container" *ngIf="!messageError">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-4 offset-md-2 offset-lg-2 ">
                                        <img _ngcontent-efo-c416="" alt="logos" style="width: 100%; display: block; height: auto; margin: auto;" class="img-fluid- mt-1" src="assets/images/aseguradoras/{{ aseguradoraSelected }}.svg">
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4 offset-md-4 offset-lg-4 m-auto">
                                        <h2 class="textoTachado text-center text-muted" *ngIf="finalPrice !== 0 && (aseguradoraSelected | discountInsurance: descuentoAseguradora : 4)">
                                            {{ finalPrice | discountInsurance: descuentoAseguradora : 2 : aseguradoraSelected | currency:'USD':'symbol':'1.0-0' }}
                                        </h2>
                                        <span class="btn btn-rounded btn-info posicionDescuento" *ngIf="finalPrice !== 0 && (aseguradoraSelected | discountInsurance: descuentoAseguradora:4)">
                                            -{{ aseguradoraSelected | discountInsurance: descuentoAseguradora:1 }}%
                                        </span>
                                        <h5 class="text-center display-5 font-weight-bold" *ngIf="!finalPrice || finalPrice === 0">
                                            Precio NO disponible
                                        </h5>
                                        <h1 class="text-center display-5 font-weight-bold" *ngIf="finalPrice || finalPrice !== 0">
                                            {{finalPrice | currency:'USD':'symbol':'1.0-0'}}
                                        </h1>
                                    </div>
                                </div>
                            </div>
    
                            <br>
                            <div class="text-center" *ngIf="!messageError && (aseguradoraSelected.toUpperCase() === 'QUALITAS' ||
                                                                            aseguradoraSelected.toUpperCase() === 'GNP' || 
                                                                            aseguradoraSelected.toUpperCase() === 'ANA' ||
                                                                            aseguradoraSelected.toUpperCase() === 'HDI' ||
                                                                            aseguradoraSelected.toUpperCase() === 'AFIRME'||
                                                                            aseguradoraSelected.split('_').join('').toUpperCase() === 'MAPFRE' ||
                                                                            aseguradoraSelected.toUpperCase() === 'ABA'||
                                                                            aseguradoraSelected.toUpperCase() === 'GENERAL_DE_SEGUROS'||
                                                                            aseguradoraSelected.toUpperCase() === 'MIGO'||
                                                                            aseguradoraSelected.toUpperCase() === 'AXA'||
                                                                            aseguradoraSelected.toUpperCase() === 'BANORTE'||
                                                                            aseguradoraSelected.toUpperCase() === 'AIG'||
                                                                            aseguradoraSelected.toUpperCase() === 'LA_LATINO'||
                                                                            aseguradoraSelected.toUpperCase() === 'ATLAS'||
                                                                            aseguradoraSelected.toUpperCase() === 'BXMAS'||
                                                                            aseguradoraSelected.toUpperCase() === 'EL_POTOSI')"
                                                                            >
                                                                      

                                    <a class="btn btn-lg btn-success text-center m-auto" data-toggle="modal" (click)="emitir()" *ngIf="finalPrice !== 0 && finalPrice">
                                        <img src="assets/images/emitir.svg" alt="emitir" width="20" height="20" class="img-fluid"> &nbsp;EMITIR PÓLIZA AHORA&nbsp;<img src="assets/images/chevron-right-bn.svg" alt=">"
                                            width="25" height="25" />
                                    </a>
                                <br>
                                <small class="text-muted">ID: {{ quotationID }}</small>
                            </div>
    
                            <div class="col-12" *ngIf="!messageError">
                                <div class="tabla">
                                    <div class="table-responsive table-striped">
                                        <table class="table" *ngIf="TabIndex === 'rc' && coveragesList.rc">
                                            <thead>
                                                <th style="width:480px;">Cobertura</th>
                                                <th class="text-center" style="width:360px;">Suma asegurada</th>
                                                <th class="text-center" style="width:360px;">Deducible</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let coverage of coveragesList.rc; let i = index">
                                                    <td>{{ coverage | showName:'multy'| uppercase }}</td>
                                                    <td class="text-center">{{ coverage | showSumaRc:'multy' | uppercase}}
                                                    </td>
                                                    <td class="text-center">{{ coverage | showDeducible:'multy' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table" *ngIf="TabIndex === 'limitada'">
                                            <thead>
                                                <th style="width:480px;">Cobertura</th>
                                                <th class="text-center" style="width:360px;">Suma asegurada</th>
                                                <th class="text-center" style="width:360px;">Deducible</th>
                                            </thead>
                                            <tbody *ngIf="!coveragesList.amplia[1]['Limitada']">
                                                <tr *ngFor="let coverage of coveragesList.limitada; let i = index">
                                                    <td>{{ coverage | showName:'multy' | uppercase}}</td>
                                                    <td class="text-center">{{ coverage | showSumaRc:'multy' | uppercase}}
                                                    </td>
                                                    <td class="text-center">{{ coverage | showDeducible:'multy' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="coveragesList.amplia[1]['Limitada']">
                                                <tr *ngFor="let coverage of coveragesList.amplia[1]['Limitada']; let i = index">
                                                    <td>{{ coverage.Nombre | uppercase }}</td>
                                                    <td class="text-center">{{ coverage.SumaAsegurada=='0'? 'NO APLICA':coverage.SumaAsegurada| currency | uppercase}}
                                                    </td>
                                                    <td class="text-center">{{ coverage.Deducible=='0'?'NO APLICA':coverage.Deducible + '%'}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table" *ngIf="TabIndex === 'amplia'">
                                            <thead>
                                                <th style="width:480px;">Cobertura</th>
                                                <th class="text-center" style="width:360px;">Suma asegurada</th>
                                                <th class="text-center" style="width:360px;">Deducible</th>
                                            </thead>
                                            <tbody *ngIf="!coveragesList.amplia[0]['Amplia']">
                                            <tr *ngFor="let coverage of coveragesList.amplia; let i = index">
                                                    <td>{{ coverage| showName:'multy' | uppercase}}</td>
                                                    <td class="text-center">{{ coverage | showSumaRc:'multy' | uppercase}}
                                                    </td>
                                                    <td class="text-center">{{ coverage | showDeducible:'multy' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="coveragesList.amplia[0]['Amplia']" >
                                            <tr *ngFor="let coverage of coveragesList.amplia[0]['Amplia']; let i = index">
                                                <td>{{ coverage.Nombre| uppercase}}</td>
                                                <td class="text-center">{{ coverage.SumaAsegurada=='0'?'NO APLICA':coverage.SumaAsegurada.length <2 ? coverage.SumaAsegurada +'%' :coverage.SumaAsegurada | currency  }}
                                                </td>
                                                <td class="text-center">{{ coverage.Deducible=='0'?'NO APLICA':coverage.Deducible.length <2 ? coverage.Deducible + '%' :coverage.Deducible | currency}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table" *ngIf="TabIndex === 'especial'">
                                            <thead>
                                                <th style="width:480px;">Cobertura</th>
                                                <th class="text-center" style="width:360px;">Suma asegurada</th>
                                                <th class="text-center" style="width:360px;">Deducible</th>
                                            </thead>
                                            <tbody *ngIf="!coveragesList.especial[0]['Especial']">
                                            <tr *ngFor="let coverage of coveragesList.especial; let i = index">
                                                    <td>{{ coverage| showName:'multy' | uppercase}}</td>
                                                    <td class="text-center">{{ coverage | showSumaRc:'multy' | uppercase}}
                                                    </td>
                                                    <td class="text-center">{{ coverage | showDeducible:'multy' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="coveragesList.especial[0]['Especial']" >
                                            <tr *ngFor="let coverage of coveragesList.especial[0]['Especial']; let i = index">
                                                <td>{{ coverage.Nombre| uppercase}}</td>
                                                <td class="text-center">{{ coverage.SumaAsegurada=='0'?'NO APLICA':coverage.SumaAsegurada.length <2 ? coverage.SumaAsegurada +'%' :coverage.SumaAsegurada | currency  }}
                                                </td>
                                                <td class="text-center">{{ coverage.Deducible=='0'?'NO APLICA':coverage.Deducible.length <2 ? coverage.Deducible + '%' :coverage.Deducible | currency}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table" *ngIf="TabIndex === 'gold'">
                                            <thead>
                                                <th style="width:480px;">Cobertura</th>
                                                <th class="text-center" style="width:360px;">Suma asegurada</th>
                                                <th class="text-center" style="width:360px;">Deducible</th>
                                            </thead>
                                            <tbody *ngIf="!coveragesList.gold[0]['Gold']">
                                            <tr *ngFor="let coverage of coveragesList.gold; let i = index">
                                                    <td>{{ coverage| showName:'multy' | uppercase}}</td>
                                                    <td class="text-center">{{ coverage | showSumaRc:'multy' | uppercase}}
                                                    </td>
                                                    <td class="text-center">{{ coverage | showDeducible:'multy' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody *ngIf="coveragesList.gold[0]['Gold']" >
                                            <tr *ngFor="let coverage of coveragesList.gold[0]['Gold']; let i = index">
                                                <td>{{ coverage.Nombre| uppercase}}</td>
                                                <td class="text-center">{{ coverage.SumaAsegurada=='0'?'NO APLICA':coverage.SumaAsegurada.length <2 ? coverage.SumaAsegurada +'%' :coverage.SumaAsegurada | currency  }}
                                                </td>
                                                <td class="text-center">{{ coverage.Deducible=='0'?'NO APLICA':coverage.Deducible.length <2 ? coverage.Deducible + '%' :coverage.Deducible | currency}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2">
                    <div class="card table-responsive go-card-custome" style="width: fit-content !important;">
                        <div class="card-header text-center">
                            <span class="material-icons">settings</span>Personalizar mi seguro
                        </div>
    
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <span class="material-icons" matTooltip="Escoga su tiepo de Cobertura preferida." [matTooltipPosition]="'above'">info</span>
                                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="amplia">
                                        <mat-button-toggle (change)="onValChange($event.value)" value="amplia">Amplia
                                        </mat-button-toggle>
                                        <!--particular insurance !== 'AFIRME' Qualitas  // faltantes --bxmas.-->
                                        <mat-button-toggle (change)="onValChange($event.value)" value="limitada" *ngIf="(insurance == 'Qualitas' && this.chofPrivado == 'particular') || (insurance=='GNP' && this.chofPrivado == 'particular')|| (insurance == 'AXA' && this.chofPrivado == 'particular')||(insurance == 'Banorte')||(insurance == 'Zurich') || (insurance == 'el_Aguila') || (insurance == 'aig')|| (insurance == 'Aba') || ( insurance=='Sura' ) || (insurance == 'migo')||(insurance =='el_potosi')||(insurance=='HDI') || (insurance == 'latino') || (insurance == 'mapfre')">Limitada
                                        </mat-button-toggle>
                                        <!-- chofprivado -->
                                        <mat-button-toggle (change)="onValChange($event.value)" value="limitada" *ngIf="(this.chofPrivado === 'privado' && insurance ==='GNP') || (this.chofPrivado === 'privado' && insurance ==='Qualitas') || (this.chofPrivado === 'privado' && insurance ==='AXA')">Limitada
                                        </mat-button-toggle>


                                        <mat-button-toggle (change)="onValChange($event.value)" value="rc" *ngIf="coveragesList.rc">RC
                                        </mat-button-toggle>
                                        <mat-button-toggle (change)="onValChange($event.value)" value="especial" *ngIf="(insurance === 'GNP' && this.chofPrivado == 'privado') || (insurance === 'GNP')">Especial
                                        </mat-button-toggle>
                                        <mat-button-toggle (change)="onValChange($event.value)" value="gold" *ngIf="insurance === 'aig' ">Gold
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
                                </div>
                                <div class="col-12">
                                    <hr>
                                </div>
                                <!-- TODO -->
                                <div class="col-12" *ngIf="defaultChecked">
                                    Formas de pago <span class="material-icons" matTooltip="Escoga su forma de pago." [matTooltipPosition]="'above'">info</span>
                                    <mat-radio-group aria-labelledby="radio-group-label" class="go-radio-group">
                                        <mat-radio-button class="go-radio-button" *ngFor="let coberage of coverages" [value]="coberage.periodicity" [checked]="coberage.periodicity === typeRadio" (change)="radioChange($event.value)">
                                            {{coberage.periodicity}}
                                            <small *ngIf="coberage.periodicity === 'anual'">(pago en
                                                una sola exhibición/
                                            </small><br>
                                            <small *ngIf="coberage.periodicity === 'anual'" style="margin-top: 2px;">meses sin
                                                intereses)
                                            </small>
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-12" *ngIf="pays[0].first">
                                    <hr>
                                </div>
                                <div class="col-12" *ngIf="pays[0].first">
                                    Primer pago: {{ pays[0].first | currency:'USD':'symbol':'1.0-0' }}
                                    <br> Subsecuentes: {{ pays[0].subsecuent | currency:'USD':'symbol':'1.0-0' }}
                                </div>
                                <div class="col-12" *ngIf="bancsMSI">
                                    <hr>
                                </div>
                                <div class="container-fluid mr-5 mr-md-0" *ngIf="bancsMSI">
                                    <ul class="row">
                                        <li class="col-3 col-sm-3 col-md-6" *ngFor="let item of bancsMSI">
                                            <picture>
                                                <source type="image/webp" srcset="/assets/images/bancs/{{ item }}.webp">
                                                <source type="image/jpeg" srcset="/assets/images/bancs/{{ item }}.jpeg">
                                                <source type="image/svg" srcset="/assets/images/bancs/{{ item }}.svg">
                                                <img class="ekomi tamanoimg " src="/assets/images/bancs/{{ item }}.png" alt="{{ item }}"  height="" />
                                            </picture>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
    <div style="border: 1px solid red; position: fixed; float: left;">
    <pdf-multy  [quotationID]="quotationID" [cotizacion]="cotizacion" [aseguradoraSelected]="aseguradoraSelected" [bancsMSI]="bancsMSI" [coveragesList]="coveragesList" [coveragesAnual]="coveragesAnual" [coveragesLimitada]="coveragesLimitada" [coveragesRC]="coveragesRC" [coveragesEspecial]="coveragesEspecial" [coveragesGold]="coveragesGold"></pdf-multy>
    </div>
