<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>



<div>
    <div class="row page-titles mx-0">
        <div class="col-12 p-md-0">
            <h3 class="col-12 font-weight-bold p-0">
                <span class="start-100 translate-middle badge barat">Cotizaciones 
                    {{(idRamoSelected == 84) ? 'Gastos Medicos Mayores' : ''}}
                    {{(idRamoSelected == 85) ? 'Seguro De vida' : ''}}
                    {{(idRamoSelected == 89) ? 'Seguro Grupal' : ''}}
                    {{(idRamoSelected == 86) ? 'Seguro De Hogar' : ''}}
                    {{(idRamoSelected == 87) ? 'Seguro de Viaje' : ''}}
                </span>
            </h3>
        </div>
        <div class="col-12 p-md-0 justify-content mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item active"><a [routerLink]="['/admin/dashboard/principal']">Oficina Virtual</a></li>
                
                <li style="margin-left: 18px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item active"><a [routerLink]="['/admin/cotizaciones']">Mis Cotizaciones</a>
                </li>
                
                <li style="margin-left: 18px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item active"><a [routerLink]="[urlOption]">
                    {{(idRamoSelected == 84) ? 'Gastos Medicos Mayores' : ''}}
                    {{(idRamoSelected == 85) ? 'Seguro De vida' : ''}}
                    {{(idRamoSelected == 89) ? 'Seguro Grupal' : ''}}
                    {{(idRamoSelected == 86) ? 'Seguro De Hogar' : ''}}
                    {{(idRamoSelected == 87) ? 'Seguro de Viaje' : ''}}
                </a>
                </li>
            </ol>
        </div>
    </div>
    <ul class="p-0">
        <li>
            <div class="card card-body border-dark">
                <!-- <div id="cotizacionesGeneralesDeGo">
                    <span class="start-100 translate-middle badge barat">Cotizaciones 
                        {{(idRamoSelected == 84) ? 'Gastos Medicos Mayores' : ''}}
                        {{(idRamoSelected == 85) ? 'Seguro De vida' : ''}}
                        {{(idRamoSelected == 89) ? 'Seguro Grupal' : ''}}
                        {{(idRamoSelected == 86) ? 'Seguro De Hogar' : ''}}
                        {{(idRamoSelected == 87) ? 'Seguro de Viaje' : ''}}
                    </span>
                </div> -->
                    <!-- <div class="row">
                        <div class="col">
                            <form [formGroup] = "formSelectRamo">
                                <div class="col">
                                    <select formControlName="SelectRamo" class="form-control selecteAseg custom-select d-block mx-auto"
                                            style="width: 50%; margin: 20px;"
                                            (click)="selectTable(this.formSelectRamo.controls.SelectRamo.value)">
                                        <option value="">Selecciona un ramo</option>
                                        <option value="84">Gastos Medicos Mayores</option>
                                        <option value="85">Seguro de Vida</option>
                                        <option value="86">Seguro de Hogar</option>
                                        <option value="87">Seguro de Viaje</option>
                                        <option value="89">Seguro Grupal</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div> -->


            <div *ngIf="vistaDeTabla === true">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

                    <ng-container matColumnDef="idAgente">
                        <mat-header-cell *matHeaderCellDef class="go-m-insurance "> <!--ASEGURADORA--> </mat-header-cell>
                        <mat-cell *matCellDef="let element; let index = index" data-label="" class="flotar col-12 col-md-4 vchica go-m-insurance" >
                            <div class="py-3 text-center cuad1"><!--style="padding: 20px 0; text-align: center !important;width: 12rem;" -->
                                <div class="go-insurance2">
                                    <p class="mt-0 centrar " style="width:100px; padding-bottom: 10px "> ID : {{element.id}}</p>
<!--                                    <p class="mt-0 centrar " style="width:100px; padding-bottom: 10px "> IDRAMO : {{element.peticion.idRamo}}</p>-->
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="idSubramo">
                        <mat-header-cell *matHeaderCellDef class="go-m-goCost" > <!--COSTO GO AGENTES--> </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index" data-label="" class="flotar col-8 col-md-4 vchica go-m-goCost">
                            <div>
                                <div class="media-body">
                                    <ul class="pl-2 text-center text-md-left">
                                        <li><small>CP   : {{element.peticion.codigoPostal}}</small></li>
                                        <li><small>EDAD : {{element.peticion.edad}}</small></li>
                                        <li><small>GENERO : {{element.peticion.genero}}</small></li>
                                        <li><small>NACIMIENTO : {{element.peticion.fechaNacimiento}}</small></li>
                                        <li><small>TELEFONO : {{element.peticion.telefono}}</small></li>
                                    </ul>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="datosPeticion">
                        <mat-header-cell *matHeaderCellDef class="go-m-materialDamage"> <!--DAÑOS MATERIALES--> </mat-header-cell>
                        <div>
                            <mat-cell *matCellDef="let element" data-label="Coberturas" class="flotar col-12 col-md-4 d-none d-md-block" >
                                <div>
                                    <div class="media-body">
                                        <ul class="pl-2 text-center text-md-left">
                                            <li><small>COBERTURAS : {{element.peticion.coberturasAdicionales | uppercase}}</small></li>
                                            <li><small>EMAIL: {{element.peticion.email | uppercase}}</small></li>
                                            <li><small>NOMBRE: {{element.peticion.nombreCompleto | uppercase}}</small></li>
                                            <li *ngIf="element.peticion.nivelHospitalario"><small>NIVEL HOSPITALARIO: {{element.peticion.nivelHospitalario | uppercase}}</small></li>
                                            <li *ngIf="element.peticion.numeroDeAsegurados"><small># ASEGURADOS: {{element.peticion.numeroDeAsegurados}}</small></li>
                                            <li *ngIf="element.peticion.numeroPisosInmbuebles"><small># PISOS: {{element.peticion.numeroPisosInmbuebles}}</small></li>
                                            

                                        </ul>
                                    </div>
                                </div>
                            </mat-cell>
                        </div>
                    </ng-container>
                    <ng-container matColumnDef="expandedDetail">
                        <mat-cell *matCellDef="let detail" class="">
                            <app-tabla-cotiza [coverage]="detail" [aseg]="detail"></app-tabla-cotiza>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="cotizar">
                        <mat-header-cell *matHeaderCellDef class="go-m-goCost">  </mat-header-cell>
                        <mat-cell *matCellDef="let element" data-label="" class=" col-12 col-md-3 go-m-goCost">
                            <div class="mx-auto" style="cursor: pointer">
                                <div class="media-body">
                                    <div class="mx-auto" style="cursor: pointer">
                                        <div class="media-body">
                                            <img src="assets/images/btn_ecommerce.svg" class="imagenFondo mx-auto btn-block b-em" (click)="jumpWizard()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <!--                    <mat-row *matRowDef="let row; columns: displayedColumns;" [class.expanded]="expandedElement == row" (click)="highlight(row); expandedElement = row"></mat-row>-->
                    <!--                    <mat-row *matRowDef="let row; columns: ['expandedDetail']" [@detailExpand]="(row == expandedElement) ? 'expanded' : 'collapsed'" style="overflow: hidden"></mat-row>-->
                    <!--                </mat-table>-->
                    <mat-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <br>
                <div class="row">
                    <div class="col-sm-12 col-md-4 text-center text-md-end ">
                        <!--                        <button class="btn btn-primary">Anterior</button>-->
                        <button class="btn btn-primary" (click)="cotizacionesPrincipal(-1)" [disabled]="(aumentar===0)">Anterior</button>
                    </div>
                    <div class="col-sm-12 col-md-4 text-center">Pagina {{aumentar + 1}}</div>
                    <div class="col-sm-12 col-md-4 text-center text-md-start">
                        <!--                        <button class="btn btn-primary">Siguiente-->
                        <button class="btn btn-primary" (click)="cotizacionesPrincipal(+1)" [disabled]="this.desabilitaBtn === true">Siguiente
                        </button>
                    </div>
                </div>
            </div>

            </div>
        </li>
    </ul>
</div>
