.margenTabla{
    margin-top: 50px;
    width: 100%;
}

th{
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #0BDEAC;
}

.btn-pass{
    padding-bottom: 50px;
    margin-top: 20px;
}
