<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>

<div class="container-fluid">
    <div class="row page-titles mx-0" [hidden]="">
        <div class="col-12 p-md-0 mt-4">
            <h3 class="col-auto font-weight-bold p-0">
                <strong>Ingresa los datos para cotizar:</strong>
            </h3>
        </div>
    </div>
    <div class="row" [hidden]="" style="margin-bottom: 300px;">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4"  style="margin-top: 50px;">
                    <img src="assets/images/otrosRamosGo/eguro-grupal.png" class="mt-1 img-fluid" alt="logos" style="width:100%;display:block;height:auto;margin:auto;" />
                </div>
                <div class="col-12 col-md-8">
                    <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="margin-top: 20px;">
                        <div class="card-body">
                            <form [formGroup] = "cotizarGrupal" (ngSubmit)="btnCotizar()">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="idRamoGrupal" class="form-control form-control-lg" (blur)="updateData(); selectGastos()">
                                            <option value="">Selecciona un ramo</option>
                                            <option value="Autos">Autos</option>
                                            <option value="GastosMedicos">Gastos Medicos</option>
                                            <option value="Daños">Daños</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.idRamoGrupal.touched && erroresGrupal.idRamoGrupal.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group" *ngIf="habilitarNivelHosp === true">
                                        <select formControlName="nivelHospitalarioGrupal" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Nivel Hospitalario</option>
                                            <option value="Bajo">Bajo</option>
                                            <option value="Medio">Medio</option>
                                            <option value="Premium">Premium</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.nivelHospitalarioGrupal.touched && erroresGrupal.nivelHospitalarioGrupal.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="coverturasAddGrupal" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Coberturas Adicionales</option>
                                            <option value="Si">Si</option>
                                            <option value="No">No</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.coverturasAddGrupal.touched && erroresGrupal.coverturasAddGrupal.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="generoGrupal" class="form-control form-control-lg" (blur)="updateData()" (change)="changeNameValidators()">
                                            <option value="">Género</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                            <option value="MORAL">Persona Moral</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.generoGrupal.touched && erroresGrupal.generoGrupal.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="edadGrupal" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Edad</option>
                                            <option *ngFor="let edadGeneradaVista of edadGenerada" value="{{edadGeneradaVista}}">{{edadGeneradaVista}}</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.edadGrupal.touched && erroresGrupal.edadGrupal.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group" >
                                        <input type="text" formControlName="codigoPGrupal" placeholder="Código Postal" class="form-control form-control-lg"
                                               value="" maxlength="5" minlength="5" (blur)="updateData()" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.codigoPGrupal.touched && erroresGrupal.codigoPGrupal.errors?.required;">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                                <div class="ml-3">
                                                    Este campo es obligatorio favor de ingresar CP
                                                </div>
                                            </div>
                                            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.codigoPGrupal.touched && erroresGrupal.codigoPGrupal.errors?.pattern">
                                                <div class="ml-3">
                                                    Campo inválido formato incorrecto
                                                </div>
                                            </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group" >
                                        <input type="text" formControlName="telefonoGrupal" placeholder="Teléfono" class="form-control form-control-lg"
                                               value="" maxlength="10" minlength="10" (blur)="updateData()" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.telefonoGrupal.touched && erroresGrupal.telefonoGrupal.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar teléfono.
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.telefonoGrupal.touched && erroresGrupal.telefonoGrupal.errors?.pattern">
                                            <div class="ml-3">
                                                Campo inválido, revisa que el teléfono solo contenga números y sea a 10 dígitos.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 form-group">
                                        <!-- se ponen 86 caracteres tomando en cuenta el nombre y apellido mas largos del mundo que es-->
                                        <!-- nombre: Brhadaranyakopanishadvivekachudamani, apellido:OTTOVORDEMGENTSCHENFELDE-->
                                        <input type="text" formControlName="nombreAsegGrupal" placeholder="Nombre Completo" class="form-control form-control-lg"
                                               value="" maxlength="86" (blur)="updateData()">
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.nombreAsegGrupal.touched && erroresGrupal.nombreAsegGrupal.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar Nombre
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.nombreAsegGrupal.touched && erroresGrupal.nombreAsegGrupal.errors?.pattern && erroresGrupal.generoGrupal.value === 'MORAL'">
                                            <div class="ml-3">
                                                Campo inválido, formato incorrecto, el nombre no debe llevar espacios ni caracteres especiales.
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.nombreAsegGrupal.touched && erroresGrupal.nombreAsegGrupal.errors?.pattern && erroresGrupal.generoGrupal.value !== 'MORAL'">
                                            <div class="ml-3">
                                                Campo inválido, formato incorrecto, el nombre no debe llevar espacios, números, ni caracteres especiales.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group" >
                                        <input type="text" formControlName="emailAsegGrupal" placeholder="Email" class="form-control form-control-lg"
                                               value="" (blur)="updateData()">
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.emailAsegGrupal.touched && erroresGrupal.emailAsegGrupal.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de ingresar E-mail
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.emailAsegGrupal.touched && erroresGrupal.emailAsegGrupal.errors?.pattern">
                                            <div class="ml-3">
                                                Campo inválido, formato de e-mail incorrecto
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group" >
                                        <select formControlName="numeroAsegGrupal" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Número de asegurados</option>
                                            <option value="1-50">1 a 50</option>
                                            <option value="51-100">51 a 100</option>
                                            <option value="mas-100">Mas de 100</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresGrupal.numeroAsegGrupal.touched && erroresGrupal.numeroAsegGrupal.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button id="btnCotizarAuto" type="submit" class="btn btn-success btn-block" [disabled]="cotizarGrupal.invalid">
                                            <p class="lead font-weight-bold my-3 text-white">Cotizar Ahora<img
                                                    src="assets/images/chevron-right-bn.svg" alt=">" width="25"
                                                    height="25" /></p>
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
