/*s*/
.estilo-tabla{
    color: white;
    text-align: center;
    background-color: #0BDEAC;
    padding: 0px;
}
.image-upload{
cursor: pointer;
}
.size-icon{
    cursor: pointer;
    width: 35px;
}
