<div class="container">
    <div class="row mt-4 "><h3>Cobranza</h3></div>
    <loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>
    <div class="row">
        <div class="filterGrayScale">
            <input type="text" class="form-control mb-2" placeholder="Buscar por poliza" #txtSearch
                   (keyup)="onSearch( txtSearch.value )"/>
        </div>
        <div>
            <table style="font-size: 0.9rem; text-transform: uppercase" class="table table-responsive ">
                <thead class="estilo-tabla">
                <tr>
                    <th scope="col">Póliza</th>
                    <th scope="col">Ramo</th>
                    <th scope="col">Aseguradora</th>
                    <th scope="col">Prima total</th>
                    <th scope="col">Prima neta</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Submarca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Inicio vigencia</th>
                    <th scope="col">Fecha limite</th>
                    <th scope="col">Tipo póliza</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ele of cobranza | pagination:page:search ">
                    <td>{{ele.poliza}}</td>
                    <td>Auto</td>
                    <td>{{ele.nombreComercial}}</td>
                    <td>{{ele.cantidad | currency:'USD':'symbol':'1.0-0'}}</td>
                    <td>{{ele.primaNeta | currency:'USD':'symbol':'1.0-0'}}</td>
                    <td>{{ele.datosProductoCliente.marca}}</td>
                    <td>{{ele.datosProductoCliente.descripcion}}</td>
                    <td>{{ele.datosProductoCliente.modelo}}</td>
                    <td>{{ele.fechaInicio | date:'dd/MM/yyyy'}}</td>
                    <td>{{ele.fechaVencimiento | date:'dd/MM/yyyy'}} </td>
                    <td>{{ele.tipoPoliza}} </td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <div class="image-upload" *ngIf="!ele.archivo">
                                <label >
                                    <img class="size-icon" src="assets/images/descargar.svg" title="Subir poliza" >
                                    <input type="file" hidden (change)="cargarArchivo($event, ele.id)"/>
                                </label>
                            </div>
                            <app-modal-poliza *ngIf="ele.archivo" [url]="ele.archivo" [icono]="'poliza.svg'"
                                              [titulo]="'POLIZA'"></app-modal-poliza>
                        </div>
                    </td>
<!--                    <td>-->
<!--                        <div class="d-flex justify-content-around">-->
<!--                            <app-modal-poliza [id]="ele.id" [icono]="'comprobante.svg'"-->
<!--                                              [titulo]="'COMPROBANTE DE PAGO'"></app-modal-poliza>-->
<!--                        </div>-->
<!--                    </td>-->
                    <td>
                        <div class="d-flex justify-content-around">
                            <div class="image-upload" *ngIf="!ele.clienteArchivo">
                                <label >
                                    <img class="size-icon" src="assets/images/descargar.svg" title="Subir art. 492" >
                                    <input type="file" hidden (change)="cargarCliente($event, ele.idCliente)"/>
                                </label>
                            </div>
                            <app-modal-poliza *ngIf="ele.clienteArchivo" [url]="ele.clienteArchivo"
                                              [icono]="'art492.svg'" [titulo]="'ART.492'"></app-modal-poliza>
                        </div>
                    </td>
                    <td>
                        <app-modal-poliza [id]="ele.id" [icono]="'recibo.svg'"
                                          [titulo]="'RECIBO DE PAGO'"></app-modal-poliza>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 col-md-4 text-center text-md-end ">
                    <button class="btn btn-primary" (click)="prevPage()" [disabled]="(contador===1)">Anterior</button>
                </div>
                <div class="col-sm-12 col-md-4 text-center">Pagina {{contador}} de {{tam}}</div>
                <div class="col-sm-12 col-md-4 text-center text-md-start">
                    <button class="btn btn-primary" (click)="nextPage()" [disabled]="(contador=== tam)">Siguiente
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
