<div class="container-fluid">
    <div class="row page-titles mx-0 go-margin-top">
        <div class="col-12 p-md-0">
            <div class="welcome-text">
                <h4 class="font-weight-bold calendario">Calendario</h4>
            </div>
        </div>
      
    </div>
    
    <div class="row">
        <div class="col-12 pt-3" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; border-radius: 5px;">
            <label class="text-center rounded d-block m-auto">
            <div class="row">
                <div class="col-12 text-center mx-auto">
<!--                    hola-->
                    <p style="font-size: 20px; color: #274F5E;">También puedes <strong> agregar la nueva versión del calendario de </strong> <strong style="color: #00DFAB;">GO</strong> a tu cuenta de Google.</p>
                </div>

            </div>
            <div class="row">
                <a class="col-7 mx-auto mb-3" style=" background-color:#00DFAB; width: 350px; height: 45px; font-size: 20px; border-radius: 10px; color: #fff; font-weight: bold; padding-top: 8px;" href="https://calendar.google.com/calendar/u/0?cid=bTZpcjhjcnYxN2U4NG5jZWtmdjRpdWxrNWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" target="_blank">Agregar calendario GO</a>
            </div>
            </label>
        </div>
        <div class="col-12 mt-4 text-center">
            <div class="card">
                <div class="card-body">
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FMexico_City&amp;src=bTZpcjhjcnYxN2U4NG5jZWtmdjRpdWxrNWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=&amp;showNav=1&amp;showDate=1&amp;title=Calendario%20Go%20Agentes"
                        style="border-width:0 COLO" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
