/* iframe > .mv-daynames-table{color:6f6f6f!important;}
iframe > .view-cap, .view-container-border {
    background-color: #0bdeac!important;
} */

.calendario{
    color: #274F5E ;
    font-size: 23px;
    margin-left: 1%;
}
.tanbien-puedes{
    font-size: 20px;
    color: #274F5E;
}
.margen-calendario{
    margin-left: 25%;
}

@media (min-width: 506px) and (max-width: 1329px){

    .margen-calendario{
        margin-left: 9%;
    }
}
@media (min-width: 1px) and (max-width: 506px){

    .margen-calendario{
        margin-left: 4%;
    }
    .margen-calendario2{
        margin-left: 1%;
    }
}