<div class="row">
    <div class="col-6 esconder">
        <h3 class="d-none d-md-block mx-auto">
            <strong>Aseguradora por linea de negocio: GO</strong>
        </h3>
    </div>
    <div class="col-4">
        <form [formGroup] = "formDescuento">
            <div class="row">
                <div class="col">
                    <select formControlName="selectAseguradora" class="form-control selecteAseg custom-select" (click)="obtenerDescuento(this.formDescuento.controls.selectAseguradora.value)">
                        <option value="">ASEGURADORA</option>
                        <option *ngFor="let aseguradora of aseguradorasArreglo" value="{{aseguradora}}">{{aseguradora}}</option>
                    </select>
                </div>
                <div class="col">
                    <select formControlName="selectDescuento" class="form-control selecteAseg custom-select" (click)="cambioDescuento(this.formDescuento.controls.selectAseguradora.value)">
                        <option value="">Descuento</option>
                        <option *ngFor="let descuento of descuentoSelectGeneral" value="{{descuento}}">{{descuento}} %</option>
                    </select>
                </div>
            </div>

        </form>
    </div>
</div>
<div>
    <div class="card table-responsive" >
        <div class="card-header text-center" >
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="text-align:center;">
                <ng-container matColumnDef="logoAseguradora">
                    <th mat-header-cell *matHeaderCellDef style="display: none"><!--LOGO--></th>
                    <td mat-cell *matCellDef="let element">
                        <div class="py-3 text-center cuad1">
                            <div class="go-insurance2">
                                <img src="assets/images/aseguradoras-multi/{{ element.insuranceCompanyID }}.png " [ngClass]="(element.webServiceEnabled === false) ? 'filterGrayScale' : '' " class="logoTabla">
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="aseguradora">
                    <th mat-header-cell *matHeaderCellDef style="display: none"><!--ASEGURADORA--></th>
                    <td mat-cell *matCellDef="let element" class="nuevaFormaNuevo "> {{(element.descriptionWebService !== '') ? element.descriptionWebService : 'No cuentan con descripcion' }} </td>
                </ng-container>
                <ng-container matColumnDef="descuentoActual">
                    <th mat-header-cell *matHeaderCellDef style="display: none"><!--DescuentoActual--></th>
                    <td mat-cell *matCellDef="let element" class="nuevaFormaNuevo">
                        <div>{{element.discount}} %</div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef style="display: none"><!--DESCRIPCION--></th>
                    <td mat-cell *matCellDef="let element" class="quitarActivo">
                        <div>{{element.isEnabledGeneral ? 'ACTIVO':'INACTIVO'}}</div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="onOff">
                    <th mat-header-cell *matHeaderCellDef style="display: none"><!--OFF / ON--></th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle class="onoff" [(ngModel)]="element.isEnabledGeneral" (click)="prenderApagar(element.insuranceCompanyID, element.isEnabledGeneral)"></mat-slide-toggle>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
