table {
    width: 100%;
}
td {
    font-size: 16px;
}

th {
    font-size: 20px;
    display: none;
}
.selecteAseg{
    text-align:center;
}

.nuevaFormaNuevo{

}
.logoTabla{
    width:100px
}
.quitarActivo{
}
.onoff{
}
@media (min-width: 320px) and (max-width: 425px) {
    .selecteAseg{
        width: 270px;
        margin: 10px;
        margin-left: -152px;
    }

    .nuevaFormaNuevo{
        display: none;
    }
    .logoTabla{
        width: 80px;
    }
    .onoff{
        margin-left: 50px;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .quitarActivo{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .esconder{
        display: none;
    }
    .selecteAseg{
        width: 363px;
        margin-left: 79%;
        margin-top: 10px;
    }
    .quitarActivo{
        display: none;
    }

}
