<div class="container-fluid">
    <div class="row page-titles mx-0 go-margin-top">
        <div class="col-12 p-md-0">
            <div class="welcome-text">
                <h4 class="font-weight-bold" style="color: #274F5E;">Material para Redes Sociales</h4>
            </div>
        </div>
    </div>
    <div class="posts">
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bold" style="color: #274F5E;">Datos AMIS</h5>
            </div>
            <div class="col-12 col-sm-4 postInd" *ngFor="let imgRedes of datosAmi">
                <div class="card">
                    <div class="card-body" >
                        <a href="{{imgRedes.ruta}}" target="_blank">
                            <img src="{{imgRedes.ruta}}" alt="go1" class="img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bold" style="color: #274F5E;">Descuentos del mes</h5>
            </div>
            <div class="col-12 col-sm-4 postInd" *ngFor="let imgRedes of descuentosMes">
                <div class="card">
                    <div class="card-body" >
                        <a href="{{imgRedes.ruta}}" target="_blank">
                            <img src="{{imgRedes.ruta}}" alt="go1" class="img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bold" style="color: #274F5E;">GO</h5>
            </div>
            <div class="col-12 col-sm-4 postInd" *ngFor="let imgRedes of go">
                <div class="card">
                    <div class="card-body" >
                        <a href="{{imgRedes.ruta}}" target="_blank">
                            <img src="{{imgRedes.ruta}}" alt="go1" class="img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bold" style="color: #274f5e;">Uso del portal</h5>
            </div>
            <div class="col-12 col-sm-4 postInd" *ngFor="let imgRedes of usoPortal">
                <div class="card">
                    <div class="card-body" >
                        <a href="{{imgRedes.ruta}}" target="_blank">
                            <img src="{{imgRedes.ruta}}" alt="go1" class="img-thumbnail">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
