<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card px-3 pt-3 pb-0">
                <h3 class="font-weight-bold px-3 py-3 mb-0">Bienvenido a GO</h3>
                <div class="profile card-body p-0 rounded-bottom">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div *ngFor="let imagen of imagenes" class="carousel-item" [ngClass]="{'active':imagen['id']=='1','':imagen['id']>='2'}" id="item{{imagen['id']}}">
                                <img src="{{imagen['urlImagen']}}" class="d-block w-100" alt="...">
                            </div>
                        </div>

                        <div class="indicadores-container mini">
                            <button *ngFor="let imagen of imagenes" type="button" data-bs-target="#carouselExampleIndicators"  class="indicador " aria-current="true" aria-label="Slide 1" (click)="changeClass(imagen['id']);"><img src="{{imagen['urlImagen']}}" class="d-block w-100" alt="..."></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <phone-book></phone-book>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="text-center margen-top">
                                    <h4 class="font-weight-bold px-md-3 py-3 mb-0 afiliados-go">Afiliados GO a</h4>
                                    <h4 class="font-weight-bold px-md-3 py-3 mb-0 nivel-nacional">Nivel Nacional</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <img src="/assets/images/pais.png" alt="mapa" class="img-fluid" style="margin:0 auto;display:block;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>