
.slider{display:block;position:relative;margin:0px auto;width:100%;max-width:980px;/*max-height:440px;*/max-height:560px;overflow:hidden;/*border:8px solid #589a70;*//*box-shadow:-8px 8px 0 0 #000;*/padding:0;}
.image-container {position:relative;left:0;transition:left 0.3s;-webkit-animation:slider 32s infinite;animation:slider 32s infinite;}
.image-container img {display:block;float:left;}
.four-images{width:400%;}
.four-images img {width:25%;}
.indicadores-container{display: flex; padding: 0px 50px 0px 50px; justify-content: center; align-content: center }
.indicador{border:none;  }
.indicador img {border: none; width: 50%; height: 70px; margin:0px auto 0px;}
.imgthumb{height:90px!important;width:120px;}


/*@-webkit-keyframes slider {
  20% {
    left: 0%;
  }
  25%,45% {
    left: -100%;
  }
  50%,70% {
    left: -200%;
  }
  75%,95% {
    left: -300%;
  }
}*/
@keyframes slider {
  25% {
    left: 0%;
  }
  26%,50% {
    left: -100%;
  }
  51%,75% {
    left: -200%;
  }
  76%,100% {
    left: -300%;
  }
}

.margen-top{
  margin-top: 8%;
}
.afiliados-go{
  color: #274F5E;
  font-weight:bold;
  font-size: 55px;
}
.nivel-nacional{
  color: #0BDEAC;
  font-weight:bold;
  font-size: 55px;
}

@media (min-width: 300px) and (max-width: 658px){
.mini{
display: none;
}

}
@media (min-width: 1px) and (max-width: 300px){
.mini{
  display: none;
  }
}

