<div class="footer">    
        <small class="text-muted">Desarrollado por NEXOS LAB | <a>Acerca de GO Agentes Digitales S. de R. L. de C.V.</a></small>
</div>
<div style=" margin-top:50px;
    width:100%;
    height:200px;">
    <!-- //api.whatsapp.com/send?phone=+5215619161018&text=Necesito%20ayuda%20 -->
    <a class="btn btn-whats" href="https://api.whatsapp.com/send/?phone=%2B5215536349135&text&app_absent=0" target="_blank">
        <img src="assets/images/iconos/whatsapp.svg" alt="whatsapp" class="whats">
    </a>
</div>
<!-- footer ini -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-light my-5">
            
    <div class="d-block m-auto text-center">
        
    </div>
    
    <div class="modal fade" id="avisoModal" tabindex="-1" role="dialog" aria-labelledby="avisoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Legales</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <p class="lead">
                        GO Agentes Digitales S. R. L. de C.V. es propietario de todos los derechos de propiedad intelectual, industrial o derecho de autor, relativos al diseño, funciones u operaciones que integran el Sitio, por lo que el uso del mismo no constituye una licencia
                        al usuario para utilizar el nombre, diseños, signos distintivos, marcas o cualquier otro aplicable, propiedad de la persona moral señalada.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

        </div>
    </div>
</div> -->
<!-- footer fin -->
