<div class="widget-stat card">
    <div class="card-body">
        <h4 class="font-weight-bold px-3 py-3 mt-4 mb-0 titular">Directorio GO</h4>
        <div class="row">
            <div class="col-lg-4 py-3" *ngFor="let book of phoneBook">
                <div class="card phone-book">
                    <div class="card-body sombra">
                        <img src="{{book['imagen']}}" class="img-responsive m-auto d-block" alt="" width="100" height="100">
                        <div class="row">
                            <div class="col-12 text-center">
                                <span class="nombres" style="font-weight:400">{{book['nombre']}}</span>
                            </div>
                            <div class="col-12 text-center">
                                <span class="puesto" style="font-weight:700">{{book['puesto']}}</span>
                            </div>
                            <div class="col-12 text-center">
                                <a href="mailto:{{book['correo']}}" class="correos" style="font-weight:400">{{book['correo']}}</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
