.titular{
    color: #274F5E;
    font-weight: bold;
}
.mg-responsive{
    display: inline;
    display: block;
    margin-left:37%;
}
.nombres{
    margin-top: 7px;
    font-weight: bolder;
    font-size: 20px;
    color: #0BDEAC;}
.correos{color:#274F5E;font-size:0.9rem;margin-bottom:10px;}
.puesto{color:#274F5E ;font-size:1rem;}
.sombra{box-shadow: 0px 10px 12px -10px #656565;border-radius: 15px;}
.phone-book > .card-body{padding:1rem!important;}
/*@media (min-width: 676px)and (max-width: 991px){
    .mg-responsive{
        display: inline;
        display: block;
        margin-left:44%;
    }
}
@media (min-width: 320px)and (max-width: 676px){
    .mg-responsive{
        display: inline;
        display: block;
        margin-left:40%;
    }
}
@media (min-width: 320px)and (max-width: 444px){
    .mg-responsive{
        display: inline;
        display: block;
        margin-left:32%;
    }
}*/