<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-12 p-md-0 mt-4">
            <h3 class="col-auto font-weight-bold p-0">
<!--                <strong>Ingresa los datos para cotizar:</strong>-->
            </h3>
        </div>
    </div>
    <div class="row" style="margin-bottom: 300px;">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4 centrarImagen" style="">
                    <img src="../../../../../assets/images/login/businessman-login.png" class="imgGOlogin" />
                </div>
                <div class="col-12 col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h3 class="letrasStyles text-uppercase clasletra"> Gracias por tu preferencia.<span class="LetraEscribir">&#160;</span></h3>
                            </div>
                            <hr>
                            <div class="col letrasCentras clasletra" style="margin-top: 136.5px" *ngIf="tiempoEspera === true">
                                  tu auto ya está protegido con la aseguradora : <span class="LetraEscribir2">&#160;</span>

                            </div>

                            <div>
                                <img src="assets/images/aseguradoras/{{this.aseguradoraSelected}}.svg" class="img-fluid"
                                     alt="logos" style="width:100%;display:block;height:198px;margin:auto;margin-top: 19.5rem!important" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
