.centrarImagen{
    margin-top: 100px;
}

.letrasStyles{
    margin: 20px;
    font-size: 44px;
    font-family: monospace;
    text-align: center;

}

.letrasCentras{
    font-size: 26px;
    font-family: monospace;
    text-align: center;

}

.clasletra{
    float: left;
    color: #444;
    position: relative;
}

.LetraEscribir{
    position: absolute;
    right: 0;
    width: 0;
    background-color: #fff;
    border-left: 1px solid #0D1E3A;
    animation: maquina 5s alternate steps(35);
}

.clasletra2{
    float: left;
    color: #444;
    position: relative;
}

.LetraEscribir2{
    position: absolute;
    right: 0;
    width: 0;
    background-color: #fff;
    border-left: 1px solid #0D1E3A;
    animation: maquina 5s alternate steps(46);
}


@keyframes maquina {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
.imgGOlogin {
    aspect-ratio: 2/5;
    width: 50%;
    height: auto;
    margin-left: 23px;
    margin-top: 7px;
}
