/*shotokanleo*/


/*genericPay INI*/


/*!
 * bsStepper v1.7.0 (https://github.com/Johann-S/bs-stepper)
 * Copyright 2018 - 2019 Johann-S <johann.servoire@gmail.com>
 * Licensed under MIT (https://github.com/Johann-S/bs-stepper/blob/master/LICENSE)
 */
.tamanoLoader{
    width: 110% !important;
}
.bs-stepper .step-trigger {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #6c757d;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: none;
    border-radius: .25rem;
    transition: background-color .15s ease-out, color .15s ease-out;
}

.bs-stepper .step-trigger:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.bs-stepper .step-trigger:disabled,
.bs-stepper .step-trigger.disabled {
    pointer-events: none;
    opacity: .65;
}

.bs-stepper .step-trigger:focus {
    color: #007bff;
    outline: none
}

.bs-stepper .step-trigger:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, .06)
}

@media (max-width: 520px) {
    .bs-stepper .step-trigger {
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px;
    }
}

.bs-stepper-label {
    display: inline-block;
    margin: .25rem;
}

.bs-stepper-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 520px) {
    .bs-stepper-header {
        margin: 0 -10px;
        text-align: center;
    }
}

.bs-stepper-line,
.bs-stepper .line {
    -ms-flex: 1 0 32px;
    flex: 1 0 32px;
    min-width: 1px;
    min-height: 1px;
    margin: auto;
    background-color: rgba(0, 0, 0, .12);
}

@media (max-width: 400px) {
    .bs-stepper-line,
    .bs-stepper .line {
        -ms-flex-preferred-size: 20px;
        flex-basis: 20px;
    }
    .img-go-movil{
        display: block;
    }
}

.bs-stepper-circle {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: .5em 0;
    margin: .25rem;
    line-height: 1em;
    color: #fff;
    background-color: #6c757d;
    border-radius: 1em;
}

.active .bs-stepper-circle {
    background-color: #007bff;
}

.bs-stepper-content {
    padding: 0 20px 20px;
}

@media (max-width: 520px) {
    .bs-stepper-content {
        padding: 0;
    }
}

.bs-stepper.vertical {
    display: -ms-flexbox;
    display: flex;
}

.bs-stepper.vertical .bs-stepper-header {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0;
}

.bs-stepper.vertical .bs-stepper-pane,
.bs-stepper.vertical .content {
    display: block;
}

.bs-stepper.vertical .bs-stepper-pane:not(.fade),
.bs-stepper.vertical .content:not(.fade) {
    display: block;
    visibility: hidden;
}

.bs-stepper-pane:not(.fade),
.bs-stepper .content:not(.fade) {
    display: none;
}

.bs-stepper .content.fade,
.bs-stepper-pane.fade {
    visibility: hidden;
    transition-duration: .3s;
    transition-property: opacity;
}

.bs-stepper-pane.fade.active,
.bs-stepper .content.fade.active {
    visibility: visible;
    opacity: 1;
}

.bs-stepper-pane.active:not(.fade),
.bs-stepper .content.active:not(.fade) {
    display: block;
    visibility: visible;
}

.bs-stepper-pane.dstepper-block,
.bs-stepper .content.dstepper-block {
    display: block;
}

.bs-stepper:not(.vertical) .bs-stepper-pane.dstepper-none,
.bs-stepper:not(.vertical) .content.dstepper-none {
    display: none;
}

.vertical .bs-stepper-pane.fade.dstepper-none,
.vertical .content.fade.dstepper-none {
    visibility: hidden;
}

.creditimg {
    width: 75px;
    padding-left: 3px;
    padding-right: 10px;
}


/*# sourceMappingURL=bs-stepper.css.map */


/*genericPay FIN*/


/* ini icons */

@font-face {
    font-family: 'simple-line-icons';
    src: url('/assets/css/simple-line-icons/fonts/Simple-Line-Icons4c82.eot?-i3a2kk');
    src: url('/assets/css/simple-line-icons/fonts/Simple-Line-Iconsd41d.eot?#iefix-i3a2kk') format('embedded-opentype'), url('/assets/css/simple-line-icons/fonts/Simple-Line-Icons4c82.ttf?-i3a2kk') format('truetype'), url('/assets/css/simple-line-icons/fonts/Simple-Line-Icons4c82.woff2?-i3a2kk') format('woff2'), url('/assets/css/simple-line-icons/fonts/Simple-Line-Icons4c82.woff?-i3a2kk') format('woff'), url('/assets/css/simple-line-icons/fonts/Simple-Line-Icons4c82.svg?-i3a2kk#simple-line-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-user,
.icon-people,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-login,
.icon-logout,
.icon-emotsmile,
.icon-phone,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-map,
.icon-location-pin,
.icon-direction,
.icon-directions,
.icon-compass,
.icon-layers,
.icon-menu,
.icon-list,
.icon-options-vertical,
.icon-options,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-arrow-left-circle,
.icon-arrow-right-circle,
.icon-arrow-down-circle,
.icon-check,
.icon-clock,
.icon-plus,
.icon-close,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-plane,
.icon-notebook,
.icon-mustache,
.icon-mouse,
.icon-magnet,
.icon-energy,
.icon-disc,
.icon-cursor,
.icon-cursor-move,
.icon-crop,
.icon-chemistry,
.icon-speedometer,
.icon-shield,
.icon-screen-tablet,
.icon-magic-wand,
.icon-hourglass,
.icon-graduation,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglass,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-folder-alt,
.icon-folder,
.icon-film,
.icon-feed,
.icon-drop,
.icon-drawar,
.icon-docs,
.icon-doc,
.icon-diamond,
.icon-cup,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-frame,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-loop,
.icon-home,
.icon-grid,
.icon-graph,
.icon-microphone,
.icon-music-tone-alt,
.icon-music-tone,
.icon-earphones-alt,
.icon-earphones,
.icon-equalizer,
.icon-like,
.icon-dislike,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-calender,
.icon-bulb,
.icon-chart,
.icon-ban,
.icon-bubble,
.icon-camrecorder,
.icon-camera,
.icon-cloud-download,
.icon-cloud-upload,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-heart,
.icon-info,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-symble-female,
.icon-symbol-male,
.icon-target,
.icon-credit-card,
.icon-paypal,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-facebook,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pintarest,
.icon-social-github,
.icon-social-gplus,
.icon-social-reddit,
.icon-social-skype,
.icon-social-dribbble,
.icon-social-behance,
.icon-social-foursqare,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-stumbleupon,
.icon-social-youtube,
.icon-social-dropbox {
    font-family: 'simple-line-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e005";
}

.icon-people:before {
    content: "\e001";
}

.icon-user-female:before {
    content: "\e000";
}

.icon-user-follow:before {
    content: "\e002";
}

.icon-user-following:before {
    content: "\e003";
}

.icon-user-unfollow:before {
    content: "\e004";
}

.icon-login:before {
    content: "\e066";
}

.icon-logout:before {
    content: "\e065";
}

.icon-emotsmile:before {
    content: "\e021";
}

.icon-phone:before {
    content: "\e600";
}

.icon-call-end:before {
    content: "\e048";
}

.icon-call-in:before {
    content: "\e047";
}

.icon-call-out:before {
    content: "\e046";
}

.icon-map:before {
    content: "\e033";
}

.icon-location-pin:before {
    content: "\e096";
}

.icon-direction:before {
    content: "\e042";
}

.icon-directions:before {
    content: "\e041";
}

.icon-compass:before {
    content: "\e045";
}

.icon-layers:before {
    content: "\e034";
}

.icon-menu:before {
    content: "\e601";
}

.icon-list:before {
    content: "\e067";
}

.icon-options-vertical:before {
    content: "\e602";
}

.icon-options:before {
    content: "\e603";
}

.icon-arrow-down:before {
    content: "\e604";
}

.icon-arrow-left:before {
    content: "\e605";
}

.icon-arrow-right:before {
    content: "\e606";
}

.icon-arrow-up:before {
    content: "\e607";
}

.icon-arrow-up-circle:before {
    content: "\e078";
}

.icon-arrow-left-circle:before {
    content: "\e07a";
}

.icon-arrow-right-circle:before {
    content: "\e079";
}

.icon-arrow-down-circle:before {
    content: "\e07b";
}

.icon-check:before {
    content: "\e080";
}

.icon-clock:before {
    content: "\e081";
}

.icon-plus:before {
    content: "\e095";
}

.icon-close:before {
    content: "\e082";
}

.icon-trophy:before {
    content: "\e006";
}

.icon-screen-smartphone:before {
    content: "\e010";
}

.icon-screen-desktop:before {
    content: "\e011";
}

.icon-plane:before {
    content: "\e012";
}

.icon-notebook:before {
    content: "\e013";
}

.icon-mustache:before {
    content: "\e014";
}

.icon-mouse:before {
    content: "\e015";
}

.icon-magnet:before {
    content: "\e016";
}

.icon-energy:before {
    content: "\e020";
}

.icon-disc:before {
    content: "\e022";
}

.icon-cursor:before {
    content: "\e06e";
}

.icon-cursor-move:before {
    content: "\e023";
}

.icon-crop:before {
    content: "\e024";
}

.icon-chemistry:before {
    content: "\e026";
}

.icon-speedometer:before {
    content: "\e007";
}

.icon-shield:before {
    content: "\e00e";
}

.icon-screen-tablet:before {
    content: "\e00f";
}

.icon-magic-wand:before {
    content: "\e017";
}

.icon-hourglass:before {
    content: "\e018";
}

.icon-graduation:before {
    content: "\e019";
}

.icon-ghost:before {
    content: "\e01a";
}

.icon-game-controller:before {
    content: "\e01b";
}

.icon-fire:before {
    content: "\e01c";
}

.icon-eyeglass:before {
    content: "\e01d";
}

.icon-envelope-open:before {
    content: "\e01e";
}

.icon-envelope-letter:before {
    content: "\e01f";
}

.icon-bell:before {
    content: "\e027";
}

.icon-badge:before {
    content: "\e028";
}

.icon-anchor:before {
    content: "\e029";
}

.icon-wallet:before {
    content: "\e02a";
}

.icon-vector:before {
    content: "\e02b";
}

.icon-speech:before {
    content: "\e02c";
}

.icon-puzzle:before {
    content: "\e02d";
}

.icon-printer:before {
    content: "\e02e";
}

.icon-present:before {
    content: "\e02f";
}

.icon-playlist:before {
    content: "\e030";
}

.icon-pin:before {
    content: "\e031";
}

.icon-picture:before {
    content: "\e032";
}

.icon-handbag:before {
    content: "\e035";
}

.icon-globe-alt:before {
    content: "\e036";
}

.icon-globe:before {
    content: "\e037";
}

.icon-folder-alt:before {
    content: "\e039";
}

.icon-folder:before {
    content: "\e089";
}

.icon-film:before {
    content: "\e03a";
}

.icon-feed:before {
    content: "\e03b";
}

.icon-drop:before {
    content: "\e03e";
}

.icon-drawar:before {
    content: "\e03f";
}

.icon-docs:before {
    content: "\e040";
}

.icon-doc:before {
    content: "\e085";
}

.icon-diamond:before {
    content: "\e043";
}

.icon-cup:before {
    content: "\e044";
}

.icon-calculator:before {
    content: "\e049";
}

.icon-bubbles:before {
    content: "\e04a";
}

.icon-briefcase:before {
    content: "\e04b";
}

.icon-book-open:before {
    content: "\e04c";
}

.icon-basket-loaded:before {
    content: "\e04d";
}

.icon-basket:before {
    content: "\e04e";
}

.icon-bag:before {
    content: "\e04f";
}

.icon-action-undo:before {
    content: "\e050";
}

.icon-action-redo:before {
    content: "\e051";
}

.icon-wrench:before {
    content: "\e052";
}

.icon-umbrella:before {
    content: "\e053";
}

.icon-trash:before {
    content: "\e054";
}

.icon-tag:before {
    content: "\e055";
}

.icon-support:before {
    content: "\e056";
}

.icon-frame:before {
    content: "\e038";
}

.icon-size-fullscreen:before {
    content: "\e057";
}

.icon-size-actual:before {
    content: "\e058";
}

.icon-shuffle:before {
    content: "\e059";
}

.icon-share-alt:before {
    content: "\e05a";
}

.icon-share:before {
    content: "\e05b";
}

.icon-rocket:before {
    content: "\e05c";
}

.icon-question:before {
    content: "\e05d";
}

.icon-pie-chart:before {
    content: "\e05e";
}

.icon-pencil:before {
    content: "\e05f";
}

.icon-note:before {
    content: "\e060";
}

.icon-loop:before {
    content: "\e064";
}

.icon-home:before {
    content: "\e069";
}

.icon-grid:before {
    content: "\e06a";
}

.icon-graph:before {
    content: "\e06b";
}

.icon-microphone:before {
    content: "\e063";
}

.icon-music-tone-alt:before {
    content: "\e061";
}

.icon-music-tone:before {
    content: "\e062";
}

.icon-earphones-alt:before {
    content: "\e03c";
}

.icon-earphones:before {
    content: "\e03d";
}

.icon-equalizer:before {
    content: "\e06c";
}

.icon-like:before {
    content: "\e068";
}

.icon-dislike:before {
    content: "\e06d";
}

.icon-control-start:before {
    content: "\e06f";
}

.icon-control-rewind:before {
    content: "\e070";
}

.icon-control-play:before {
    content: "\e071";
}

.icon-control-pause:before {
    content: "\e072";
}

.icon-control-forward:before {
    content: "\e073";
}

.icon-control-end:before {
    content: "\e074";
}

.icon-volume-1:before {
    content: "\e09f";
}

.icon-volume-2:before {
    content: "\e0a0";
}

.icon-volume-off:before {
    content: "\e0a1";
}

.icon-calender:before {
    content: "\e075";
}

.icon-bulb:before {
    content: "\e076";
}

.icon-chart:before {
    content: "\e077";
}

.icon-ban:before {
    content: "\e07c";
}

.icon-bubble:before {
    content: "\e07d";
}

.icon-camrecorder:before {
    content: "\e07e";
}

.icon-camera:before {
    content: "\e07f";
}

.icon-cloud-download:before {
    content: "\e083";
}

.icon-cloud-upload:before {
    content: "\e084";
}

.icon-envelope:before {
    content: "\e086";
}

.icon-eye:before {
    content: "\e087";
}

.icon-flag:before {
    content: "\e088";
}

.icon-heart:before {
    content: "\e08a";
}

.icon-info:before {
    content: "\e08b";
}

.icon-key:before {
    content: "\e08c";
}

.icon-link:before {
    content: "\e08d";
}

.icon-lock:before {
    content: "\e08e";
}

.icon-lock-open:before {
    content: "\e08f";
}

.icon-magnifier:before {
    content: "\e090";
}

.icon-magnifier-add:before {
    content: "\e091";
}

.icon-magnifier-remove:before {
    content: "\e092";
}

.icon-paper-clip:before {
    content: "\e093";
}

.icon-paper-plane:before {
    content: "\e094";
}

.icon-power:before {
    content: "\e097";
}

.icon-refresh:before {
    content: "\e098";
}

.icon-reload:before {
    content: "\e099";
}

.icon-settings:before {
    content: "\e09a";
}

.icon-star:before {
    content: "\e09b";
}

.icon-symble-female:before {
    content: "\e09c";
}

.icon-symbol-male:before {
    content: "\e09d";
}

.icon-target:before {
    content: "\e09e";
}

.icon-credit-card:before {
    content: "\e025";
}

.icon-paypal:before {
    content: "\e608";
}

.icon-social-tumblr:before {
    content: "\e00a";
}

.icon-social-twitter:before {
    content: "\e009";
}

.icon-social-facebook:before {
    content: "\e00b";
}

.icon-social-instagram:before {
    content: "\e609";
}

.icon-social-linkedin:before {
    content: "\e60a";
}

.icon-social-pintarest:before {
    content: "\e60b";
}

.icon-social-github:before {
    content: "\e60c";
}

.icon-social-gplus:before {
    content: "\e60d";
}

.icon-social-reddit:before {
    content: "\e60e";
}

.icon-social-skype:before {
    content: "\e60f";
}

.icon-social-dribbble:before {
    content: "\e00d";
}

.icon-social-behance:before {
    content: "\e610";
}

.icon-social-foursqare:before {
    content: "\e611";
}

.icon-social-soundcloud:before {
    content: "\e612";
}

.icon-social-spotify:before {
    content: "\e613";
}

.icon-social-stumbleupon:before {
    content: "\e614";
}

.icon-social-youtube:before {
    content: "\e008";
}

.icon-social-dropbox:before {
    content: "\e00c";
}


/*fin icons*/

html,
body {
    background: #fcfcfc;
    height: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #3d4465;
}

* {
    /* color: #535a61; */
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}


/*card*/

.card {
    margin-bottom: 1.875rem;
    background-color: #fff;
    transition: all .5s ease-in-out;
    position: relative;
    border: 0 solid transparent;
    border-radius: 20px;
    box-shadow: 0 12px 23px 0 rgb(62 73 84 / 4%);
    height: calc(100% - 30px);
}

.card-header {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-header {
    border-color: #f0f1f5;
    position: relative;
    background: 0 0;
    padding: 1.5rem 1.875rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/**/

.fz10 {
    width: 10px;
    height: 10px;
    display: block;
    float: right;
    line-height: 1.8;
}


/*$primary  : #7356f1 !default;*/


/*@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");*/


/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
*/


/*.......menu ini.......*/

.deznav {
    overflow-y: scroll;
}

.deznavDesktop {
    width: 17rem!important;
}

.deznavMobile {
    width: auto!important;
    max-width: 10rem!important;
}

.mDesktop {
    margin-left: 17rem!important;
}

.mMobile {
    margin-left: 10rem!important;
}

.nav-header {
    position: fixed;
}

/* ul#menu { 
    color: #535a61;
    display: inline-flex;
    list-style: none;
    margin-left: 0rem;
    padding-left: 0;
    
}


ul#menu li {
    list-style: none;
    margin: 1rem auto;
}

ul#menu li a{
    color: #535a61;
    text-decoration: none;
}
ul#menu li  {
    color: #535a61;
    font-size: 0.9rem;
    text-decoration: none;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.menu2{
    color: #535a61;
    display: none; 

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
} 

ul#menu li:hover {
    cursor: pointer;
    color: #0bdeac !important;
    background-size: 100% 2px;
}
ul#menu li:hover .menu2 {
    
    border-radius: 15px;
    display: block;
    position: absolute; 
    background: #FFFFFF;
    box-shadow: 0px 10px 10px -6px black;
    color: #0bdeac !important;
    background-size: 100% 2px;
    padding-top: 5px;
    padding-bottom: 5px !important;
}
.menu3{
    color: #535a61;
    display: none;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
} 
ul#menu li .menu2 li:hover .menu3{
    color: #0bdeac !important;
    border-radius: 15px;
    margin-left: 32%;
    position: absolute;
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 10px -6px black;
    padding-top: 5px;
    padding-bottom: 5px !important;
}

ul#menu li a i {
    font-size: 18px;
}

ul#menu li a .nav-text {
    margin: 0 auto;
    padding-left: 1px;
    padding-right: 10px;
}

ul#menu li ul {
    padding-left: 20px;
    width: 250px;
}

ul#menu li ul>li {
    list-style: none;
} */
/* nuevo codigo inicio*/






/*.......menu fin .......*/


/* Editable */

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
}

.sk-three-bounce {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
}

.sk-three-bounce .sk-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #0bdeac;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* ===========LOGOS ASEGURADORAS=========== */

#primero-sprite {
    width: 70px;
    height: 60px;
    margin: 0px auto;
    background-image: url('assets/images/aseguradoras-multi/PRIMERO.png');
    background-size: 1612px;
    /* background-repeat: repeat-x; */
    /* background-position: -188px -265px; */
}

.logo-sprite {
    width: 70px;
    height: 60px;
    margin: 0px auto;
    background-image: url('assets/images/sprite.svg');
    background-size: 1656px;
    background-repeat: repeat-x;
}

#one-sprite {
    background-position: -42px -265px;
}

#two-sprite {
    background-position: -117px -265px;
}

#three-sprite {
    width: 70px;
    height: 60px;
    margin: 0px auto;
    background-image: url('assets/images/sprite.svg');
    background-size: 1612px;
    background-repeat: repeat-x;
    background-position: -188px -265px;
}

#four-sprite {
    background-position: -267px -265px;
}

#five-sprite {
    background-position: -343px -265px;
}

#seven-sprite {
    background-position: -493px -265px;
}

#six-sprite {
    background-position: -417px -265px;
}

#eight-sprite {
    background-position: -568px -265px;
}

#nine-sprite {
    background-position: -645px -265px;
}

#ten-sprite {
    background-position: -720px -265px;
}

#eleven-sprite {
    background-position: -797px -265px;
}

#twelve-sprite {
    background-position: -871px -265px;
}

#thirteen-sprite {
    background-position: -945px -265px;
}

#fourteen-sprite {
    background-position: -1022px -265px;
}

#fifteen-sprite {
    background-position: -1096px -265px;
}

#sixteen-sprite {
    background-position: -1173px -265px;
}

#seventeen-sprite {
    background-position: -1248px -265px;
}

#eighteen-sprite {
    background-position: -1325px -265px;
}

#nineteen-sprite {
    background-position: -1474px -265px;
}

#twenty-sprite {
    background-position: -1401px -265px;
}

#twentyOne-sprite {
    background-position: -1552px -265px;
}
#twentyTwo-sprite {
    background-position:-40px -215px;
}
.cursor{
    cursor: pointer;
}

/*FIN aseguradoras*/

.listBancs{
width: 40px;
height: auto;
padding: 10px 0 0 0;
}

.overlayLeo {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(218, 217, 217, 0.8);*/
    background: white;
    height: 100%;
    width: 100%;
}

.overlayLeoAba {
    position: absolute;
    z-index: 1;
    top: -150px;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(218, 217, 217, 0.8);*/
    background: white;
    height: 100%;
    width: 100%;
}

.overlayLeoEmitir {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(218, 217, 217, 0.8);*/
    background: white;
    height: 100%;
}

.pagoUrlEmisionAba {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: rgba(218, 217, 217, 0.8);*/
    background: white;
    height: 100%;
}

.overlayLeo {
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus,
select:focus {
    border: 1px solid #3ea4ec;
    box-shadow: 1px 1px 8px #add4e6;
}


/*Cotizacion COTIZA GO*/

.textoTachado {
    text-decoration: line-through;
    font-size: 1.5rem;
    padding-left: 5rem;
    line-height: 1.1
}

.posicionDescuento {
    position: absolute;
    float: right;
    right: 0rem;
    font-size: 12px;
    padding: 6px;
    color: #FFFFFF;
    background: #00B9E0;
    margin-left: 15%;
    
}

ul li {
    list-style: none;
}


/**/


/**/


/**/


/**/


/**/


/**/


/**/

.hamburger {
    display: inline-block;
    left: 0px;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 26px;
    z-index: 999;
}

.hamburger .line {
    background: #0bdeac;
    display: block;
    height: 3px;
    border-radius: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger .line:nth-child(1) {
    width: 30px;
}

.hamburger .line:nth-child(2) {
    width: 36px;
}

.hamburger .line:nth-child(3) {
    width: 32px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:hover .line {
    width: 36px;
}

.photo-content {
    position: relative;
}

.photo-content .cover-photo {
    /*background: url('assets/images/banner-perfil.png');*/
    background-size: cover;
    background-position: center;
    min-height: 250px;
    width: 100%;
}

.profile .profile-photo {
    max-width: 150px;
    position: relative;
    z-index: 1;
    /*margin-top: -40px;*/
    margin-right: 10px;
}


@media only screen and (max-width: 575px) {
.profile .profile-photo {
width: 80px;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1199px) {
    [direction="rtl"] .profile .profile-photo {
right: 15px;
    }
}

@media only screen and (max-width: 575px) {
    [direction="rtl"] .profile .profile-photo {
width: 80px;
right: calc(50% - 40px);
top: -100px;
    }
    .vchica{
        float: left;
    }
}

.profile-info {
    padding: 15px 20px;
}

@media only screen and (max-width: 575px) {
    .profile-info {
padding: 0 0 20px;
text-align: center;
    }
}

.profile-info h4 {
    color: #464a53 !important;
}

.profile-info h4.text-primary {
    color: #0bdeac !important;
}

.profile-info p {
    color: #828690;
}

.profile-info .prf-col {
    min-width: 250px;
    padding: 10px 50px 0;
}

.profile-info {
    display: flex;
}

@media only screen and (max-width: 575px) {
    .profile-info {
        display: block;
    }
}

.profile-info .profile-details {
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 575px) {
    .profile-info .profile-details {
        display: block;
    }
    .profile-info .profile-details .dropdown {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}


/*breadcrumbs*/

.breadcrumb {
    background-color: transparent;
    /* background: red; */
}

.breadcrumb .breadcrumb-item>a {
    color: #0bdeac;
    text-decoration: none;
    font-weight: normal;
}

.breadcrumb .breadcrumb-item>a:hover {
    color: #0bdeac;
    text-decoration: none;
    font-weight: normal;
}

.page-titles .breadcrumb .breadcrumb-item+.breadcrumb-item:before {
    content: "\e606";
    font-family: simple-line-icons;
    font-size: 10px;
    margin-top: 5px;
}


/**/

.badge {
    padding: .5rem 1rem;
}
.badgenew{
    padding: .1rem .25rem;
    background-color: #ff3f39;
    font-size: .4rem;
    top: 5000px;
    margin-left: 5px;
}
.btn-whats{border:none;padding:0;margin:auto;position:fixed;bottom:1.2rem;right: 1.2rem;z-index:9;}
.whats{width:10rem;height:auto;}

.carousel-control-next, .carousel-control-prev{
    border: 0;
    height: 32px;
    width: 120px;
    margin: auto;
    background: #00bcd4;
    padding: 2% 0%;
    color: #ffffff;
    z-index: 0;
}
.carousel-control-next :hover, .carousel-control-prev :hover{
    opacity: 1;
}

footer {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    /*bajar los datos*/
    overflow: hidden;
    background: #a84242;
    height: 40px;
    /* para posicionar el div abajo */
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.footer {
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.table:not(.table-bordered) thead th {
    border-top: none;
}

.table thead th {
    border-bottom-width: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    border-color: #f0f1f5;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eee;
}

.table th,
.table td {
    border-color: #f0f1f5;
    padding: 12px 9px;
}

.btn-rounded {
    border-radius: 30px!important;
}

.text-primary-go {
    color: #0bdeac;
}

.btn-success {
    color: #fff;
    background-color: #2bc155;
    border-color: #2bc155;
}

.btn-success:hover {
    color: #fff;
    background-color: #24a247;
    border-color: #229743;
}

.btn-info {
    color: #fff;
    background-color: #2781d5;
    border-color: #2781d5;
}

.btn-info:hover {
    color: #fff;
    background-color: #216db5;
    border-color: #1f67aa;
}

.btn-primary {
    color: #fff;
    background-color: #0bdeac;
    border-color: #0bdeac;
}

.btn-secondary {
    color: #fff;
    background-color: #3e4954;
    border-color: #3e4954;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #2e363e;
    border-color: #283037;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00ca9a;
    border-color: #0bdeac;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #0bdeac;
    border-color: #0bdeac;
}

.btn-danger {
    color: #fff;
    background-color: #f72b50;
    border-color: #f72b50;
}

.btn-danger:hover {
    color: #fff;
    background-color: #f30933;
    border-color: #e60931;
}

.btn-warning {
    color: #fff;
    background-color: #ff6d4d;
    border-color: #ff6d4d;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ff4e27;
    border-color: #ff431a;
}

.badge-primary {
    color: #fff;
    background-color: #a1a6a8!important;
    padding: .3rem;
    border-radius: 5px;
}

.btn-sig>span {
    color: #fff!important;
}

.header-right .nav-item {
    height: 100%;
    display: grid;
    align-items: center;
    margin: 1rem auto 0;
}

.header-right .header-profile>a.nav-link .header-info span {
    font-size: 16px;
    color: #0BDEAC;
    display: block;
    font-weight: 400;
    margin-right: 10px;
}

.header-right .header-profile>a.nav-link .header-info strong {
    color: #464a53;
    font-weight: 500;
}

.header-right .header-profile>a.nav-link {
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
    background: #F7F9FB;
    border-radius: .375rem 28px 28px .375rem;
}

.header-right .nav-item .nav-link {
    color: #fff;
    font-size: 18px;
}

.header-right .header-profile img {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    box-shadow: 0 0 0 4px #fff;
}

.dropdown-menu-flex {
    background-color: #fff;
    position: absolute;
    z-index: 3;
    border-width: 0;
    box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    top: 3.5rem;
}

.fullscreen {
    background: #f4f6fd;
    color: #0bdeac;
    border-radius: .375rem;
    padding: 15px;
    margin: 1px 10px 10px;
}

.filterGrayScale {
    filter: grayscale(1);
    opacity: 0.7
}

.msi {
    font-size: 13px;
    font-weight: bolder;
    background: #009FFF;
    padding: 5px 3px;
    border-radius: 4px;
    color: #fff!important;
}
.check{
    width: 14px;
    margin-right: 8px;
}
.checkPDF{
    width: auto;
    margin-right: 5px;
}


/* login */

.rounded-go {
    border-radius: 10px;
}

form#login input {
    padding: 1.5rem;
    border-radius: 6px;
    z-index: 3;
}

form#login button[type="submit"] {
    /*font-size: 1.5rem;*/
    border-radius: 6px;
    /*padding: 1.5rem;*/
    z-index: 3;
}

/*     -----*/
 .ovrfl {
    max-height: 450px;
    max-width: 350px;
    height: 100%;
    /* overflow: hidden; */
    z-index: 2;
    position: absolute;
    left: 4%;
    width: 100%;
     /* bottom: 0;  */
     margin-top: 75px;
     margin-left: 2%;
    
} 

.imgGOlogin {
    aspect-ratio: 2/5;
    width: 82%;
    height: auto;
    margin-left: 152px;
    margin-top: -21px;
}

form#login.customCheckLogin {
    z-index: 3;
}

.logoFlot {
    position: absolute;
    right: 2rem;
    top: 0;
    max-width: 210px;
    padding: 1rem;
}

.logoLOGIN {
    width: 286px;
    height: 115px;
    aspect-ratio: 2/1;
    margin-left: -66%;
}
@media (min-width: 1465px) and (max-width: 1543px){
    .imgGOlogin {
        aspect-ratio: 2/5;
        width: 80%;
        height: auto;
        margin-left: 67px;
        margin-top: 7px;
    }
}
@media (min-width: 1100px) and (max-width: 1465px){
    .imgGOlogin {
        aspect-ratio: 2/5;
        width: 80%;
        height: auto;
        margin-left: -1px;
        margin-top: 7px;
    }
}
@media (min-width: 1101px) and (max-width: 1300px) {
    .ovrfl{
        left: 0%;
    }
    .imgGOlogin {
     
        aspect-ratio: 2/5;
        width: 80%;
        height: auto;
        margin-left: 23px;
        margin-top: 7px;
    }
    .margenheader2{
        display: none;
    }
    
}
@media (min-width: 992px) and (max-width: 1100px) {
    .ovrfl {
        left: 0%;
        max-width: 300px;
        max-height: 400px;
         max-width: 300px;
    }
    .imgGOlogin {
        width: 111%;
        aspect-ratio: 2/5;
        width: 80%;
        height: auto;
        margin-left: 23px;
        margin-top: 7px;
    }
    .escondercotizaciones{
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 991px) {
    .badgenew {
        font-size: .6rem;
        top: inherit;
        margin-left: 6px;
    }
    ul#menu {
        margin-left: 1rem;
    }
    .ovrfl {
        left: 1%;
        max-width: 250px;
    }
    .imgGOlogin {
        
        aspect-ratio: 2/5;
        width: 100%;
        height: auto;
        margin-left: 10px;
        margin-top: 7px;
    }
    .escondercotizaciones{
        display: none;
    }
}
@media (min-width: 550px) and (max-width: 719px){
    .carousel-control-next, .carousel-control-prev {
        width: 25px;
    }
    .badgenew {
        font-size: .6rem;
        top: inherit;
        margin-left: 6px;
    }
    .escondercotizaciones{
        display: none;
    }
   

}

@media (min-width: 300px) and (max-width: 549px){
    .carousel-control-next, .carousel-control-prev {
        width: 25px;
    }
    .badgenew {
        font-size: .6rem;
        top: inherit;
        margin-left: 6px;
    }

    .escondercotizaciones{
        display: block;
    }
    .footer {
        height: 116px;
        line-height: 28px;
        background-color: #f5f5f5;
        margin-left: 0%;
        width: 100%;
        padding: 0px 10px;
    }

  
}


svg.icon.paymentTitle {
    width: 30px;
    height: 30px;
    display: inline-block;
    fill: #0bdeac;
    float: left;
}

svg.icon.payment {
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: #687684;
    float: left;
}

.go-msi {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: -90px;
}
.margen-tp{
    margin-top: 250px;
}
.page-titles 
.breadcrumb
.bradcrumb-item+.breadcrumb-item:before{
    content:" > ";
    font-family: auto;
    font-size: 1rem;
    margin-top: 0;
}
/*leo*/

@media (min-width: 280px) and (max-width: 720px){
.whats{width:9rem;height:auto;}
}
.bg-fondoGO{background:linear-gradient(90deg, rgba(0,174,239,1) 0%, rgba(0,233,156,1) 100%);}
.bgCell1{background:#00aeef;}
.bgCell2{color:#274F5E ;}
.bgCell3{background:#00DFAB; color:#FFFFFF; font-size:18px;}
/*filters*/
/*tablas OfiVirtual*/
.tableFormat{background-color: #009EFF; color: white; text-align: center; font-weight: bolder}
/* estolos pdf cotizacion*/
.bg-ampGo{background-color: #009EFF}
.bg-ampGo h4{width: 100%; font-weight: bolder; color: white; text-align: center}
.bg-otherGo h4{width: 100%; font-weight: bolder; color: white; text-align: center}
.bg-otherGo{background-color: #00dfab}
.cobertura{width: 35%; margin-bottom: 0px; display: flex; align-content: center; -moz-border-radius-topleft: 30px; -moz-border-radius-topright: 50px;}
.cobertura h3{text-align: center;width: 100%;}
.plazo{margin-bottom: 0px; -moz-border-radius-topright: 50px; -moz-border-radius-topleft: 50px; }
.plazo-align{ display: flex; flex-wrap: wrap;}
.img-pdf{margin-left: -20px; width:15%; height:auto}

youtube-player >iframe{max-width:448px;height:300px;width:100%;}
/*.mat-step-header {*/
/*    pointer-events: none !important;*/
/*}*/
/*LOGIN*/
.right-no-rounded{border-top-right-radius:0!important;border-bottom-right-radius:0!important;}
