<div class="container-fluid">
    <div class="row page-titles mx-0 go-margin-top">
        <div class="col-12 p-md-0">
            <div class="welcome-text">
                <h4 class="font-weight-bold" style="color: #3C606D;">Capacitación</h4>
            </div>
        </div>
        <!-- <div class="col-12 p-md-0 justify-content mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </li>
                <li class="breadcrumb-item"><a [routerLink]="['/admin/capacitacion']">Capacitación</a></li>
                <li style="margin-left: 18px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                    </svg>  
                </li>
                <li class="breadcrumb-item active"><a [routerLink]="['/admin/capacitacion/autos']">Autos</a></li>
            </ol>
        </div> -->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descarga</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of trainningInfo; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td class="font-weight">{{ file.nombre | removeMime }}</td>
                                <td>
                                    
                                    <a download="" [href]="googleEndpoint + file.url" class="badge text-center " style="color: #ffff; background: #00DFAB; font-size: 15px; " >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16" class="mr-2">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                                        </svg>
                                         Descargar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>