<div class="container-fluid" style="background-image:url('assets/images/login/login-back.png');background-size:contain;background-repeat:no-repeat;">
    <div class="row">
        <div class="logoFlot">
            <img class="logoLOGIN" src="assets/images/logosgo/logo-blanco.svg" alt="logotipo GO">
<!--            <img class="logoLOGIN" src="assets/images/logosgo/go-blancoprueba.svg" alt="logotipo GO" width="60px" height="24px">-->
        </div>
        <div class="ovrfl d-none d-md-block d-lg-block">
            <img src="assets/images/login/businessman-login.png" alt="imagen GO" class="imgGOlogin">
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-6 col-lg-5 offset-md-4 px-3 py-5 mt-5">
            <div class="card mt-4">
                <div class="card-body bg-white shadow border-0 rounded-go">
                    <form id="login" class="ng-untouched ng-pristine ng-valid px-4 pt-4" [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
                        <h1 class="font-weight-bold text-muted mb-4 text-center">Iniciar Sesión</h1>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <input class="form-control py-4 rounded-go" name="username" aria-label="usuario" type="text" formControlName="username" placeholder="Usuario/GO ID" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <show-hide-password size="lg" [btnOutline]="false">
                                    <input class="form-control py-4 rounded-go right-no-rounded" name="password" aria-label="Ingresa tu contraseña" formControlName="password" type="password" placeholder="Ingresa tu Contraseña"/>
                                </show-hide-password>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12">
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id="customCheckLogin" type="checkbox" (click)="acept = !acept" [checked]="rememberCheck">
                                    <label class="custom-control-label" for=" customCheckLogin">
                                        <span class="text-muted">Recordarme</span>
                                    </label>
                                    <alert *ngIf="alert.type !== ''" [alert]="alert"></alert>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="d-block mt-5">
                                    <a href="forgotPass" class="py-2 d-block">
                                            <span class="text-muted">Recuperar contraseña</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-block text-center mt-5">
                                    <button class="btn btn-primary font-weight-bold py-2 btn-block" type="submit" (click)="obtenerTokenGo();obtenerTokenPlacas()">Iniciar Sesión <img src="assets/images/login/chevron_right.svg" alt="go" width="18" height="18" /></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
