.sk-three-bounce {
    position: fixed !important;
}

.go-general-loader {
    position: fixed;
    top: 57%;
    left: 44%;
    z-index: 999;
}
.mat-progress-bar{
    position: absolute;
}
.contenedor{
    display: flex;
    width: max-content;
    height: 40px;
    line-height: 40px;
    
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}
 ul{
    list-style: none;
    padding-left: 10px;
    animation: cambiar 20s infinite;
    text-align: center;
    font-size: 18px;
}
ul, p {
    margin: 0;
}

@keyframes cambiar {
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    25% {margin-top: -40px;}
    30% {margin-top: -40px;}

    35% {margin-top: -80px;}
    40% {margin-top: -80px;}

    45% {margin-top:  -120px;}
    50% {margin-top: -120px;}

    55% {margin-top: -160px;}
    60% {margin-top: -160px;}

    65% {margin-top:  -120px;}
    70% {margin-top: -120px;}
     
    75% {margin-top: -80px;}
    80% {margin-top: -80px;}

    85% {margin-top: -40px;}
    95% {margin-top: -40px;}

    100% {margin-top: 0;}

}
@media (min-width: 321px) and (max-width: 767px) {
    ul{
      font-size: 13px;
    }
    .contenedor{
        top: -20rem;
    }
}

@media screen and (max-width: 320px) {
    ul{
        font-size: 10px;
    }
    .contenedor{
        top: -12rem;
    }
}

