<!--<div *ngIf="active" class="overlayLeo">
    <small class="text-muted text-center m-auto go-general-loader">Conectando con
        {{ aseguradoraSelected }}</small>
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>-->
<div>

    <div class="contenedor ">
        <p class="texto"></p>

        <ul class=" text">
            <li>Pagar tu póliza con TDC agiliza el pago de comisiones.</li>
            <li>Todas las compañías ofrecen  cobro MSI.</li>
            <li>Si tienes problemas manda un WhatsApp al 5619161018.</li>
            <li>Aprovecha los descuentos de hasta el 50%.</li>
            <li>Recuerda registrar tus ventas mediante tu asesor.</li>
        </ul>
        <br>

        <mat-progress-bar mode="indeterminate" ></mat-progress-bar>

    </div>

</div>

