<div class="row page-titles mx-0">
    <div class="col-12 p-md-0">
        <h3 class="col-auto font-weight-bold p-0">
            <strong>Cotización Seguro de Auto</strong>
        </h3>
    </div>
</div>
<div class="row page-titles mx-0">
    <div class="col-12 col-md-12 p-md-0">
        <div class="row">
            <div class="col-12">
                <button (click)="recotizar(false)" class="btn btn-rounded btn-danger text-right">Recotizar
                </button>
                <button (click)="htmltoPDF()" class="btn btn-rounded btn-info text-right float-right">Descargar Cotizacion
                </button>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 order-2 order-sm-2 order-md-1 order-lg-1 order-xl-1">
                <div class="card table-responsive">
                    <div class="card-header text-center">
                        Cobertura  {{cotizacion.controls['selectMarca'].value}} {{cotizacion.controls['selectDescripcion'].value}} {{cotizacion.controls['selectModelo'].value}}
                        {{cotizacion.controls['selectSubDescripcion'].value}}
                    </div>

                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-4 offset-md-2 offset-lg-2">
                                    <img _ngcontent-efo-c416="" alt="logos" style="width: 100%; display: block; height: auto; margin: auto;" class="img-fluid- mt-1"  src="assets/images/aseguradoras/{{ aseguradoraSelected }}.svg">
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 offset-md-4 offset-lg-4 m-auto">
<!--                                    <h2 class="textoTachado text-center text-muted" *ngIf="finalPrice !== 0 && (aseguradoraSelected | discountInsurance:4)">-->
                                   <h2 class="textoTachado text-center text-muted">
                                       {{ finalPrice | discountInsurance:2:aseguradoraSelected |
                                       currency:'USD':'symbol':'1.0-0' }}
<!--                                        {{ finalPrice | discountInsurance:2:aseguradoraSelected | currency:'USD':'symbol':'1.0-0' }}-->
                                   </h2>
                                   <span class="btn btn-rounded btn-info posicionDescuento" *ngIf="finalPrice !== 0 && (aseguradoraSelected | discountInsurance:4)">
                                       -{{ aseguradoraSelected | discountInsurance:1 }}%
                                   </span>
                                   <h5 class="text-center display-5 font-weight-bold" *ngIf="!finalPrice || finalPrice === 0">
                                       Precio NO disponible
                                   </h5>
                                    <h1 class="text-center display-5 font-weight-bold" *ngIf="finalPrice || finalPrice !== 0">
                                      {{finalPrice | currency:'USD':'symbol':'1.0-0'}}
                                    </h1>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="text-center" *ngIf="!messageError && (aseguradoraSelected.toUpperCase() === 'QUALITAS' ||
                         aseguradoraSelected.toUpperCase() === 'GNP' ||
                         aseguradoraSelected.toUpperCase() === 'HDI' ||
                         aseguradoraSelected.toUpperCase() === 'ABA' ||
                         aseguradoraSelected.split('_').join('').toUpperCase() === 'MAPFRE')">
<!--                                                                        aseguradoraSelected.toUpperCase() === 'GNP' ||-->
<!--                                                                        aseguradoraSelected.toUpperCase() === 'ANA' ||-->
<!--                                                                        aseguradoraSelected.toUpperCase() === 'AFIRME'||-->
<!--                                                                        aseguradoraSelected.toUpperCase() === 'ABA'||-->
<!--                                                                        aseguradoraSelected.toUpperCase() === 'GENERAL_DE_SEGUROS'||-->
<!--                                                                        aseguradoraSelected.toUpperCase() === 'MIGO'-->


                            <a class="btn btn-lg btn-success text-center m-auto" data-toggle="modal" (click)="emitir()" *ngIf="finalPrice !== 0 && finalPrice">
                                <img src="assets/images/emitir.svg" alt="emitir" width="20" height="20" class="img-fluid"> &nbsp;EMITIR PÓLIZA AHORA&nbsp;<img src="assets/images/chevron-right-bn.svg" alt=">"
                                                                    width="25" height="25" />
                            </a>
                            <br>
                            <small class="text-muted">ID: {{ quotationID }}</small>
                        </div>

<!--                        <div class="col-12" *ngIf="!messageError">-->
                        <div class="col-12" >
                            <div class="tabla">
                                <div class="table-responsive table-striped">
<!--                                    <table class="table" *ngIf="TabIndex === 'rc' && coveragesList.rc">-->
<!--                                        <thead>-->
<!--                                        <th style="width:480px;">Cobertura</th>-->
<!--                                        <th class="text-center" style="width:360px;">Suma asegurada</th>-->
<!--                                        <th class="text-center" style="width:360px;">Deducible</th>-->
<!--                                        </thead>-->
<!--                                        <tbody>-->
<!--                                        <tr *ngFor="let coverage of coveragesList.rc; let i = index">-->
<!--                                            <td>{{ coverage | showName:'multy' }}</td>-->
<!--                                            <td class="text-center">{{ coverage | showSumaRc:'multy' }}-->
<!--                                            </td>-->
<!--                                            <td class="text-center">{{ coverage | showDeducible:'multy' }}-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
<!--                                    <table class="table" *ngIf="TabIndex === 'limitada'">-->
<!--                                        <thead>-->
<!--                                        <th style="width:480px;">Cobertura</th>-->
<!--                                        <th class="text-center" style="width:360px;">Suma asegurada</th>-->
<!--                                        <th class="text-center" style="width:360px;">Deducible</th>-->
<!--                                        </thead>-->
<!--                                        <tbody>-->
<!--                                        <tr *ngFor="let coverage of coveragesList.limitada; let i = index">-->
<!--                                            <td>{{ coverage | showName:'multy' }}</td>-->
<!--                                            <td class="text-center">{{ coverage | showSumaRc:'multy' }}-->
<!--                                            </td>-->
<!--                                            <td class="text-center">{{ coverage | showDeducible:'multy' }}-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        </tbody>-->
<!--                                    </table>-->
                                    <table class="table" >
                                        <thead>
                                        <th style="width:480px;">Cobertura</th>
                                        <th class="text-center" style="width:360px;">Suma asegurada</th>
                                        <th class="text-center" style="width:360px;">Deducible</th>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let coverage of coveragesList.coberturas; let i = index">
                                            <td>{{ coverage.nombre | uppercase}}</td>
                                            <td class="text-center">{{ coverage | showSumaRc:'multy' }}
                                            </td>
                                            <td class="text-center">{{ coverage | showDeducible:'multy' }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 order-1 order-sm-1 order-md-2 order-lg-2 order-xl-2">-->
<!--                <div class="card table-responsive go-card-custome">-->
<!--                    <div class="card-header text-center">-->
<!--                        <span class="material-icons">settings</span>Personalizar mi seguro-->
<!--                    </div>-->

<!--                    <div class="card-body">-->
<!--                        <div class="row">-->
<!--                            <div class="col-12">-->
<!--                                Coberturas <span class="material-icons" matTooltip="Escoga su tiepo de Cobertura preferida." [matTooltipPosition]="'above'">info</span>-->
<!--                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="amplia">-->
<!--                                    <mat-button-toggle (change)="onValChange($event.value)" value="amplia">Amplia-->
<!--                                    </mat-button-toggle>-->
<!--                                    <mat-button-toggle (change)="onValChange($event.value)" value="limitada">Limitada-->
<!--                                    </mat-button-toggle>-->
<!--                                    <mat-button-toggle (change)="onValChange($event.value)" value="rc" *ngIf="coveragesList.rc">RC-->
<!--                                    </mat-button-toggle>-->
<!--                                </mat-button-toggle-group>-->
<!--                            </div>-->
<!--                            <div class="col-12">-->
<!--                                <hr>-->
<!--                            </div>-->
<!--                            <div class="col-12" *ngIf="defaultChecked">-->
<!--                                Formas de pago <span class="material-icons" matTooltip="Escoga su forma de pago." [matTooltipPosition]="'above'">info</span>-->
<!--                                <mat-radio-group aria-labelledby="radio-group-label" class="go-radio-group">-->
<!--                                    <mat-radio-button class="go-radio-button" *ngFor="let coberage of coverages" [value]="coberage.periodicity" [checked]="coberage.periodicity === typeRadio" (change)="radioChange($event.value)">-->
<!--                                        {{coberage.periodicity}}<small *ngIf="coberage.periodicity === 'anual'">(pago en-->
<!--                                        una sola exhibición/</small><br><small *ngIf="coberage.periodicity === 'anual'" style="margin-top: 2px;">meses sin-->
<!--                                        intereses)</small>-->
<!--                                    </mat-radio-button>-->
<!--                                </mat-radio-group>-->
<!--                            </div>-->
<!--                            <div class="col-12" *ngIf="pays[0].first">-->
<!--                                <hr>-->
<!--                            </div>-->
<!--                            <div class="col-12" *ngIf="pays[0].first">-->
<!--                                Primer pago: {{ pays[0].first | currency:'USD':'symbol':'1.0-0' }}-->
<!--                                <br> Subsecuentes: {{ pays[0].subsecuent | currency:'USD':'symbol':'1.0-0' }}-->
<!--                            </div>-->
<!--                            <div class="col-12" *ngIf="bancsMSI">-->
<!--                                <hr>-->
<!--                            </div>-->
<!--                            <div class="container-fluid" *ngIf="bancsMSI">-->
<!--                                <ul class="row">-->
<!--                                    <li class="col-3 col-sm-3 col-md-6" *ngFor="let item of bancsMSI">-->
<!--                                        <picture>-->
<!--                                            <source type="image/webp" srcset="/assets/images/bancs/{{ item }}.webp">-->
<!--                                            <source type="image/jpeg" srcset="/assets/images/bancs/{{ item }}.jpeg">-->
<!--                                            <source type="image/svg" srcset="/assets/images/bancs/{{ item }}.svg">-->
<!--                                            <img class="ekomi" src="/assets/images/bancs/{{ item }}.png" alt="{{ item }}" width="70" height="" />-->
<!--                                        </picture>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
<div style="border: 1px solid red; position: fixed; float: left; max-width: 900px; width: 100%">
<!--<div> -->
    <pdf-multy [quotationID]="quotationID" [cotizacion]="cotizacion" [aseguradoraSelected]="aseguradoraSelected" [bancsMSI]="bancsMSI" [coveragesList]="coveragesList" [coveragesAnual]="coveragesAnual" [coveragesLimitada]="coveragesLimitada" [coveragesRC]="coveragesRC"></pdf-multy>
</div>
