<loader *ngIf="loaderGo" class="tamanoLoader overlayLeo"></loader>

<div class="container-fluid">
    <div class="row page-titles mx-0" [hidden]="">
        <div class="col-12 p-md-0 mt-4">
            <h3 class="col-auto font-weight-bold p-0">
                <strong>Ingresa los datos para cotizar:</strong>
            </h3>
        </div>
    </div>
    <div class="row" [hidden]="" style="margin-bottom: 300px;">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4"  style="margin-top: 50px;">
                    <img src="assets/images/otrosRamosGo/seguro-de-hogar.png" class="mt-1 img-fluid" alt="logos" style="width:100%;display:block;height:auto;margin:auto;" />
                </div>
                <div class="col-12 col-md-8">
                    <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="margin-top: 20px;">
                        <div class="card-body">
                            <form [formGroup] = "cotizarHogar" (ngSubmit)="btnCotizar()">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="cobIncencioHogar" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Cobertura contra incendios</option>
                                            <option value="Si">Si</option>
                                            <option value="No">No</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.cobIncencioHogar.touched && erroresHogar.cobIncencioHogar.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="peligroRio" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Se enuentra cerca de algun río</option>
                                            <option value="Si">Si</option>
                                            <option value="No">No</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.peligroRio.touched && erroresHogar.peligroRio.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="coverturasAddHogar" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Coberturas adicionales</option>
                                            <option value="Si">Si</option>
                                            <option value="No">No</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.coverturasAddHogar.touched && erroresHogar.coverturasAddHogar.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="generoHogar" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Género</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.generoHogar.touched && erroresHogar.generoHogar.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="edadHogar" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Edad</option>
                                            <option *ngFor="let edadGeneradaVista of edadGenerada" value="{{edadGeneradaVista}}">{{edadGeneradaVista}}</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.edadHogar.touched && erroresHogar.edadHogar.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <input type="text" formControlName="codigoPHogar" placeholder="Código Postal" class="form-control form-control-lg"
                                               value="" maxlength="5" (blur)="updateData()" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                       <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.codigoPHogar.touched && erroresHogar.codigoPHogar.errors?.required;">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                        <div class="ml-3">
                                            Este campo es obligatorio favor de ingresar CP
                                        </div>
                                       </div>
                                       <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.codigoPHogar.touched && erroresHogar.codigoPHogar.errors?.pattern">
                                           <div class="ml-3">
                                               Campo inválido formato incorrecto
                                           </div>
                                       </div>
                                    </div>


                                    <div class="col-12 form-group">
<!--                                        se ponen 86 caracteres tomando en cuenta el nombre y apellido mas largos del mundo que es-->
<!--                                        nombre: Brhadaranyakopanishadvivekachudamani, apellido:OTTOVORDEMGENTSCHENFELDE-->
                                        <input type="text" formControlName="nombreAsegHogar" placeholder="Nombre Completo" class="form-control form-control-lg"
                                               value="" maxlength="86" (blur)="updateData()">

                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.nombreAsegHogar.touched && erroresHogar.nombreAsegHogar.errors?.required;">
                                         <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                         <div class="ml-3">
                                             Este campo es obligatorio favor de ingresar Nombre
                                         </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.nombreAsegHogar.touched 
                                            && erroresHogar.nombreAsegHogar.errors?.pattern && erroresHogar.generoHogar.value === 'MORAL'">
                                            <div class="ml-3">
                                                Campo inválido, formato incorrecto, el nombre no debe llevar espacios ni caracteres especiales.
                                            </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.nombreAsegHogar.touched 
                                            && erroresHogar.nombreAsegHogar.errors?.pattern && erroresHogar.generoHogar.value !== 'MORAL'">
                                            <div class="ml-3">
                                                Campo inválido, formato incorrecto, el nombre no debe llevar espacios, números, ni caracteres especiales.
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-12 form-group">
                                        <input type="text" formControlName="emailAsegHogar" placeholder="Email" class="form-control form-control-lg"
                                               value="" (blur)="updateData()">
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.emailAsegHogar.touched && erroresHogar.emailAsegHogar.errors?.required;">
                                         <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                         <div class="ml-3">
                                             Este campo es obligatorio favor de ingresar E-mail
                                         </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.emailAsegHogar.touched && erroresHogar.emailAsegHogar.errors?.pattern">
                                            <div class="ml-3">
                                                Campo inválido formato de e-mail incorrecto
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <select formControlName="numeroAsegHogar" class="form-control form-control-lg" (blur)="updateData()">
                                            <option value="">Número de pisos inmuebles</option>
                                            <option *ngFor="let pisosGeneradaVista of pisosGenerado" value="{{pisosGeneradaVista}}">{{pisosGeneradaVista}}</option>
                                        </select>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.numeroAsegHogar.touched && erroresHogar.numeroAsegHogar.errors?.required;">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <div class="ml-3">
                                                Este campo es obligatorio favor de seleccionar 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 form-group">
                                        <input type="text" formControlName="telefonoHogar" placeholder="Teléfono" class="form-control form-control-lg"
                                               value="" maxlength="10" (blur)="updateData()" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.telefonoHogar.touched && erroresHogar.telefonoHogar.errors?.required;">
                                         <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                         <div class="ml-3">
                                             Este campo es obligatorio favor de ingresar teléfono.
                                         </div>
                                        </div>
                                        <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="erroresHogar.telefonoHogar.touched && erroresHogar.telefonoHogar.errors?.pattern">
                                            <div class="ml-3">
                                                Campo inválido, revisa que el teléfono solo contenga números y sea a 10 dígitos.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button id="btnCotizarAuto" type="submit" class="btn btn-success btn-block" [disabled]="cotizarHogar.invalid">
                                            <p class="lead font-weight-bold my-3 text-white">Cotizar Ahora<img
                                                    src="assets/images/chevron-right-bn.svg" alt=">" width="25"
                                                    height="25" /></p>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
