<div class="container-fluid my-md-5">
    <div class="row" style="width: auto">
        <div class="col-12">
            <div id="slider" class="hovericons">
                <div class="row page-titles mx-0">
                    <div class="col-12 p-md-0 justify-content mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </li>
                
                            <li class="breadcrumb-item active"><a [routerLink]="['/admin/dashboard/principal']">Oficina Virtual</a></li>
                            <li style="margin-left: 18px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="margin-right: 9px;">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </li>
                            <li class="breadcrumb-item active"><a [routerLink]="['/admin/desactivarAseg/desactivarGo']">Administración</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-6 mx-auto">
                            <div class="col rounded d-block mx-auto">
                                <div class="card shadow-lg p-3 mb-5 bg-body nuevaFormaCaja">
                                    <div class="card-body" title="ASEGURADORA GO">
                                        <a rel="preconnect" title="ASEGURADORA GO" (click)="opcion(1)">
                                            <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white nuevaFormaNuevo">¡Nuevo! </span>

                                            <img class="rounded mx-auto d-block nuevaFormaImagen" src="assets/images/OnOffAseguradoras/ahorra-go.png" alt="log">
                                        </a>
                                    </div>
<!--                                    <strong style="text-align: center;">ASEGURADORAS GO</strong>-->
                                </div>
                            </div>
                    </div>
                    <div class="col-6 mx-auto">
                        <div class="col rounded d-block mx-auto">
                            <div class="card shadow-lg p-3 mb-5 bg-body nuevaFormaCaja">
                                <div class="card-body" title="ASEGURADORA BAZ">
                                    <a rel="preconnect" title="ASEGURADORA BAZ" (click)="opcion(2)" >
                                        <span _ngcontent-vjr-c424="" class="badgenew rounded-pill text-white nuevaFormaNuevo">¡Nuevo! </span>

                                        <img class="rounded mx-auto d-block nuevaFormaImagen" src="assets/images/OnOffAseguradoras/banco-azteca.png" alt="log">
                                    </a>
                                </div>
<!--                                <strong style="text-align: center;">ASEGURADORAS BAZ</strong>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      

    </div>
</div>


<div class="container-fluid" style="width: auto">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


