.nuevaFormaCaja{
    margin-top: 31px;
}
.nuevaFormaImagen {
    width: 120px;
    height: 100px;
}
.nuevaFormaNuevo{
    float: right;transform: scale(2.6);
}
@media (min-width: 320px) and (max-width: 425px) {
    .nuevaFormaCaja{
        margin-top: 31px;
        width: 120px;
        height: 80px;
    }
    .nuevaFormaImagen {
        width: 52px;
        height: 38px;
        margin: -19px;
    }
    .nuevaFormaNuevo{
        display: none;
    }
}
